[2022-01-28 14:03] phadej commented on #33
@andreasabel: and people try to improve that in

- https://github.com/ghc-proposals/ghc-proposals/pull/319
- https://github.com/ghc-proposals/ghc-proposals/pull/327

[2022-01-28 15:09] ulysses4ever commented on #33
@andreasabel thanks for pitching in! A link to a branch with the fix or to the corresponding commit, if it's already merged into `master`/`main` would be best (posted either here or to my email `a.pelenitsyn` on gmail.com) (e.g. https://github.com/haskell-hvr/regex-tdfa/tree/monadfail-ST). I can work with diffs too. The fix for `regex-tdfa` is already good!

[2022-01-29 11:54] Bodigrim commented on #30
Dear CLC members, let’s vote on the proposal. @cgibbard @cigsender @gwils @emilypi @chessai

[2022-01-29 11:55] Bodigrim commented on #21
@cgibbard @emilypi @gwils May I have your attention please?

[2022-01-29 17:59] cgibbard commented on #30
+1

[2022-01-29 18:00] cgibbard commented on #21
+1 to clarifying the documentation without changing the meaning as it stands.

[2022-01-29 18:18] cgibbard opened #35 "Generalise the instances of Eq, Ord, Read and Show for Compose"
Presently, Compose has the following two sensible derived instances:

[code]
These instances specify precisely what is required by the instance, and nothing more.

But also, it has these:
[code]

The constraints here are a bit silly, because they specify something much more stringent than what is required by an implementation of the class. I would propose we change the instances to the derived one

[2022-01-29 18:47] treeowl commented on #35
Yes please. I'd love to see `Eq1`, `Ord1`, etc., gradually move toward deprecation. The overgeneralization they got in the move to `base` makes them pretty painful to deal with.

[2022-01-29 18:52] thielema commented on #35
On Sat, 29 Jan 2022, cgibbard wrote:

I guess, these ones are Haskell 98 and the other ones are
FlexibleInstances, right?

[2022-01-29 18:58] cgibbard commented on #35
Yeah, the existing instances are possible under Haskell 98's restrictions, though since the module already requires FlexibleInstances, it's unclear that we should contort the other instances there to avoid it (especially when it harms the usefulness of the type in certain applications).

[2022-01-29 19:22] Bodigrim commented on #30
+1

[2022-01-29 19:24] cgibbard commented on #35
If Haskell 98 were still really a thing and there was even a single other implementation of the language which didn't support FlexibleInstances, I would maybe agree.

[2022-01-29 19:29] treeowl commented on #35
Has there *ever* been a Haskell implementation that didn't support it? I'm pretty sure at least Hugs and nhc98 did.

[2022-01-29 19:29] thielema commented on #35
On Sat, 29 Jan 2022, cgibbard wrote:

It may be the other way round: Since even simple libraries require
language extensions there will be hardly new Haskell compilers, since they
have no chance to support a useful range of libraries.

[2022-01-29 19:32] treeowl commented on #35
This would be a valid complaint about, say, GADTs. Is there any Haskell implementation strategy where flexible contexts are hard to implement? Or even more work than prohibiting them?

[2022-01-29 19:33] cgibbard commented on #35
It's actually more work to implement Haskell 98's restriction on instances than to not do so. So in this case, I don't think FlexibleInstances is holding anyone back from their implementation of the language. In fact, the counterpart to this, FlexibleContexts, was simply a bug in GHC for many years before it was named because nobody realised that what was implemented technically fell afoul of what

[2022-01-29 19:35] treeowl commented on #35
This is flexible contexts, not flexible instances. The latter has somewhat trickier complications relating to overlap and orphanhood.

[2022-01-29 19:35] cgibbard commented on #35
Oh, that does seem to be true, haha!

[2022-01-29 19:47] treeowl commented on #35
Flexible instances should almost certainly be broken up into at two different extensions, since it does (at least?) two very different things:

1. Allows a bare type variable in an instance head, such as `instance ... => Foo Int a`.
2. Allows non-variable type arguments in an instance head, such as `instance Eq (Bar Int a)`.

My own somewhat naive experience suggests that 1 is much more often nece

[2022-01-29 19:47] cgibbard commented on #35
@thielema I'd just like to say that I agree with your sentiment when it comes to many language extensions (especially everything that does anything with records, as well as LinearHaskell), but just not these ones.

[2022-01-29 19:50] treeowl commented on #35
@cgibbard I would have similar reservations about GADTs and type families, at least.

[2022-01-29 19:59] cgibbard commented on #35
Yeah, GADTs in particular I think are extremely worthwhile, but definitely a lot of additional implementation complexity (though I do think they punch over their weight class in terms of what you get -- they subsume many other extensions). Type families have all that complication, but don't seem to buy you quite as much in exchange, and there are still many things about them which seem not well en

[2022-01-29 20:17] Ericson2314 commented on #35
I think this is a subset of my https://github.com/haskell/core-libraries-committee/issues/10 ?

[2022-01-29 20:18] treeowl commented on #35
Type level computation (currently realized with type families) is really important for many GADT applications. Data families currently seem to punch well below their class, IMO.

[2022-01-29 20:23] Ericson2314 commented on #35
I agree with this, change. Not a big part of the additional quantified constraint change in #10 so that the old
[code]
in fact imply the new
[code]
rather than being logically independent (i.e. contradicting, since overlap rules preclude the "both" possibility of logical independence).

[2022-01-29 20:31] cgibbard commented on #35
True! However, I think even without the changes to the *1 classes, I would now support this because I've realised the constraints on these instances are just so blatantly incorrect. Eq a should not be required to have Eq (Compose f g a), and that restricts the kinds in an unacceptable way, even. But if we can do both, let's do both. :)

[2022-01-30 14:20] ChickenProp opened #36 "Add functions traceWith, traceShowWith to Debug.Trace"
(Historical note: originally this used `On` instead of `With`, but consensus seems to prefer `With`.)

These could be implemented simply as

[code]

I'd frequently find these functions useful when debugging, to give me just a small part of the large data structure being produced. But since I don't keep Debug.Trace imported long-term, I'm not going to have these defined as helper functions anywhere

[2022-01-30 14:30] JakobBruenker commented on #36
For what it's worth, https://hackage-search.serokell.io/ shows that neither name is defined anywhere in hackage.

[2022-01-30 17:34] andreasabel commented on #36
With `traceOn` I associate code that traces if a specific condition is fulfilled.  I'd like `traceWith` better.
Btw. something like (1)
[code]
would trivialize `traceShow` to `traceWith show`.

https://hackage-search.serokell.io/?q=traceWith lists exactly (1) as part of `DebugTraceHelpers-0.12`.
https://hackage-search.serokell.io/?q=traceShowWith has `traceShowWith` with the suggested implementati

[2022-01-30 19:21] ChickenProp commented on #36
If I was looking for these functions, I'd expect them to be named `On` by analogy with `sortOn`, `groupOn` and `nubOn`; but then, there's no `traceBy` and they can't be implemented using the `on` function, so maybe it's a weak analogy. `With` would certainly be the next choice - Data.List.NoneEmpty uses `sortWith` and `group[All]With[1]` (plus GHC.Exts defines a different `groupWith`), but I've [p

[2022-01-31 08:14] andreasabel commented on #36
_Language is what people speak._
(Esperanto is the exception here, but it did not really catch on, did it?, despite best efforts.)

So, in picking a name for a function the first thing I ask myself is what name people have used before...  (I.e., going on a field study...)

[2022-01-31 08:17] treeowl commented on #36
@andreasabel, Esperanto has done quite well as conlangs go. I have a friend who speaks it with her children, as well as Esperanto-speaking friends.

[2022-01-31 08:49] andreasabel commented on #36
Haha, should have abstained from that comment...

[2022-01-31 11:23] ChickenProp commented on #36
I will note that I am also a person. I haven't published anything using `On`, but I still "speak the language" where this is called `On`.

Like, it seems reasonable to say "it looks like more people would expect `With` than `On` here", those search results are definitely evidence for that. But I don't think we're at the point of "it's clear that a clear majority of people will expect these to be `

[2022-01-31 15:12] ulysses4ever commented on #33
Three more failures:

- Agda-2.6.2.1
- vty-5.33
- zenacy-html-2.0.4

[Build output is here][breaks]. There are 5 packages depending on these and failing to build.

[breaks]: https://julia.prl.fit.cvut.cz/~artem/mfail-st/round2/list.html

[2022-01-31 16:13] andreasabel commented on #33
The fix for the above error in Agda is here: https://github.com/agda/agda/tree/fail-ST (https://github.com/agda/agda/pull/5766).

[2022-02-01 00:12] Bodigrim commented on #21
With 4 votes out of 6 in favor, the proposal https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7333 is approved. Thanks everyone.

[2022-02-01 00:12] #21 closed

[2022-02-01 00:14] Bodigrim commented on #30
@emilypi @chessai @cigsender just a gentle reminder.

[2022-02-01 05:26] chessai commented on #30
+1

[2022-02-01 15:36] cigsender commented on #30
+1

[2022-02-01 20:28] Bodigrim commented on #30
Thanks all, approved.

[2022-02-01 20:28] #30 closed

[2022-02-06 03:00] ulysses4ever commented on #33
Dear all, I successfully built the whole Stackage (the version presented on `Bodigrim/clc-stackage`). The set of failing packages has not changed — it's 11 packages:

(details are above). Two of these (`Agda` and `regex-tdfa`) have patches submitted by the maintainer (thanks Andreas!). The rest 9 I patched myself and uploaded to this GH org: https://github.com/hs-monadfail-st-remove. Most of the p

[2022-02-06 10:14] phadej commented on #33
@ulysses4ever it would be great if you can make a patch, then CLC could vote (if I understand the process correctly).

[2022-02-07 02:43] ulysses4ever commented on #33
Here we go: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7501

[2022-02-09 11:29] phadej commented on #33
The MR passes CI, thanks @ulysses4ever.

I therefore submit this proposal for vote to CLC. ping @Bodigrim

[2022-02-09 12:49] tomjaguarpaw commented on #33
I'm not sure what this spirit is. Could the spirit be documented, at the same time as the removal of the instances, so that no one considers adding similar instances in the future?

I suspect the spirit is something like "`fail s` should be something actually in the monad itself, not an exception (except in instances of `MonadIO`)".

[2022-02-09 13:51] ekmett commented on #28
There's a fourth option as well

[code]

with implementations for string types. This would render support for MonadFail for Either about the same level of quality it had access to through the orphan `Error` based code in the `mtl`, possibly with the `mtl`'s Error class adopting such a class as a superclass to ensure consistency.

Now I'm not stuck tying my behavior to that of `IsString`, which I m

[2022-02-09 17:46] andreasabel commented on #28
I am in principle opposed to promote `MonadFail` any further.
I currently do not see how the proposed addition would encourage good programming style.
The previous discussion has some examples in https://gitlab.haskell.org/ghc/ghc/-/issues/12160#note_121272, but they do not convince me.  Maybe @treeowl you want to reveal the examples that fuel your proposal.

[2022-02-09 21:47] cgibbard commented on #23
I don't feel super-strongly about it, but what you have there at the moment looks good to me -- seems natural to uniformly flip the arguments.

[2022-02-10 00:52] ulysses4ever commented on #33
@Bodigrim I'm happy to. Do you mean to put the explanation in the changelog or what? I'm afraid the changelog will be lost in the internets pretty fast (I always have trouble looking up changelogs for past releases).

Btw, thanks, Tom, for bringing this up. I agree that an explanation is in order.

[2022-02-10 00:53] Bodigrim commented on #33
I mean, let's put the explanation into haddock for `MonadFail`.

[2022-02-10 06:04] phadej commented on #33
@Bodigrim I'd prefer deliberately avoiding "scope creep". If the CLC will need one or two things to approve the proposal I'd prefer them to come in a single review, not one-by-one.

I'd suggest @ulysses4ever to wait until others CLC members have raised their opinion.

[2022-02-10 08:15] tomjaguarpaw commented on #33
As far as I'm concerned, putting in guard rails to reduce the chance that the fix regresses in the future is an essential part of the fix.

[2022-02-10 09:00] phadej commented on #33
I'm in favor of adding the documentation, but as a contributor I'm get frustrated when there are "could you do one more thing" "sure" "could you do one more thing" "sure" loop. This is why I ask CLC to vote on the change.

The process is too heavy if the PR has to be perfect before CLC bothers to vote.

[2022-02-10 09:56] tomjaguarpaw commented on #33
I sympathise with that. I'm in favour of PRs doing something as simple as possible (but no simpler). I don't know the full details of how the CLC votes, but perhaps it's possible to vote on three possibilities (no change, remove the instances only, remove the instances *and* add docs).

[2022-02-10 19:57] Bodigrim commented on #33
Dear CLC members. Let's vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7501. As long as we agree on it, the justification for the change (that `fail = error` is not an option) can be added and bikeshedded separately as a part of documentation process.

CC @emilypi @tomjaguarpaw @cgibbard @chessai @cigsender

----

+1 from me.

[2022-02-10 20:23] tomjaguarpaw commented on #33
+1

[2022-02-14 15:43] phadej opened #39 "Fast-track unique lawful instances"
There *was* a principle about

but the decision is hard to find and reference. (One indirect reference is in https://mail.haskell.org/pipermail/libraries/2019-April/029480.html, but I remember seeing it used to justify adding new instances to base).

---

I therefore request current CLC to either publicly acknowledge or reject this principle.

[2022-02-14 15:47] andreasabel commented on #39
Would that principle have fast-tracked the famous _`Foldable` WAT_?
- https://mail.haskell.org/pipermail/libraries/2016-February/026678.html
- https://github.com/puffnfresh/wat-collection/pull/25/files

[2022-02-14 16:07] andreasabel commented on #39
Ok, then I suggest the current CLC reject this principle.

[2022-02-15 00:45] Bodigrim commented on #39
I cannot find any CLC vote on the matter. More importantly, I cannot distill a precise meaning of the statement: what kind of "fast-tracking" we are talking about if a vote is in order anyway, and who and how decides whether an instance is "unambiguous" and "well determined".

It might be that previous CLC used to have a working convention of some sort, but it was not enshrined in writing and is n

[2022-02-15 00:46] Bodigrim commented on #33
@emilypi @cgibbard @chessai @cigsender just a gentle reminder about the vote.

[2022-02-15 15:06] cigsender commented on #33
+1

[2022-02-15 17:02] michaelpj opened #40 "Add `fromIntegerMaybe` to `Num` for safe numeric conversions"
EDIT: see revised proposal [below](https://github.com/haskell/core-libraries-committee/issues/40#issuecomment-1084395951).

It's fashionable to complain about `Num`, and very difficult to change it, given how pervasive it is. This is a small proposal that I think might actually be implementable and provide a meaningful improvement to the status quo. I expect it may well be more effort than it's wo

[2022-02-16 09:49] michaelpj commented on #40
Both good suggestions, thanks.

[2022-02-16 10:47] Daniel-Diaz commented on #40
I don't have much to add, but I would appreciate something like this for `Num`. For numeric literals, `fromInteger` works great. But outside of that, I think `fromIntegerMaybe` is what's needed most of the time.

[2022-02-17 21:24] emilypi commented on #33
🔥 +1

[2022-02-17 23:45] Bodigrim commented on #33
4 votes out of 6 are enough for approval, thanks all.

@ulysses4ever @phadej since this is a breaking change, could you please prepare a migration guide along the lines of https://github.com/haskell/core-libraries-committee/blob/main/guides/no-noneq-in-eq.md ?

[2022-02-19 17:47] ChickenProp commented on #36
CLC, can you vote on this please?

[2022-02-19 18:08] tomjaguarpaw commented on #36
I like the idea of doing something along these lines. Taking the name `traceWith` by way of example, I think we have

[code]

To me those read more nicely than the `On` versions:

[code]

I can imagine replacing _all_ my uses of the existing `Debug.Trace` above with simple applications of `traceWith`! That makes me think it is worthwhile adding.

The last equation makes me think we shouldn't add `

[2022-02-19 18:25] Bodigrim commented on #36
@ChickenProp sorry for dropping the ball. I've just posted this link [on Reddit](https://www.reddit.com/r/haskell/comments/swgeis/proposal_add_functions_traceon_traceshowon_to/), hoping for a wider community discussion of the proposal.

[2022-02-19 18:28] noughtmare commented on #36
If this goes through, I would also expect a `traceEventOn`/`traceEventWith`.

[2022-02-20 03:37] re-xyr opened #41 "Add `Fractional`, `Floating` and `IsString` instances to `Data.Monoid.Ap`"
### Motivation

`Ap` has "lifted" instances for `Num`, `Bounded`, `Monoid` and `Semigroup`:

[code]

So by `deriving via (Ap f a)`, any applicative wrapper `f` over types `a` that have instances for those classes can provide lifted instances for notational convenience. I.e. instead of `liftA2 (+) (pure 1) (pure 2)` we can instead write `1 + 2`.

There are other classes in `base` that also have tri

[2022-02-20 07:03] vlatkoB commented on #36
Maybe `traceAs` would be clear that we want to show it As something else, `traceAs :: (a -> String) -> a -> a`?
And `traceOn` would be `traceOn :: (a -> Bool) -> a -> a`, a conditional `trace`?

[2022-02-20 09:04] tomjaguarpaw commented on #41
`Fractional` and `Floating` were [discussed previously](https://github.com/haskell/core-libraries-committee/issues/32) and soft-rejected.

[2022-02-20 09:12] re-xyr commented on #41
I see, then I'm closing this.

[2022-02-20 09:12] #41 closed

[2022-02-20 09:15] chshersh commented on #36
[relude](https://github.com/kowainik/relude) has the [`traceShowWith`](https://hackage.haskell.org/package/relude-1.0.0.1/docs/Relude-Debug.html#v:traceShowWith) function in the same spirit as proposed here.

If you're interested in more context behind introducing this function, you can check the original discussion:

* https://github.com/kowainik/relude/issues/301

[2022-02-20 09:37] tomjaguarpaw commented on #36
Thanks @chshersh. Did you consider a function of type `(a -> String) -> a -> a`? To me that seems like the more important one to add. Repeating what I said above, `traceShowWith f = traceWith (show . f)` but to get `traceWith` in terms of `traceShowWith` you have to do something like

[code]

Unless I've missed something, the relative simplicity of one direction and the relative complexity of the

[2022-02-20 09:48] chshersh commented on #36
@tomjaguarpaw The person who implemented the PR only wanted the `Show` version. I don't mind having `traceWith` in relude with the proposed type signature 👍🏻  So anyone who cares enough can open a PR 🙂

[2022-02-20 09:49] tomjaguarpaw commented on #36
OK, thanks.

[2022-02-20 11:50] ChickenProp commented on #36
This is another thing I'm not inclined to fight about, but I'd expect the vast majority of my uses to use `show`. Having the extra function feels worth it to me, but I don't really know how to evaluate such questions in general. E.g. I might almost never use it if I typicaly had a prettyprinter imported.

[2022-02-20 11:53] ChickenProp commented on #36
Agree, thanks. I've added this to the top so it doesn't get lost.

[2022-02-20 11:54] tomjaguarpaw commented on #36
Sure, probably mine too! I'm just saying that typing `traceWith (show . f)` seems so little different from typing `traceShowWith f` that it doesn't seem worth adding the latter (and frankly I'd have said the same about `traceShow` if I'd been asked at the time!).

[2022-02-20 12:08] ChickenProp commented on #36
I'm kinda surprised the name was chosen to be consistent with `sortWith` and not `sortOn` - it looks like even from the first version, relude [offered](https://hackage.haskell.org/package/relude-0.1.0/docs/Relude-List-Reexport.html) both of those names, but `sortOn` was reexported from Data.List and `sortWith` from GHC.Exts. So I'd have expected `On` to be the version most people turn to by defaul

[2022-02-20 12:18] chshersh commented on #36
@ChickenProp `sortOn` and `sortWith` have different performance characteristics and their implementations are actually different.

[2022-02-20 12:23] tomjaguarpaw commented on #36
Yes, it seems that [`sortWith`](https://www.stackage.org/haddock/lts-18.25/base-4.14.3.0/src/GHC-Exts.html#sortWith) is needlessly inefficient. Perhaps they have a reason to not want to memoize the sort key, but if they do they don't say so in the docs!

([`sortOn`](https://www.stackage.org/haddock/lts-18.25/base-4.14.3.0/src/Data-OldList.html#sortOn), for comparison)

[2022-02-20 12:28] chshersh commented on #36
@tomjaguarpaw `sortWith` is not needlessly inefficient. `sortOn` caches the result of a function and sorts a list of pairs. But if you want to sort e.g. list of records by a single field, you don't need to memorize the result of a field in a separate element of a tuple. In that case, `sortWith` will be actually faster and it will allocate less memory.

Improving the docs is always great 🙂  We wrot

[2022-02-20 12:28] thielema commented on #36
On Sun, 20 Feb 2022, tomjaguarpaw wrote:

OT: There is a memoizing sort on keys in:
    https://hackage.haskell.org/package/utility-ht-0.0.16/docs/Data-List-Key.html#v:sort

[2022-02-20 12:35] tomjaguarpaw commented on #36
The reason that I prefer to avoid `On` for this is that there seems to be a pattern of calling something `funcOn` when there is `funcBy` and `funcOn f = funcBy (relevantComparison `on` f)`, e.g.

[code]

I think we *should* try very hard to get this name right. We're going to be stuck with it for the entire future of Haskell.

[This is an elaboration of what @ChickenProp [observed above](https://g

[2022-02-20 12:36] tomjaguarpaw commented on #36
Aha, I see, thanks. Anyone who submits a documentation PR to explain that will have my gratitude.

[2022-02-21 02:12] ulysses4ever commented on #33
@Bodigrim #42

[2022-02-21 17:58] georgefst commented on #36
Speaking from my own experience of a few years of having both of these functions defined in the preludes of some of my projects, `traceShowOn` is the one I reach for >95% of the time. In practice, when you want to quickly reach for an `a -> String` function for debugging, `show` is almost always what you want if it's available.

In an environment with autocompletion (e.g. HLS), entering `traceShow

[2022-02-22 09:21] Kleidukos opened #43 "Clarifying the situation of the packages under the github.com/haskell organisation"
I know the subject has been raised a couple of times in private discussions, but I'd like to know the official position of the CLC regarding the repositories in the Haskell organisation.

Most of them do belong to the following groups:

1. "core" and "boot" packages;
2. IDE packages (HLS, hie-bios, VScode extension, haskell-mode for emacs);
3. Infrastructure like Hackage, docker image, etc

And th

[2022-02-22 12:24] treeowl commented on #43
1. I don't think there's been any formal process to that effect.
2. Effectively automatic. They can take whatever privileges they need when they need them.
3. Compatibility with recent (not latest) GHC versions is not required, to the best of my knowledge.

[2022-02-22 12:59] Kleidukos commented on #43
@treeowl Thank you for the insights. I wonder if some of those packages would best live elsewhere if they do not have an official relationship with the Core or Boot libraries, or even be compatible with a recent (let's stay 8.10.7 as it's considered an LTS) compiler.

[2022-02-22 13:20] treeowl commented on #43
Do you know of any packages in the `haskell` organization that are not core/boot packages and are not compatible with the last few GHC versions?

[2022-02-22 13:50] Kleidukos commented on #43
Yes:

* critbit is not compatible with 9.2, 9.0 or 8.10
* hoopl is not compatible with 9.2, 9.0 or 8.10
* text-format is not compatible with 9.2, 9.0 or 8.10
* bzlib is not compatible with 9.2, 9.0 or 8.10
* network-bsd is not compatible with 9.2
* wreq is not compatible with 9.2
* ThreadScope needs stack, cannot build with cabal on the last 3 compilers

[2022-02-22 13:54] Kleidukos commented on #43
@treeowl Is this something that's been mutually agreed upon when the original maintainers have transferred their packages to the Haskell organisation? Do we risk any conflict if the Haskell admins rightfully use their prerogative?

[2022-02-22 14:33] gbaz commented on #43
There is no risk of conflict. The purpose and nature of github orgs is that admins can add more people to the projects within them.

I do not believe there is any sense in asking these projects adopt GRC, which is only for HF affiliation. And I do not believe there is any purpose in asking that there be any continued standards of code quality and maintainership.

The haskell github organization wa

[2022-02-22 17:03] goldfirere commented on #43
I respectfully disagree with @gbaz, above, about the role of github.com/haskell in our ecosystem -- specifically, around the GRC and code quality / maintainership.

github.com/haskell is part of our front lobby for the Haskell programming language, along with haskell.org and perhaps a few other places. Accordingly, github.com/haskell should present our best face forward. The projects here should h

[2022-02-22 17:25] ChickenProp commented on #36
Yeah, and I like this pattern. I guess where we differ is it feels to me like `traceOn` here would fit with it, like an extension rather than a violation? Like, "we haven't yet seen what this pattern does in this situation, it might do this thing or it might do this other thing". Where the way it fits is "`funcOn` is `func`, but taking an additional function to use as a projection".

But it's a bi

[2022-02-22 18:11] TikhonJelvis commented on #36
Since we already have `trace` *and* `traceShow`, I would expect both `traceWith` *and* `traceShowWith` as a user. `traceShowWith` is pretty close to `traceWith (show . f)` and `traceShow` is pretty close to `trace . show`, so there's a reasonable case that neither is worth defining—but I don't think there's a reasonable case to define one but not the other.

In practice, I've found `traceShow` to

[2022-02-22 18:24] gbaz commented on #43
In my experience, I have never seen anyone consider a github organization as a "front lobby". They see it as a grab-bag of repos, some of which are active, some of which are legacy. The individual project repos are what they focus their attention on. This is in part because organizations don't have any standard place to present a "public face" in terms of a single place for a README, etc. Nearly e

[2022-02-22 18:59] goldfirere commented on #43
I do. That is, when I'm looking at a repo, I will look to see who owns it. Depending on what I find, I will adjust my expectations of that repo. If it's a person I've never heard of before, I react accordingly -- not knowing what, exactly, to expect. On the other hand, if I see that a repo is in the main org of a large project, I will expect a certain quality level. Maybe this isn't a "front lobby

[2022-02-23 08:42] tomjaguarpaw commented on #43
On visiting <https://github.com/python> I expect it to be an official repo, and I  expect that what goes on there reflects the Python community broadly. Part of my rationale for that is that the header of the organisation page displays the official Python logo, and it links to <https://www.python.org/>.  Those are *strongly* suggestive of officialness, to me.

Now, the header of <https://github.co

[2022-02-23 08:49] Kleidukos commented on #43
@tomjaguarpaw I have a `governance` repository for the Haskell Cryptography Group that clarifies a bunch of things: https://github.com/haskell-cryptography/governance.
Maybe this can give you some ideas. :)

[2022-02-23 09:55] tomjaguarpaw commented on #43
@Kleidukos Nice detailed documents, thanks for the pointer. It would be great if eventually <https://github.com/haskell> could have something similarly detailed, but for now even the basic step of having a named group of responsible people and an explanation of what exactly are their responsibilities would be a great improvement.

[2022-02-23 18:56] andreasabel commented on #43
My 2 cents:
I do agree that https://github.com/haskell has the air of office and power.
I'd think that this org is a great place for libraries and tools vital for the Haskell ecosystem (recently `alex` and `happy` moved to this home).
Also, I expect a high standard of maintenance of packages admitted here.  (Legacy packages can remain here but should be explained as such.)

Since this repo has the

[2022-02-23 19:33] phadej opened #44 "Is member list in README up to date?"

[2022-02-23 19:36] tomjaguarpaw commented on #44
No, but there is an outstanding PR to bring it up to date: https://github.com/haskell/core-libraries-committee/pull/38

[2022-02-23 19:39] phadej commented on #44
I see. Classical scope creep by trying to do many things at once!

[2022-02-23 20:04] Bodigrim commented on #44
Updated, thanks for reminding.

[2022-02-23 20:04] #44 closed

[2022-02-25 00:49] Zemyla opened #45 "Export minusNaturalMaybe from Numeric.Natural"
The function `minusNaturalMaybe` already exists in `GHC.Natural`, is safe, and is faster and more total than comparing two `Natural`s and optionally subtracting them.

[2022-02-25 14:53] cigsender commented on #45
This particular definition of `minusNaturalMaybe` uses primitives, so it would be marginally faster than the obvious workaround would be, handwritten. If you'd like to draw up a PR for us to vote on, I'd most likely be in favour.

[2022-02-25 15:01] cigsender commented on #39
From what I understand, `Functor` is the prototypical example of a "unique lawful instance": if there exists an implementation, then that implementation is uniquely determined by its structure. However I don't believe that bare tuples should be given more inherent functionality than strictly necessary: relying on `instance Foldable ((,) a)` is a code smell, and a sign that your domain logic is com

[2022-02-27 01:52] Gabriel439 opened #46 "Add `Control.Exception.throwIOLeft`"
This function has type:

[code]

I already created a pull request for this here:

https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7550

… and was told to open an issue here:

https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7550#note_411713

Edit: Here is the motivation copied from the original PR:

actions of type `IO (Either e a)`

a utility of type:

[2022-02-27 21:20] andreasabel commented on #46
It should be mentioned that a more special case already exists in `mtl-2.2.2`:
[code]

[2022-02-28 13:52] mpickering opened #47 "Remove default method from Bitraversable"
# Background

The `Bitraversable` class generalises the `Traversable` class to allow traversing over structures with two different types of holes.

[code]

The class contains a default implementation for `bitraverse`:

[code]
# Motivation

The problem is that the default instance leads to an infinite loop. `bisequenceA` is defined in terms of `bisquence` which is defined in terms of `bitraverse`.

[2022-02-28 14:32] andreasabel commented on #47
+1, of course.  The current status quo is just broken.

[2022-02-28 19:24] Bodigrim commented on #47
This is long overdue, so I'd like to trigger a vote immediately. Dear CLC members, please vote on removal of default definition of `bitraverse`. This is a rare case, when such change does not qualify as breaking, because any instance, which relies on it, necessarily diverges in runtime. CC @chessai @tomjaguarpaw @emilypi @cgibbard @cigsender

----

+1 from me.

[2022-02-28 19:25] cigsender commented on #47
+1 broken stdlib code bad!

[2022-02-28 19:32] tomjaguarpaw commented on #47
+1

(I would be interested to learn how we got to this state in the first place. Was `bisequence` previously a class member?)

[2022-02-28 20:09] chessai commented on #47
+1

[2022-02-28 20:13] cgibbard commented on #47
+1 Yeah, I'd like to know as well. It definitely feels like the sort of thing that might be useful if bisequenceA had been a class method, but given that it's not, it should definitely not be left sitting there.

[2022-02-28 20:35] treeowl commented on #47
Back in `bifunctors-5`, `bisequenceA` was a method. It was removed in `bifunctors-5.1`. `bimapM` was removed at the same time, which seems slightly more unfortunate.

[2022-02-28 20:49] emilypi commented on #47
+1

[2022-02-28 20:55] Bodigrim commented on #47
Approved unanimously. @mpickering ping me when there is an MR ready to approve.

[2022-03-01 16:38] mpickering commented on #47
Thanks, MR: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7687

[2022-03-01 17:49] Garfield1002 opened #48 "Improve performance of `permutations`"
# Improve performance of `permutations`

This new implementation of permutations seems "considerably" quicker while being (in my opinion) more readable.

## 💬 Intro

While working on a Project Euler problem, I decide to test a lot of different implementations for calculating permutations of a list, to my greatest surprise, it seems as if there is an implementation that is quicker than that in the

[2022-03-01 18:13] nomeata commented on #48
Using `length` may possibly give skewed results due to laziness. What happens if you `nf` (from `deepseq`) the lists, or maybe use `sum . map sum` to force everything?

It looks like your implementation could be done with `foldr`, which would make the function a good consumer for list fusion, right?

[2022-03-01 18:31] konsumlamm commented on #48
GHCi benchmarks are generally not very representative, since it's an interpreter and does no optimizations. I think you should do benchmarks that are actually compiled with optimizations.

[2022-03-01 19:18] andreasabel commented on #48
@Garfield1002 : While you are benchmarking (with `criterion`?), you could also benchmark this accumulator-free version, which has the advantage that it is obviously correct and produces the permutations in a canonical way.  (I obtained it from your version by removing the accumulator.)
[code]
(I agree that the current implementation looks horrible and probably has a non-trivial correctness proof,

[2022-03-01 19:28] Garfield1002 commented on #48
Thank you for the feedback,

I modified the tests to use `sum . map sum`

Here are the results

[code]

## Compiled test

I also did some tests with the compiled version.

Here's the main function

[code]

I ran the tests 5 times on the 3 different optimization modes using a [python script](https://gist.github.com/Garfield1002/642e597e4a85c1598d20c77ddf196d8d)

Here are the average execution times

[2022-03-01 19:46] chessai commented on #48
@Garfield1002 could you set up some benchmarks using tasty-bench, gauge, or criterion?

[2022-03-01 19:46] treeowl commented on #48
I know a *lot* of work went into the current implementation to ensure both maximal laziness and good performance. You can find info on that, including links to development/discussion history [in this Stack Overflow answer](https://stackoverflow.com/a/24564307/1477667) by @twanvl, who wrote the current implementation. Please be careful not to lose laziness or make anything perform asymptotically wo

[2022-03-01 19:58] Garfield1002 commented on #48
@treeowl  thank you for your answer, the implementation I submitted loses laziness.

[2022-03-01 19:58] #48 closed

[2022-03-01 23:33] #47 closed

[2022-03-01 23:38] Bodigrim commented on #36
@ChickenProp could you please prepare a specific proposal for CLC to vote? Would you like to pursue adding `traceEventWith`?

[2022-03-01 23:58] ChickenProp commented on #36
Yes to `With`, but I guess I'm not 100% on what you're looking for that's different from what I've currently written. Just an unambiguous "this is the final complete proposal" with all relevant detail?

(If so, to check: is that better to edit into the top post or to put in thread? Better to have `traceWith` and `traceShowWith` as separate proposals, or as one monolithic one?)

[2022-03-02 00:13] ChickenProp commented on #46
Though this isn't quite a special case because of `Exception`s other than `IOException`.

[2022-03-02 08:51] andreasabel commented on #48
Thanks for the pointer.
But I wonder, if all kinds of clever thoughts and laziness and performance considerations went into the current implementation of `permutations`, then why is there no trace of this in the source code?
https://gitlab.haskell.org/ghc/ghc/-/blob/master/libraries/base/Data/OldList.hs#L1123
This is the whole documentation:

Is this all the engineer could say about
- the behavior

[2022-03-03 18:28] phadej commented on #29
Can CLC act on this proposal. Either accept, reject or suggest a change?

[2022-03-03 18:37] Bodigrim commented on #29
I'd vote yes for exporting `build` from `GHC.List`, but not from `Data.List`. This way we accomplish the goal (even while I personally believe that Safe Haskell is a mis-feature), but avoid potential name clashes and do not promote this internal utility to a blessed, user-facing API. @cgibbard @tomjaguarpaw @emilypi @chessai @cigsender non-binding opinions please?

[2022-03-03 19:32] tomjaguarpaw commented on #29
I agree that exporting `build` from `GHC.List` is a good first step. It resolves the original problem that @phadej reported, because `GHC.List` is Trustworthy. It seems reasonable to defer the question of exporting it from `Data.List` to another discussion.

[2022-03-03 22:25] cigsender commented on #29
I concur that `GHC.List` makes the most sense as the module from which `build` gets exported!

[2022-03-04 12:04] AndreasPK opened #49 "Data.Array.Byte should also export `MutableByteArray`"
Because it makes no sense to do this for immutable ones but not mutable ones.

That's all.

[2022-03-04 12:06] AndreasPK commented on #49
The prompt was https://gitlab.haskell.org/ghc/ghc/-/issues/20620 where I wondered if it could be extended to MutableByteArray. But that would require this change.

[2022-03-04 15:27] bgamari commented on #49
The rationale for the decision not to export `MutableByteArray` is documented in https://gitlab.haskell.org/ghc/ghc/-/issues/20044#note_403703.

In short, `Data.Array.Byte` currently seeks to provide the `ByteArray` type, some instances, and nothing more. In particular, exporting `MutableByteArray` with any sensible operations would require that `MonadPrim` be moved into `base`. Understandably, th

[2022-03-04 15:56] AndreasPK commented on #49
In my opinion base can reasonably provide a lifted wrapper for a unlifted type without providing operations on the lifted variant.

This would cut down on different names/types being used in different libraries for what amounts to the same thing.
Even if these libraries have to define their own operations for working with such a type, they could still pass such a type between them easier if a comm

[2022-03-04 15:59] bgamari commented on #49
Yes, I suppose you could simply export the type given that none of the instances for `MutableByteArray` provided by `primitive` (`Eq` and `Data`) appear to rely on `MonadPrim`.

[2022-03-04 22:10] chessai commented on #29
+1 to exporting from GHC.List

[2022-03-05 19:27] Bodigrim commented on #29
@phadej  Given the feedback above, I suggest to modify the proposal to export `build` from `GHC.List` instead of `Data.List`. If you are happy to proceed, we can trigger a vote as soon as an updated MR is available.

[2022-03-05 19:30] Bodigrim commented on #33
Thanks all, the change has been merged in GHC, and I advertised the migration guide on Reddit.

[2022-03-05 19:30] #33 closed

[2022-03-05 19:35] Bodigrim commented on #49
Originally I decided against exporting `MutableByteArray`, because there are no utilities available without `MonadPrim` in `base`. But I agree with @AndreasPK that it makes sense to export even a type itself + `instance Eq` + `instance Data` (similar to `primitive`).

[2022-03-06 10:45] phadej commented on #29
I update this PR and GHC MR to re-export `build` and `augment` from `GHC.List`.

[2022-03-06 13:58] tomjaguarpaw commented on #36
@ChickenProp I think @Bodigrim might mean "please submit a PR on GitLab". That seems to have been required for other proposals to receive a vote.

[2022-03-06 14:03] tomjaguarpaw commented on #46
It looks to me like this is useful. @Gabriel439 has motivated its inclusion well. I think the only remaining question is whether we can remove duplication with `liftEither`, or perhaps change its naming so its relation

[2022-03-06 14:04] tomjaguarpaw commented on #46
It looks to me like this is useful. @Gabriel439 has motivated its inclusion well. I think the only remaining question is whether we can remove duplication with `liftEither`, change its name so its relation to `liftEither` is clearer, or perhaps just note the similarity in the docs.  I haven't thought about it very hard but perhaps the last suggestion is the only practical one.

[2022-03-06 14:13] tomjaguarpaw commented on #29
I vote in favour of this MR.

[2022-03-06 14:18] tomjaguarpaw commented on #49
This sounds sensible to me too, to prevent proliferation of third party wrappers. However, it seems that [`MutableByteArray` has an `NFData` instance](https://www.stackage.org/haddock/lts-18.27/primitive-0.7.3.0/Data-Primitive-ByteArray.html#t:MutableByteArray) too. Presumably that would have to be moved into `deepseq`?

I'm not particularly familiar with this corner of the ecosystem, so apologies

[2022-03-07 01:00] ChickenProp commented on #36
Ah, thanks, that makes sense. I confess I was hoping someone else would take it upon themselves to do the busywork :p But I certainly can do so, and probably in the next few days.

(Also, whoops, I misread "Would you like to pursue adding `traceEventWith`?" as "do you want to go ahead with the `With` versions of the names?" To the actual question: yes, I think `traceEventWith` would be good too.)

[2022-03-07 12:52] mpickering commented on #33
Thanks for the little migration guide. I have updated head.hackage with the relevant patches.

[2022-03-07 19:09] Bodigrim commented on #49
Yes, same as `ByteArray`.

----

@AndreasPK could you please prepare an MR, adding `MutableByteArray` with `Eq` and `Data` instances? We can trigger a vote once such MR is available.

[2022-03-07 19:13] Bodigrim commented on #46
@Gabriel439 could you please copy the motivation from https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7550 to this thread as well?

[2022-03-07 19:13] cgibbard commented on #29
+1

[2022-03-07 23:28] ChickenProp commented on #36
Created a merge request at https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7729.

[2022-03-08 05:00] andreasabel opened #50 "Export `liftA2` from `Prelude`"
(Transfered from https://gitlab.haskell.org/ghc/ghc/-/issues/20945):
As alternative to `<*>` method `liftA2` can be used to instantiate `Applicative`, but only the former is exported from `Prelude`.  I propose to also export the latter, for reasons of symmetry and clarity of error messages.

Detailed, anecdotic motivation:  Consider:
[code]
Since `base` shipped with GHC 8.2, this gives the followi

[2022-03-08 05:24] andreasabel commented on #46
So we'd have
[code]
both below the Fairbairn threshold.  But I concur that writing `either ... pure` is somewhat ugly.  A more versatile tool would be, maybe:
[code]
I'd be fine with writing `fromRightM throwError` instead of `liftEither` and `fromRightM throwIO` instead of `throwIOLeft`.

[2022-03-08 05:46] treeowl commented on #50
Well I'm certainly in favor!

[2022-03-08 09:08] googleson78 commented on #50
Thanks! :bow:

And please! I use `liftA2` *way* more often than I use `(<*>)` too, regardless of symmetry and clarity of error messages.

[2022-03-08 09:13] googleson78 commented on #50
I also believe it's more beginner-friendly - it's always what I show first when teaching (instead of `(<*>)`). Explaining "lift this 2-argument function" is easier understood imo once you've seen a `Functor` which "lifts a 1-argument function" compared to the "scary" `f (a -> b)`. And beginners are the most affected by what's available by default, imo.

[2022-03-08 21:47] cigsender commented on #29
+1

[2022-03-08 22:02] Bodigrim commented on #36
Shall we add `traceEventShowWith`? Or is it too much?

[2022-03-08 22:21] TikhonJelvis commented on #36
What problems could including that function cause?

My rule of thumb is that when we have a pattern, we should keep the pattern complete unless we have a specific reason not to. Consistency helps me because I don't have to remember which functions are defined and which ones aren't, I can just learn the pattern and rely on it when I'm iterating on code (or, in this case, when I'm systematically deb

[2022-03-08 22:31] ChickenProp commented on #36
I would have added it if there was `traceEventShow`, and I'd be happy to add them both. But I dunno if they'd be valuable. I don't use the event log much myself so I don't know its usage patterns.

[2022-03-09 04:07] emilypi commented on #29
+1

[2022-03-12 00:26] Bodigrim commented on #29
Thanks all, with 5 votes out of 6 in favor and none opposed, the proposal is approved.

[2022-03-12 00:26] #29 closed

[2022-03-12 14:09] tomjaguarpaw commented on #50
I'm in favour of this.

[2022-03-12 14:19] Bodigrim commented on #50
While I'm totally in favor, this is a breaking change, so we need an impact assessment and patches. @andreasabel may I ask you to prepare it?

https://hackage-search.serokell.io/?q=%5EliftA2%5Cb gives a rough list of affected packages, including `hoopl`, `pandoc`, `parsley` and `shake`. There are might be more packages, which define `liftA2` locally, but I doubt it.

[2022-03-13 10:37] andreasabel commented on #50
@Bodigrim wrote:

Are there instructions how to go about it?  (Had a quick look, but didn't find such on this repo.)

[2022-03-14 00:01] Bodigrim commented on #50
@andreasabel compile GHC 9.0 with `liftA2`exported from `Prelude` and try building https://github.com/Bodigrim/clc-stackage.

[2022-03-14 09:07] andreasabel commented on #50
Ok, let me try to expand this instruction (WIP):
- Clone the GHC repo and switch to the `ghc-9.0` branch:
[code]
- Modify `libraries/base/Prelude.hs`
- Activate old enough `ghc` (e.g. 9.0.2)
- Downgrade `happy` to `1.19`, e.g.:
[code]
- Build GHC-9.0
[code]
...

[2022-03-15 13:32] AndreasPK commented on #49
@Bodigrim MR is here: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7785/diffs

[2022-03-15 21:23] Bodigrim commented on #49
Dear CLC members, please vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7785
@chessai @cgibbard @cigsender @emilypi @tomjaguarpaw

----

+1 from me

[2022-03-16 08:17] tomjaguarpaw commented on #49
Now that we have a concrete PR to look at, I realise that I am confused by the purpose of the `Data` instance.

[code]

1. Do `Data.Data`-using people (I am not one myself) find this kind of thing useful? What use does it serve to be able to get the data type but not actually be able to use any of the boilerplate-reducing functions (because they're replaced with `error`), that are, after all, the

[2022-03-16 10:44] AndreasPK commented on #49
For reference I simply kept the instances currently provided by `primitive`.

[2022-03-16 10:51] tomjaguarpaw commented on #49
Ah I see, i.e. defined at https://www.stackage.org/haddock/lts-18.27/primitive-0.7.3.0/src/Data.Primitive.ByteArray.html#line-532

In that case, +1 from me.

[2022-03-20 16:56] mpickering commented on #36
Any updates from the CLC?

[2022-03-21 00:49] Bodigrim commented on #36
We might add both `traceEventShow` and `traceEventShowWith`. Dunno, I never used `traceEvent`, so do not really know much about its usability. @mpickering you might actually be a person with a right experience. Do you find these helpers useful?

[2022-03-21 22:02] Bodigrim commented on #50
@andreasabel I've updated  https://github.com/Bodigrim/clc-stackage to work with GHC 9.2.2. Could you please give it another go?

Why are you using `make` instead of `hadrian`?

[2022-03-22 00:46] Bodigrim commented on #49
@chessai @cgibbard @cigsender @emilypi may I have your votes please?

[2022-03-22 00:50] chessai commented on #49
+1

[2022-03-22 00:54] Bodigrim commented on #22
As discussed on the last CLC meeting back in February, current intention is to proceed with the migration plan as described in https://github.com/haskell/core-libraries-committee/issues/22#issue-1069801258. However, given that this is a breaking and disruptive change, we would like to seek community's feedback on the proposed approach. The floor is open, please be civil.

[2022-03-22 01:01] Bodigrim commented on #39
To answer the question more directly, the statement quoted is so vague that it hardly qualifies for a principle and it has never been formally approved.

[2022-03-22 01:01] #39 closed

[2022-03-22 01:04] Bodigrim commented on #45
@hsyl20 what do you think about exposing `minusNaturalMaybe` from `Numeric.Natural`?

[2022-03-22 01:18] Bodigrim commented on #40
One can define a very similar function outside of `Num` type class:
[code]
Are there cases when `fromIntegerMaybe` can be defined more efficiently for a specific `a`?

This seems defeating the purpose: one can no longer use `fromIntegerMaybe` in polymorphic contexts and rest assured that it is safe. A default definition **must** be correct, even if not the most efficient.

[2022-03-22 01:19] Bodigrim commented on #36
@noughtmare maybe you can chime in on behalf of `traceEvent` users?

[2022-03-22 01:20] Bodigrim commented on #35
I'm in favor of this change, but it can be a breaking one, so we need an impact assessment.

[2022-03-22 01:28] Bodigrim commented on #34
Why do you need to define `instance PrintfType Text` and not `instance PrintfArg Text`?

[2022-03-22 01:29] Bodigrim commented on #28
@treeowl do you want to put this forward for a vote?

[2022-03-22 01:34] brandon-leapyear commented on #34
Because I'm trying to make `printf "foo: %d" 1` return a Text instead of a
String.

On Mon, Mar 21, 2022, 6:28 PM ˌbodʲɪˈɡrʲim ***@***.***> wrote:

[2022-03-22 01:37] Bodigrim commented on #34
Is it that bad to apply `T.pack` atop? If your goal is efficiency then you probably want to use `Builder` instead of `Text`, but it does not play well with `printf` interface.

[2022-03-22 01:42] brandon-leapyear commented on #34
No, it's not terrible to just call pack, but why not give users the option
to defining PrintfType for more types? I see zero downside to just
exporting it.

On Mon, Mar 21, 2022, 6:38 PM ˌbodʲɪˈɡrʲim ***@***.***> wrote:

[2022-03-22 01:57] Bodigrim commented on #34
Adding `instance PrintfType Text` (or other instances) will make `printf` type checking very fragile in the absense of explicit type signatures. At the moment type checker knows that `instance PrintfType a` means that `a` is a variadic function to `String`, and even this is sometimes a source of cryptic error messages. But if there is a choice of result type, type mismatches can get seriously wors

[2022-03-22 01:58] treeowl commented on #28
I'll retract it for now. I don't have great answers to the questions.

[2022-03-22 01:58] #28 closed

[2022-03-22 02:05] brandon-leapyear commented on #34
Well today, it's `String` or `IO ()`, so the typechecker already has to make a choice.

I agree that `printf` can be a source for cryptic error messages. What I'm saying is that exporting `PrintfType` and even adding extra instances for it (for the sake of argument, let's pretend overlapping instances don't exist) wouldn't make the current situation any worse.

Can you give an example of a code sn

[2022-03-22 12:08] noughtmare commented on #36
I think `traceEvent` can be used in much the same way as `trace` it might even be superior, because you can turn it off without recompiling and you get timestamps. So I see no reason not to have consistency between `trace` and `traceEvent`.

However, I think it is fine to drop the `traceEvent` variants, because they are not used as much and `traceEvent` already doesn't have all the variants that t

[2022-03-22 12:13] dpwiz commented on #46
I like this, but I like `fromRightM` even more.

[2022-03-22 12:18] cigsender commented on #49
+1

[2022-03-22 12:52] fumieval commented on #46
The `>>= throwIOLeft` pattern is exactly the opposite of `try :: Exception e => IO a -> IO (Either e a)`, so we could name it `untry`

[2022-03-22 14:14] Gabriel439 commented on #46
`fromRightM f` is less ergonomic than `either f pure`:

* `fromRightM` is more characters
* `fromRightM f` requires an import, whereas `either f pure` does not

[2022-03-22 15:01] tomjaguarpaw commented on #22
But what actually *are* the proposed changes? I mean, *I* can guess, but others less familiar with the situation may have no clue. Can we link to an accepted proposal or at least a statement of the proposal and some discussion? (Since the proposal predates the current GitHub-based CLC process I suppose the link would be to a mailing list archive.)  Although I can guess what this proposal means I d

[2022-03-22 15:25] mitchellwrosen commented on #46
I'm also a fan of `fromRightM`. I usually put it in a custom prelude under the name `onLeft`, though. (And `onLeftM` is what I call the variant that takes an `m (Either a b)` rather than an `Either a b`).

[2022-03-22 17:55] Bodigrim commented on #22
@tomjaguarpaw the change is in https://gitlab.haskell.org/ghc/ghc/-/merge_requests/5304

[2022-03-22 19:24] ocharles commented on #46
Another option that is maybe worth mentioning is `unwrap`, taking inspiration from [Rust](https://doc.rust-lang.org/std/result/enum.Result.html#method.unwrap)

[2022-03-22 20:59] Bodigrim commented on #49
Thanks all, with 5 votes in favor the proposal is approved.

[2022-03-22 20:59] #49 closed

[2022-03-22 21:02] Icelandjack commented on #46
hm or `giveUp`

[2022-03-22 21:04] Bodigrim commented on #36
All right, let's have a vote as is. Dear CLC members, please vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7729/diffs, which adds `traceWith`, `traceWithShow` and `traceEvent`. CC @cigsender @tomjaguarpaw @emilypi @cgibbard @chessai

----

+1 from me.

[2022-03-22 21:16] tomjaguarpaw commented on #36
+1

---

I think you mean `traceShowWith` and `traceEventWith`

[2022-03-22 21:37] Gabriel439 commented on #46
Just to be clear: I'm not volunteering to contribute a function other than the one I proposed (up to renaming).  If people want to propose other related changes to `base` they can open a new proposal.  If people don't want to add a `throwIOLeft` to `Control.Exception` then I'd prefer a simple "no" so that I can move on from this

[2022-03-22 22:01] Bodigrim commented on #46
`throwIOLeft` is just `either throwIO pure`. The discussion above suggests that a name for this idiom is ambiguous, and vice versa I would not have guessed what `throwIOLeft` does from its name. Given this, I do not see an incentive to overbear Fairbairn threshold.

[2022-03-22 22:02] Bodigrim commented on #36
Thanks @tomjaguarpaw, updated.

[2022-03-23 03:32] cgibbard commented on #36
+1

[2022-03-23 07:29] cigsender commented on #36
+1

[2022-03-23 09:08] ChickenProp commented on #46
I'd say that as a newbie, I think I wanted this and didn't know how to do it. That could be cleared up with documentation though.

[2022-03-23 20:01] jappeace commented on #22
why would you do this?

[2022-03-23 20:27] Bodigrim commented on #22
@jappeace the justification, used by the previous composition of CLC, is here: https://gitlab.haskell.org/ghc/ghc/-/issues/20025#note_365364

[2022-03-23 20:28] Bodigrim commented on #46
@Gabriel439 if you are satisfied with discussion/bikeshedding, as a proposer you have a right to trigger a vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7550 as is.

[2022-03-23 20:33] jappeace commented on #22
Nice, thanks, makes sense. :+1:

[2022-03-23 21:04] Gabriel439 commented on #46
Yes, I would like to trigger a vote on the proposal as is

[2022-03-23 21:18] Bodigrim commented on #46
Dear CLC members, let's vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7550 as is. @cgibbard @tomjaguarpaw @chessai @cigsender @emilypi

----

-1 from me, because from my perspective it does not pass Fairbairn threshold and the name is not very telling.

[2022-03-24 13:35] JakobBruenker commented on #22
Is it likely that changing imports from `Data.List` to `Data.Foldable` would be sufficient to fix any issues arising from this change? (Aside from cases where that change would lead to ambiguous type variables)

[2022-03-25 13:40] phadej commented on #22
Yes, except if you actually use list specific functions like `intercalate`, `sort`, `nub` or `isPrefixOf` etc. I.e. In general you'd change

[code]

to

[code]

or

[code]

[2022-03-26 12:13] Bodigrim commented on #43
Historically github.com/haskell organisation did not imply any additional requirements on members. Strictly speaking, the answer to all three questions is "no". My opinion is that any proposed new rules require a clear buy-in from (the majority of) current participants and should not be imposed top down or come without a transition plan.

[2022-03-26 12:28] Bodigrim commented on #46
@cgibbard @tomjaguarpaw @chessai @emilypi just a gentle reminder to vote.

[2022-03-26 16:33] Ericson2314 commented on #10
Thanks @Bodigrim. I am hoping after https://github.com/haskellfoundation/tech-proposals/pull/27 goes though this process will be quite polished, and then I will give this a shot.

------

Separately, doing
[code]
turned up https://github.com/ghc/ghc/commit/e0e03d5b9d5cd678f6402534451964d491f16540 which linked https://mail.haskell.org/pipermail/libraries/2015-July/026014.html

It looks like these `

[2022-03-26 18:19] jaspervdj commented on #43
My personal opinion is that the answer to hard questions (1) and (2) should be yes.

The answer to (3) is more complex -- clearly it _should_ also be yes -- but it's not clear how this can be achieved, where do we find maintainers for unmaintained packages?  Where do packages move if they don't work with the latest compiler version?  Who decides what "high code quality" is?  So I'd argue for takin

[2022-03-26 18:23] treeowl commented on #43
As I pointed out earlier, (2) is not really a valid question in the context of GitHub organizations. There's no use discussing it further.

[2022-03-27 12:38] gergoerdi opened #51 "Add `Enum` instance to `Down`, flipping direction"
This is an idea that was prompted by my surprise that this behaviour is not already the case...

The ~`Bounded` and~ `Enum` instances of `Data.Ord.Down` should be changed such that
[code]

and all other methods implemented similarly.

Implementation is in [MR !8242](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242).

[2022-03-27 12:47] konsumlamm commented on #51
I'm not sure what `Down` you're looking at, but for the one in `base` (https://hackage.haskell.org/package/base-4.16.1.0/docs/Data-Ord.html#t:Down) the `Bounded` instance already works like that and there currently is no `Enum` instance.

[2022-03-27 12:51] tomjaguarpaw commented on #51
[`Bounded` was `derived` in 4.14](https://hackage.haskell.org/package/base-4.14.0.0/docs/src/Data.Ord.html#line-64) but this has since been changed.

[2022-03-27 12:57] gergoerdi commented on #51
Ah, that's good to know -- I was looking at 8.10.7, and didn't expect this has changed since.

[2022-03-27 12:58] tomjaguarpaw commented on #51
Surprisingly I can't find where this was discussed, although I remember reading the discussion.

[2022-03-27 13:01] gergoerdi commented on #51
Looking at it in detail, the problem is that while `enumFrom*` could be implement with some smarts, `toEnum`/`fromEnum` would be tricky. Would it be acceptable to only have `Enum (Down a)` if not only `Enum a`, but also `Bounded a`? Because then, we could have

[code]

[2022-03-27 13:02] tomjaguarpaw commented on #51
and also `Num a`? And also some fairly strong compatibility condition between them (that really ought to hold but I don't know if it actually holds for instances in practice).

[2022-03-27 13:05] tomjaguarpaw commented on #51
I guess the compatibility condition is that `pred == subtract 1` and `succ == (+ 1)` so maybe not *that* strong.

[2022-03-27 13:06] gergoerdi commented on #51
No, the subtraction is done on the `Int` side.

[2022-03-27 13:08] tomjaguarpaw commented on #51
Ah so it is. That looks nice then!

[2022-03-27 19:35] andreasabel commented on #51
@gergoerdi : Can you please change the issue title to reflect the updates?

[2022-03-27 19:56] tomjaguarpaw commented on #46
+0

I'm in favour of adding something of type `Exception e => Either e a -> IO a` but I think the name `throwIOLeft` puts the emphasis on the "left" when it should emphasise the "right". Normal control flow will proceed with the payload of the `Right`, after all. In my own packages I would add something useful and then get the name right later, but in `base` I don't feel I can be so cavalier.

So

[2022-03-28 04:28] gergoerdi commented on #51
So I guess the actual implementation would look something like this:

[code]

[2022-03-28 07:46] andreasabel commented on #51
@gergoerdi : So would the title rather be: _Add `Enum` instance for `Down`_ ?

[2022-03-30 10:51] michaelpj commented on #40
One problem is that I don't believe this definition is universally correct. In particular, there are no laws on `fromInteger`, and in particular nothing that states how it is related to `Bounded`. You could write an implementation of `fromInteger` for a floating point number that threw on `0` because it wasn't clear if you meant `+0` or `-0`. Since `fromInteger` has a totally instance-dependent me

[2022-03-30 20:11] Bodigrim commented on #40
Re the last point: yeah, the only _correct_ way to proceed is without default implementation, which is a significant breaking change. I would not say it is completely out of question, but an obvious non-breaking alternative is `class Num a => SafeNum a where fromIntegerSafe :: Integer -> Maybe a`.

[2022-03-31 07:07] Icelandjack commented on #10
Several instances were omitted from `Generically1`, both to simplify its inclusion and in an effort to make `deriving X via Generically(1) D` match  `deriving stock X` as closely as possible. The `Read(1)` and `Show(1)` instances were not part of that selected instances. I will make an issue proposing the addition to `Eq` and `Ord` but they are subtly different. With `data D = D deriving stock Eq`

[2022-03-31 09:21] michaelpj commented on #40
This reminds me that `fromRational` also exists and probably would benefit from the same treatment as `fromInteger`.

Maybe that's the best we can do. Adding a whole new class for this one function doesn't feel all that satisfying, but I can't see any alternative.

-----

Troll suggestion:
[code]

[2022-03-31 10:40] Kleidukos commented on #43
Regarding the orphaned packages, I'd like to point that other communities like Rust have an `-unofficial` org, like https://github.com/rust-unofficial.

[2022-04-01 13:55] gergoerdi commented on #51
Another approach that doesn't even require `Bounded a`, just flips the direction of  `succ`/`pred` via negating     `fromEnum`. Unfortunately, we still can't avoid also defining `enumFrom` and `enumFromThen` to ensure proper stopping:

[code]

TBH I don't know how kosher this is, because of the whole `negate @Int minBound == minBound` situation, but other than that corner case, it should work fine

[2022-04-01 22:08] michaelpj commented on #40
I made a [repository] with an implementation of `SafeNum` and `SafeFractional`, some instances (not all that could be written and not all maximally fast) and a test suite that checks the laws.

Findings:
- It looks like all the existing instances _do_ obey the laws in 1, which is good.
- It's easy enough to write instances that obey the other laws also.

I'm coming around to having additional clas

[2022-04-02 01:57] sjakobi commented on #40
@michaelpj The link to your repository seems to missing.

I like the solution with the new classes, but I think the `SafeNum` and `SafeFractional` class names seem to promise a bit much. E.g. `SafeNum` could be expected to contain checked (non-overflowing) and total variants of `(+)`, `(-)` and `(*)`. I'd actually love such functionality to be provided in `base`, but if it is out of scope for this

[2022-04-02 18:06] runeksvendsen commented on #22
Please don't do this. These sorts of "cleanup" changes make perfect sense in ones own personal packages, but not for a package like `base` whose API is depended on by thousands of packages. I know I have no vote in this, but I would like to voice my opinion that being able to use some old Haskell package I find on GitHub five years down the road with a newer GHC version is worth much more to me th

[2022-04-02 18:53] Ericson2314 commented on #22
@runeksvendsen You might be interested in https://discourse.haskell.org/t/pre-hftp-ghc-x-hackage-a-tool-for-easing-migrations-to-new-ghc-versions/4239 / https://github.com/bgamari/tech-proposals/blob/ghc-x-hackage/proposals/001-ghc-x-hackage.md

I want this change, and for me the breakage you describe is real but also a pointless tragedy. The above proposal is a very good stop-gap solution to this

[2022-04-02 18:59] tomjaguarpaw commented on #22
I wonder why @runeksvendsen is the only person so far asking for long-term backwards compatibility. Are there no others that want it? Do they not know of this discussion? [1] Do they want it, and know of this discussion, but they're too burnt out arguing against breaking changes?

Personally I like cleaning things up, and this change will probably cause me personally some breakage, but not too muc

[2022-04-02 21:45] sjakobi commented on #22
I think backwards compatibility is important. But it's more important to fix API design issues like `Data.List.null :: Foldable t => t a -> Bool`.

[2022-04-03 08:10] runeksvendsen commented on #22
FYI: I have reached out to Graham Hutton (@GrahamHutton) and Erik Meijer (@headinthebox) on Twitter (https://twitter.com/runeksvendsen/status/1510526460162940931), urging them to voice their opinion in this thread, because we share views on https://github.com/haskell/core-libraries-committee/issues/3 and I'm interested in hearing whether this extends to this issue.

[2022-04-03 08:38] sjakobi commented on #22
@runeksvendsen I completely disagree that the situation with `Data.List` is similar to #3.

The surprising polymorphism of functions like `Data.List.null` and `Data.List.length` is a serious pitfall that has lead to bugs and will continue to cause bugs until it is finally reverted. I've encountered such bugs myself, for example https://github.com/dhall-lang/dhall-haskell/pull/1115#issuecomment-511

[2022-04-03 09:01] phadej commented on #22
@sjakobi note that `Prelude.null` or `Prelude.length` wont change.

[2022-04-03 09:03] sjakobi commented on #22
I know. I hope that `Data.List` will soon offer monomorphic alternatives though.

[2022-04-04 09:57] michaelpj commented on #40
Ooops thanks, added the link back in.

That's a good point. I agree with you that it would be super to have non-overflowing total variants of the other `Num` methods, but I fear that there's a risk of growing this proposal too much...

That said, potentially we *could* add such methods with sensible default definitions, namely:

[code]

etc. I think this might be sane - that equation might in fact

[2022-04-04 10:33] tomjaguarpaw commented on #22
There is a backwards-compatible alternative: add a new module `Data.List.Monomorphic` and keep `Data.List` as it is (for now - I hope that we can monomorphise `Data.List` in due course, but I think it's important to note that we can have the benefits of monomorphisation without the costs of breakage).

[2022-04-04 10:57] sjakobi commented on #22
What would happen to `Data.List.Monomorphic` once `Data.List` has been monomorphised? Would it hang around forever, for the sake of stability?! That doesn't seem ideal, either.

For now I can use `GHC.List.null` and `GHC.List.length`, although it feels a bit weird to use the `GHC` namespace for such elementary functions. Or `-XTypeApplications`, e.g. `null @[]`.

[2022-04-04 11:10] tomjaguarpaw commented on #22
Not forever, just for a while.  The sequence of states could look something like

1. Status quo as of GHC 9.2
2. Add `Data.List.Monomorphic`
3. Monomorphise `Data.List`
4. Remove `Data.List.Monomorphic`

The situation proposed in this thread seems to be a particular instance of this scheme, whereby 2, 3, and 4 are collapsed. I'm pointing out that we don't have to collapse them. We can add some del

[2022-04-04 11:17] jneira commented on #22
Given the recent sensitivity about breaking changes, i would go for the progressive way (assuming there would be breaking changes at any level)

We even could add a `Data.List.Generic` at same time we add `Data.List.Monomorphic` and remove it after removing `Data.List.Monomorphic`, but maybe it is too cautious

[2022-04-04 11:26] JakobBruenker commented on #22
Would it be possible to add a warning for non-list usages of Data.List functions before the actual change is made?

[2022-04-04 11:28] tomjaguarpaw commented on #22
I think this is the intention of step 2 in the original post

[2022-04-04 11:28] JakobBruenker commented on #22
@tomjaguarpaw ah, thanks, I missed that

[2022-04-04 12:38] TeofilC commented on #22
My impression is that this more gradual scheme would lead to more breaking changes not less (as we are introducing then removing a new module).

A nice thing about fixes to accommodate making `Data.List` monomorphic is that they are automatically backwards compatible, as old versions of `base` will have types that are more generic. The same doesn't apply to changing code to depend on `Data.List.Mo

[2022-04-04 12:53] sjakobi commented on #40
Are there any instances that have good definitions for `fromIntegerMaybe`, but not for `safePlus` (or `safeMinus`, `safeTimes`)? I suspect `Double` might be tricky?!

For now I'm tending towards the more fine-grained approach, i.e. `SafeFromInteger` and `SafeFromRational`.

I'd also like to request that the classes be defined without super-classes, because some users may prefer not to have instanc

[2022-04-04 14:33] goldfirere commented on #22
You're right, @tomjaguarpaw -- that would break. Indeed, we *want* that example to break, so the very essence of this move is to break code. What it wouldn't break is

[code]

But your question highlights an aspect of this discussion that has remained implicit: precisely what breakage are we worried about? What breakage are we OK with? For example, if we're not OK with Tom's `Data.List.length (Jus

[2022-04-04 19:45] Ericson2314 commented on #22
@goldfirere I am thinking we should start with "low tech" solutions like a more polished head.hackage, but then soon after absolutely get to the sort of things you are packaging. The fruits of thinking critically about interfaces (including module systems, configuration like CPP) and migrations are massive and abundant and basically untapped by us at this juncture.

[2022-04-04 22:00] Bodigrim commented on #51
Are there undesirable consequences of `negate @Int minBound == minBound` for `instance Enum (Down Int)` in particular?

[2022-04-04 22:00] Bodigrim commented on #46
@cgibbard @chessai @emilypi may I have your vote please?

[2022-04-05 12:54] gergoerdi commented on #51
One thing I'm aware of is that if all we have is `fromEnum`/`toEnum`, then, while `succ @Int` fails, `pred @(Down Int)` quietly returns a wrong result:

[code]

Of course, this is easily fixed by adding `succ = fmap pred` and `pred = fmap succ`  as explicit method implementations.

[2022-04-05 19:25] Bodigrim commented on #51
I think `coerce` is a better alternative to `fmap`.

[2022-04-06 10:06] phadej opened #52 "State of mtl"
`mtl` is in neglected state. The weren't `transformers-0.6` compatible release yet, though [`transformers-0.6`](https://hackage.haskell.org/package/transformers-0.6.0.0) was released in June 2021. It looks like that GHC-9.4 will be second major series GHC release after not bundling `transformers-0.6`.

There also number of issues and pull request been open for year(s), some of which are quite low

[2022-04-06 11:07] ekmett commented on #52
Thanks, Oleg. I don't have an objection in principle. I'd like the assent of the CLC if this were to happen, as I did after all, hand things off to them.

[2022-04-06 11:10] tomjaguarpaw commented on #52
From my point of view a summary of the current situation and our possible routes forward would be very helpful regarding making a decision.

[2022-04-06 11:47] phadej commented on #52
@tomjaguarpaw I'm not sure I understand what you ask. The current situation is that *mtl is in neglected state*. I propose one route (i.e. *install new maintainers*). I don't know if there are any way to *resolve situation by other means.*. That's up to CLC.

[2022-04-06 11:57] ekmett commented on #52
Here's a general summary of the status quo.

`transformers` 0.6 was released. It contained a few new types that had somewhat complicated relationships with the existing abstractions in the `mtl`. So now there becomes the question of whether we should try to capture the new semantics of MonadAccum and MonadSelect, ad/or adapt the existing classes where they can fit. This means teasing out what the

[2022-04-06 14:22] andreasabel commented on #52
I appreciate the initiative and getting the discussion on `mtl` rolling again.

@ekmett wrote:

Yes, the latest release candidate RC4 should now simply be released.

It has shown that RC3 which _ripped off the bandaid of the re-exports_ just causes too much breakage to be released without long deprecation periods.  And unfortunately, GHC lacks the facilities to deprecate importing stuff via reexpo

[2022-04-06 15:18] chessai commented on #52
This is something I wanted to bring up after my vacation, but I will do it now, because I don't want to make people wait even longer than I've already made them wait:

I no longer have the time nor energy to devote to MTL, and I suspect neither does Emily, based on our conversations. It's clear that we need a new set of maintainers who have the time and energy.

@phadej and @RyanGlScott were defin

[2022-04-06 15:50] Ericson2314 commented on #52
A bit off-topic. I would very much like to see this fixed! In general, besides behind-the-scenes cleanups to GHC, I would like to see the HF focus on this and other such tools to make migrations easier. Then all this good maintainence work is so much less grueling, and we can get more stuff down while wearing down our volunteers less.

[2022-04-06 15:55] ekmett commented on #52
Re: Stability

The `mtl` has been remarkably stable. It was released in 2006. There was a big set of breakages/changes in 2010. Then I've left it alone for _12 years_.

There have been a lot of things we've wanted to do, but deliberately held off because on their own they weren't worth incurring pain for users.

The primary reason why there is interest in shipping a new version at all is that the

[2022-04-06 15:57] ekmett commented on #52
@Ericson2314 The ability to deprecate re-exports was something that we requested as the CLC very early on. It never happened though, so in the absence of such a feature we can only do what we can, and I really am not in a hurry to hang _any_ plan on a feature request that has already languished for 8 years.

[2022-04-06 16:27] chessai commented on #52
I can relate to this, it's why I've also transitioned away from maintenance of core packages. Even in the cases where there isn't outright anger, there's a lot of loud noise. It feels paralysing, and in some cases, makes you feel alienated/othered. There is a wider problem to discuss there which I have a lot of thoughts about, but this is not the forum for that.

[2022-04-06 17:02] tomjaguarpaw commented on #52
https://github.com/haskell/mtl/pull/106

[2022-04-06 19:33] ekmett commented on #52
Fair point. That is a point in the design space, but it does have the disadvantage that the space of what you get in scope becomes harder and harder to articulate over time.

[2022-04-06 19:39] phadej commented on #52
I politely ask to discuss how to bring life to `mtl`  package, not what *someone* could/should do there. That *someone* is missing, and that is the problem.

Also `mtl-2.3` is not only about re-exports stuff. Perfectly all of checkboxes in https://github.com/haskell/mtl/issues/86 would be ticked. (That's not much work, but work nevertheless).

[2022-04-06 19:50] Bodigrim commented on #52
+1 to @phadej's last comment, let's keep this discussion limited to finding active maintainers for `mtl`. Other questions (such as breaking changes in `mtl`) are better discussed at `mtl` issue tracker itself.

To summarise, @ekmett as a former maintainer and @chessai as an acting maintainer are in favor of @phadej acquiring maintainership of `mtl`. @emilypi, as another acting maintainer, could yo

[2022-04-06 19:55] Ericson2314 commented on #52
(Sorry to derail any further but) @ekmett I do agree in not wanting to *wait* for tools, just wanting to make those tools finally exist. In the Data.List thread https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-1086701500 I was advocating the basically the same thing --- make the changes that should be made, and then use the new tooling to broker peace with the pitchforks.

[2022-04-06 19:56] tomjaguarpaw commented on #52
It's not quite a simple as that. I am considering submitting my candidacy for `mtl` maintainer but to decide I need to have a clear understanding of exactly what work is outstanding.

[2022-04-06 20:09] Bodigrim commented on #52
AFAICT here are tasks in the order of importance/urgency:
1. Cut a new release compatible with [`MonadTrans`](https://hackage.haskell.org/package/transformers-0.6.0.4/docs/Control-Monad-Trans-Class.html#t:MonadTrans) from `transformers-0.6`.
2. Decide what to do with re-exports from `Data.Monoid` and `Control.Monad`.
3. Support new transformers such as `AccumT` and `SelectT`.
4. Consider viability

[2022-04-06 23:25] emilypi commented on #52
Oof. @chessai and I completely off the wagon for various reasons over the past few months - apologies folks. I'm happy to pick this up again and get it to a reasonable state now that.

I can pick this up again and push through any changes needed over the next week. As far as maintenance goes, I'd love to still be on board, but life is happening to me, so an active co-maintainer to whip me would be

[2022-04-07 02:49] ekmett commented on #52
@emilypi Concretely, are you okay with accepting Oleg as a co-maintainer here?

[2022-04-07 05:51] emilypi commented on #52
Considering Oleg's already massive backlog of maintenance projects, I think it would be irresponsible to add more to his plate without at least attempting to diversify. I would vote @RyanGlScott or a headhunt first before defaulting to Oleg.

[2022-04-07 07:15] tomjaguarpaw commented on #52
I'm happy to tackle [Bodigrim's 1 and 2](https://github.com/haskell/core-libraries-committee/issues/52#issuecomment-1090726296), that is

1. Cut a new release compatible with [`MonadTrans`](https://hackage.haskell.org/package/transformers-0.6.0.4/docs/Control-Monad-Trans-Class.html#t:MonadTrans) from `transformers-0.6`.
2. Decide what to do with re-exports from `Data.Monoid` and `Control.Monad`.

[2022-04-07 07:24] Kleidukos commented on #52
@mpickering Do you think it would be possible to add this to the agenda for 9.6? :)

[2022-04-07 17:49] emilypi commented on #52
Sold.

[2022-04-07 18:00] Bodigrim commented on #52
Let's not rush.

1. According to https://hackage.haskell.org/package/mtl/maintainers/ and similar to other Ed's packages, @RyanGlScott is a maintainer of `mtl` already. @RyanGlScott do you have interest/bandwidth to resume your maintainership over `mtl`? Given your experience with `transformers-compat` and a tremendous track record of supporting key packages, I'd be happy to know that `mtl` is bac

[2022-04-07 18:06] Ericson2314 commented on #52
I do like a situation where the CLC keeps it's powers in "reserve" / in case any huge disputes need mediation, but there are more active per library appointees in charge of the day-to-day with sufficient devolved powers to not be mere grunts. I think that model would be good for more than just the `mtl`.

[2022-04-07 19:17] RyanGlScott commented on #52
Sorry for not chiming in earlier.

I'm no longer on the Core Libraries Committee, so I'm not really a maintainer at the moment. I'm reluctant to volunteer to maintain yet another library, since (1) I already maintain quite a bit, and (2) I think there are other qualified people who would be great at the role (and likely do a better job than I would).

[2022-04-07 23:48] Bodigrim commented on #52
Not quite so in general. CLC is responsible to uphold a high level of maintenance, and such responsibility comes with rights necessary to fulfill it, potentially installing a maintainer against wishes of incumbents. We had such precedents in the past. At the very least, CLC must hold a vote of confidence, confirming that a suggested maintainer is sufficient to resolve the issue.

In this spefic ca

[2022-04-08 10:33] ChickenProp commented on #36
Right now there's four +1s, two yet to vote, and it's been two weeks since the last vote. Is that sufficient?

[2022-04-08 21:43] Bodigrim commented on #36
Right, 4 out of 6 are sufficient. Approved.

[2022-04-08 21:43] #36 closed

[2022-04-08 22:22] Bodigrim commented on #52
@chessai, @emilypi could you please together recommend a new maintainer for `mtl`?

[2022-04-09 02:51] emilypi commented on #52
@kozross

[2022-04-09 11:32] Bodigrim commented on #52
@chessai could you please confirm that you are also onboard with @kozross and happy to recommend him?

[2022-04-09 11:35] Bodigrim commented on #46
@cgibbard @chessai @emilypi this is the 4th time I ask you to vote in this thread alone. Could you please clarify your availability for CLC business?

[2022-04-09 13:30] Profpatsch commented on #22
Note that there *is* a prior art that nobody has mentioned: `Data.Map`.

![image](https://user-images.githubusercontent.com/3153638/162576144-539a1c22-3da5-424e-a0cf-72fad3869efb.png)

In our codebase we added an `hlint` rule that throws a warning that `Data.Map` should be replaced with `Data.Map.Strict`.

Thus, we should seriously consider adding `Data.List.Monomorphic` and leaving `Data.List` as

[2022-04-09 13:33] Profpatsch commented on #22
Before we have an automatic migration tool for Haskell, I don’t think we can just assume people will be fine with “unnecessary” breaking changes (even if they are good and prevent bugs, as in this example).

We already [have some prior art](https://github.com/facebookincubator/retrie/) in rewriting Haskell code as well, we just have to integrate it into the officially supported tooling and make it

[2022-04-09 15:31] chessai commented on #46
-0.5

[2022-04-09 15:35] chessai commented on #52
+1

[2022-04-09 15:43] gbaz commented on #22
I believe the above comments are off-topic for this issue. They are essentially asking to change the entire set of standards around core libraries such that none can ever change until a tool that does not exist yet is written by an unspecified person.

I think proceeding with a concrete plan to actually produce some sort of migration tool is a good idea. I think a ticket for a _single issue_ propo

[2022-04-09 16:32] Profpatsch commented on #22
That is a misread of what I said.

I didn’t propose to block any breaking changes, I said people *will not like them* unless there is a migration tool. If you still decide on breaking changes, you cannot be surprised that there *will* be backlash.

Saying something will produce unhappy users does not equal saying it is required. It can be done nonetheless, but it will produce unhappy users. I hope

[2022-04-09 16:33] gbaz commented on #22
"I would see this as a precondition to any breaking stdlib changes in a 21st century industry compiler project."

[2022-04-09 16:37] Profpatsch commented on #22
Apparently you only read the very last sentence of my comments then  … but now I know what to expect from these discussions and show myself out.

[2022-04-09 16:50] tomjaguarpaw commented on #22
I would encourage all to continue to engage in constructive debate and freely share their point of view. I, for one, value reading all the different points of view.

[2022-04-09 17:07] Bodigrim commented on #46
Current tally is -2.5, so even if two remaining CLC members would vote in favor, the proposal is doomed to be declined anyway. Sorry, @Gabriel439.

[2022-04-09 17:07] #46 closed

[2022-04-09 17:11] Bodigrim commented on #51
I like the proposal, but still feel a bit uneasy about it: it seems there is an unwritten assumption about connection between `Enum`, `Bounded` and `Ord`. Could it be spelled out? Are other existing instances in line with it?

[2022-04-09 18:10] ekmett commented on #52
I'll triple the @kozross suggestion for the record.

[2022-04-09 18:19] Bodigrim commented on #52
Awesome. Dear CLC members, @tomjaguarpaw, @cgibbard, @cigsender, following the endorsement from current and former maintainers, let's hold a vote of confidence in @kozross as a new (additional) maintainer for `mtl`. @chessai and @emilypi, I'll count your endorsements as votes in favor.

----

+1 from me.

[2022-04-09 18:25] tomjaguarpaw commented on #52
+1 from me

----

My offer to tackle the following two tasks remains, should Koz (if appointed) want to take me up on that.

1. Cut a new release compatible with [MonadTrans](https://hackage.haskell.org/package/transformers-0.6.0.4/docs/Control-Monad-Trans-Class.html#t:MonadTrans) from transformers-0.6.
2.  Decide what to do with re-exports from Data.Monoid and Control.Monad.

[2022-04-09 18:36] kozross commented on #52
@tomjaguarpaw Sure, I'm happy for you to do those. I really reckon the correct move is to remove the re-exports: this is well within the scope of a major version bump.

[2022-04-09 19:53] Ericson2314 opened #53 "Clarify laws of TestCoercion"
See https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7978. A follow up to our previous discussion in #21.

Per the thread below, this ended up being far hairier than I expected. But I hope we can arrive at a cautious point of consensus.

[2022-04-10 17:29] tomjaguarpaw commented on #22
I hope this summary of the situation is helpful to people:

### Situation

Some functions in `Data.List` are `Foldable`-generic, for example `concat :: Foldable t => t [a] -> [a]`. This is due to the way the transition to [Foldable Traversable Preude](https://wiki.haskell.org/Foldable_Traversable_In_Prelude) was implemented. The plan is to replace the `Foldable`-generic functions in `Data.List` wi

[2022-04-10 17:35] tomjaguarpaw commented on #22
I have posted the above summary to Twitter. I intend to circulate it to the following, unless anyone has any objection:

* Haskell Reddit
* Haskell Discourse
* haskell-cafe

[2022-04-11 17:19] cigsender commented on #51
I'm not sure I support this proposal in its current form. `Down` has the explicit purpose of providing a simple wrapper with a flipped `Ord` instance. In this goal it excels. To add convoluted functionality to this class seems to diverge from its intent.

I would be more open to a new newtype (e.g. `Descending`) for this suggestion. Though `Down a` and `Descending a` would have the same `Ord` inst

[2022-04-11 18:12] cigsender commented on #52
+1 for @kozross -- and if another maintainer is required in the future, I may submit my own name at that juncture :)

[2022-04-11 22:00] chessai commented on #52
@kozross you have now been added as a maintained on the haskell/mtl repository.

[2022-04-11 22:00] #52 closed

[2022-04-13 09:41] TeofilC opened #54 "Re-export IsList class from a friendlier module"
Hoogle tells me that the [IsList ](https://hackage.haskell.org/package/base-4.16.1.0/docs/GHC-Exts.html#t:IsList) class is only exported from `GHC.Exts` in `base`. I think this class is quite useful and it would be nice to make it available from a non-internal module.

A bunch of prelude replacement packages seem to re-export it from more friendly modules so there seems to be a desire for this.

I

[2022-04-13 10:24] santiweight commented on #22
Is there potential to extract a rule of thumb from this thread? A rule that would prevent a similar mistake occurring in the future... Something like:

This is a nice general principle to have and I think would make code overall clearer.

Great job with the summary btw @tomjaguarpaw

[2022-04-13 11:22] gallais commented on #22
I find this argument dubious: there is no reason that introductory texts (focused on discussing
only one notion at a time) should use the standard library (focused on generality and efficiency).
Fancy road bikes do not come with training wheels because that'd make them easier to use for
first time riders.

As for the overall proposition: wasn't one of the conclusions of #3 that the core libs shoul

[2022-04-13 12:17] sullyj3 commented on #22
If we did this, we'd be eliminating the complexity of typeclasses by immediately introducing the full complexity of projects with dependencies. I don't think this would be much of an improvement, in fact I think it would probably be worse.  Besides which, it makes more work for teachers, forcing us to provide a non-standard working setup.

I don't consider a Data.List with list functions in it and

[2022-04-13 15:26] sjakobi commented on #22
@tomjaguarpaw What's missing from the justification you described in https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-1094333009 is that `null :: Foldable t => t a -> Bool` and `length :: Foldable t => t a -> Int` are foot-guns that shouldn't be exported from `Data.List`.

[2022-04-13 15:33] tomjaguarpaw commented on #22
@sjakobi OK, I'm happy to update my summary as the discussion proceeds.  Anyone is welcome to prompt me to add something.

[2022-04-13 18:35] Bodigrim commented on #22
To avoid confusion: we are not discussing the proposal, it's been approved long ago (see https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-985046746); we are discussing the migration plan. If recent developments invalidated the original justification and there is a material change of circumstances, CLC may reconsider the proposal itself, but such evidence has not been put

[2022-04-14 10:32] tomjaguarpaw commented on #22
I apologise. I assumed (due to my misinterpretation of https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-985046746) that discussion of the _proposal itself_ was welcome here, and have been encouraging people to comment here on that basis.

[2022-04-14 14:23] runeksvendsen commented on #22
I'm just echoing the thoughts of @serras here, but point number two seems quite serious to me (since `Prelude` is imported by default).

In other words, if this proposal is implemented it will break all of the following simple `Data.List` examples with an "*Ambiguous occurrence ...*"-error (since `Prelude` exports a polymorphic version of these functions and `Data.List` exports a monomorphic one):

[2022-04-14 14:29] runeksvendsen commented on #22
@tomjaguarpaw to make the impact clearer, I propose to change the above description to the following.

[2022-04-14 15:48] TeofilC commented on #54
I've given this a bit more thought. And I've noticed that both `Foldable` and `IsList` have a `toList` method. Furthermore differences in design preclude making `Foldable` a superclass of `IsList` (at least afaict).

Given this I'm refining my proposals to re-exporting `IsList` from a new module called `Data.IsList`. This would minimize the risk of ambiguity while still exporting `IsList` from a l

[2022-04-15 04:57] aavogt commented on #22
@runeksvendsen the affected definitions should have been: null, length, foldr, foldl, foldl', foldl1, foldr, foldr1, concat, concatMap, and, any, or, all, sum, product, maximum, minimum, elem, notElem, find, maximumBy, minimumBy, mapAccumL, mapAccumR according to https://groups.google.com/g/haskell-core-libraries/c/q3zHLmzBa5E/m/PmlAs_kYAQAJ

I like that [the ftp](https://gitlab.haskell.org/ghc/gh

[2022-04-15 06:06] runeksvendsen commented on #22
@aavogt I’m listing only the polymorphic definitions from Data.List that are re-exported by Prelude, since these are the only cases that will cause the error described in my comment above.

[2022-04-15 06:12] runeksvendsen commented on #22
@aavogt also, note that neither `null` nor `length` will change:

[2022-04-15 09:24] tomjaguarpaw commented on #22
Done, thanks, but I didn't remove the point about conflicts with `Data.Foldable` because I think that's correct, isn't it?

[2022-04-18 19:50] goldfirere commented on #22
I continue to think that, even with the careful migration plan detailed here, there will be a lot of grumpiness caused. https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-1099240482 has compelling examples. The question is whether the perceived gains are worth the pain of migrating. I don't know the answer to that. But I, for one, am not looking forward to reading Twitter t

[2022-04-19 18:31] cigsender commented on #54
I'm quite fond of the `IsList` typeclass -- I (ab)use it in my Advent of Code solutions to convert between container types! -- but from my understanding it's designed for the implementation of `-XOverloadedLists`. I'm hesitant to expose this class more prominently in `base` because of its intent as a "library" class rather than an "application" class; but, if there's a strong desire in the communi

[2022-04-19 18:43] treeowl commented on #54
If it's to be a more libraryish thing, I think it would be nice to add more sequence operations. `cons`, `viewl`, `snoc`, `viewr`, `append`, `reverseOntoL`, `reverseOntoR`, `splitAt`, `spanl`, `spanr`, `takeWhileL`, `takeWhileR`, `dropWhileL`, `dropWhileR`, `foldMappish`, `foldMappish'`, `inits`, `tails`.

[2022-04-19 19:58] cigsender commented on #54
Do you mean as class methods? These would all have varying complexities for different container types. It would be a lesson for the user to choose the right data structure for the task at hand; as it is in many other languages. A common interface for "sequences" -- separately from things that are `Foldable` -- would dramatically reduce namespace clashing, at the cost of hiding the implementation d

[2022-04-19 20:10] treeowl commented on #54
@cigsender, once you have `toList` and `fromList`, you can implement the rest, but they'll  all be inefficient for types that aren't wrappers around `[]`. Not knowing the performance is unfortunate for sure. One option would be a batch of associated types: `IsConsFast`, `IsSnocFast`, etc., so you can force a type error (or, soon, a warning!) if the selected type doesn't meet your needs.

[2022-04-19 20:25] cigsender commented on #54
Having the methods you listed (among others) as class methods would allow for efficient overrides where possible. Associated types such as `IsConsFast` are IMO an ugly solution to the real problem, which is that Haddock will not display documentation for method implementations.

[2022-04-19 20:39] treeowl commented on #54
No, they solve a different problem. Both problems are important.

1. Documentation should be able to offer method implementation info so users can select an appropriate instance.
2. Users should be able to ensure that they will not unthinkingly use an inefficient method without a warning to make sure they've considered the consequences in context.

[2022-04-19 20:43] Bodigrim commented on #54
The reason is that `IsList` is not supposed to be used outside of `{-# LANGUAGE OverloadedLists #-}`, which is a GHC extension. This makes `GHC.Exts` an appropriate place for it, at least in theory, but I agree that it does not mix well with other contents there. That said, I would not expose it from `Prelude` or `Data.List`. How about `GHC.IsList`?

[2022-04-19 22:33] Bodigrim commented on #22
I think we should stick to the promise "no breaking changes without Stackage patches". My proposal is as follows:

1. GHC 9.4 makes `-Wcompat` a part of `-Wall`, and so [`-Wcompat-unqualified-imports`](http://downloads.haskell.org/ghc/9.2.2/docs/html/users_guide/using-warnings.html?highlight=wcompat#ghc-flag--Wcompat-unqualified-imports) becomes more prominent.
  Fixing `-Wcompat-unqualified-impor

[2022-04-20 04:51] Ericson2314 commented on #22
That sounds like a good plan. With `head.hackage` we already to be able to CI forks of `base` too, which gives interested parties further chance to root out all the packages that need upgrading sooner.

[2022-04-20 07:35] tomjaguarpaw commented on #22
I'm very strongly in favour of this kind of thing.

[2022-04-20 13:15] ulysses4ever commented on #22
@Ericson2314 (offtopic) where do I learn how to use head.hackage for breakage assessment? There're several issues on the CLC GitHub org with the need-breakage-assesment label, and they look lonely. One reason for that, I think, is that there's no clear and manageable way to do that, at least, not one known to the masses. I tried reading the (still unpublished) blog post about head.hackage on the G

[2022-04-20 14:40] gergoerdi commented on #51
FWIW, `Down a` already comes with a flipped `Bounded` instance, so this `Enum` instance merely extends that functionality. Also, with the version that goes via `Int`, we no longer have the `Bounded a` constraint on the proposed `Enum (Down a)` instance.

[2022-04-20 17:43] Bodigrim commented on #51
@gergoerdi feel free to raise a GHC MR and trigger a vote.

[2022-04-20 18:13] phadej commented on #22
@Bodigrim

I'm proponent of this proposal but migrating whole Stackage is just too much work to introduce any non-trivial changes into `base`, like this one. I (as the initial implementer) therefore ask CLC to drop / reject this proposal

I was curious to see if this change can be done, but I don't see a way forward for this proposal. Instead of trying to distribute the migration work to dozens if

[2022-04-20 18:26] phadej commented on #22
In fact, I now kind of expect to see a set of patches for libraries (on Stackage) to be provided to maintainers as soon as GHC-9.4 is released. Because this is how I read the above  "no breaking changes without Stackage patches". I don't care if it's change in `base` or GHC itself or some corner of `transformers` or `mtl`.

[2022-04-20 18:59] gbaz commented on #22
I'm baffled by the most recent discussion here.

The proposal seems to be that there's a phase where there's warnings. And when stackage is warning free, then the next ghc can make the change.

The existing procedure would already be to add warnings for at least a major release. The only difference between the proposal and the existing procedure is that the next ghc making the change is contingent

[2022-04-20 19:17] phadej commented on #22
@gbaz As far as I can tell, `-Wcompat` is not going to be part of `-Wall` in GHC-9.4, looking at the code, e.g: https://gitlab.haskell.org/ghc/ghc/-/blob/238f15b285d4e95f0718b9f979245785a483c0c2/compiler/GHC/Driver/Flags.hs#L783

[2022-04-20 20:20] konsumlamm commented on #22
I don't think this approach of "breaking changes are fine as long as we patch all of Stackage first" is a good idea. If there are lots of Stackage packages that would need to be patched, that means that there are probably a lot of packages on Hackage (that are not on Stackage) which would break with the change.

I'm all for cleanups, but not if they break a lot of packages (and simple programs suc

[2022-04-20 20:52] Ericson2314 commented on #22
@gbaz

I think this is where GHC.X.Hackage comes it. We can patch every library whether or not the author accepts. If people can use those patches against library authors' whims, then we can credibly say "stackage is completely unblocked".

:+1: That sounds good to me. I might also propose a `-Wcompat=<min-ghc-version>`. That way, with the right argument, it could just warn one about things that w

[2022-04-20 21:01] Bodigrim commented on #22
(It seems that opponents of the change think that I'm pushing for it, and proponents think that I'm trying to prevent it from happening. Full disclosure: I'm not a fan of the change per se, but I don't want to set a precedent of rejecting earlier CLC decisions, because it will have terrible long-time impact)

@runeksvendsen This argument was considered and `-Wcompat-unqualified-imports` was introd

[2022-04-20 21:13] konsumlamm commented on #22
Not even if there are very good reasons to do so? It seems unwise to go with bad decisions, just because they were accepted once. Though in the end that's of course for the CLC to decide.

I'm not asking for measuring impact on Hackage. My worry is that the amount of Stackage breakage doesn't seem to matter (at least that's how I interpret your suggestion), as long as someone submits patches. What

[2022-04-20 21:24] Bodigrim commented on #22
As I said above, CLC may review an earlier decision if there is a material change of circumstances, but not just because current cast of CLC dislikes it. Migrations are to span across terms of individual members, and it would be hugely detrimental to review them after each election.

There is no way to measure what is "too big", and there are proposals (e. g., security fixes) which must be accepte

[2022-04-21 01:18] goldfirere commented on #22
I'm in favor of @Bodigrim's [proposal](https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-1103230590). Indeed, as I've written elsewhere, I think that changes to core tools [definition needed] should be released only when all libraries in Stackage have patches submitted. This *is* a lot of work, but the work is unavoidable -- the only question who does it. The policy here m

[2022-04-21 05:29] phadej commented on #22
@Bodigrim, @goldfirere I hope that CLC and GHC Steering committee (and whatever other committees & groups relevant) agree on that then.

[2022-04-21 19:23] goldfirere commented on #22
To be clear, @phadej, no one has agreed to that plan. Do not expect this to be adhered to. It's something I personally think is a good idea, but there has been no wide discussion in this direction.

My take is that we can't promise this in good faith right now. First, we have to get GHC CI working generally, and have the head.hackage process working well. Then, we can start to tackle Stackage. The

[2022-04-21 19:39] phadej commented on #22
@goldfirere Then, until there's infra to do things, CLC shouldn't ask patch sets for changes either. As practitioner I don't care if the breakage is due change in `base` or how GHC interprets language or some other change bundled with GHC.

Instead, the valuable resource have been GHC migration guide (like there is for 9.4: https://gitlab.haskell.org/ghc/ghc/-/wikis/migration/9.4 and others https:

[2022-04-21 20:06] goldfirere commented on #22
@phadej You're suggesting that the CLC and GHC should agree on our approach here. That sounds quite sensible to me.

But I don't think we need to stop *all* potentially breaking changes until we have the Stackage plan worked out. It's just that each breaking change signals our unreadiness as an enterprise-level language, in proportion with how much breakage it causes. If we believe that the `~` ch

[2022-04-21 20:34] phadej commented on #22
This proposal is *accepted*, see @Bodigrim comment https://github.com/haskell/core-libraries-committee/issues/22#issuecomment-1098363009

And the whole discussion is about getting community input for CLC to decide on migration plan. I think everything has been said already, so i'll wait for CLC to write down the plan.

[2022-04-21 21:51] gbaz commented on #22
I would propose the following:

1) Agreement that -Wall should imply -Wcompat and a corresponding change to the three release policy. (The latter is the purview of the CLC with community input -- the former is a change that the GHC team would be fine making, if the latter is resolved -- as per a recent discussion with @bgamari).

2) Adding the warning to -Wcompat for unqualified import of Data.Lis

[2022-04-21 22:22] Ericson2314 commented on #22
That sounds good to me. While improved CI should obviate the criticality of `-Wall` (since we would be relying on testing hope hoping community members hitting something by accident), I nonetheless think `-Wall` including `-Wcompat` is indeed a good idea.

[2022-04-22 13:35] konsumlamm opened #55 "Make `GHC.Stack.Types.SrcLoc` more strict"
See https://gitlab.haskell.org/ghc/ghc/-/issues/20449.

`SrcLoc` is currently defined as follows:
[code]

The non-strict `Int` fields cause a lot of noise in the core when using `HasCallStack` (e.g. through `error`) and compiling with optimizations, as they produce a bunch of top-level `Int` definitions.

I propose making the `Int` fields strict (and adding an `{-# UNPACK #-}` pragma if necessary)

[2022-04-22 17:37] Bodigrim commented on #55
Strongly in favor as well.

[2022-04-22 18:53] chessai commented on #55
+1, though I'm unsure if this is in the purview of CLC since it is a GHC
module

On Fri, Apr 22, 2022, 12:38 ˌbodʲɪˈɡrʲim ***@***.***> wrote:

[2022-04-26 19:39] chris-martin opened #56 "(Alternative f, Foldable t) => t a -> f a"
I propose [this](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8069) small addition to `base` because I think it gets at something essential about the relationship between `Foldable` and `Alternative`, makes the `Alternative` class a bit more convenient to work with, and makes it a bit easier to understand.

[code]

This is a utility we can observe in several libraries:

1. In [`Agda`](https

[2022-04-26 20:03] treeowl commented on #56
The implementation looks good for a left catch-style instance, but I'm less sure about a left distribution one. Another option is

[code]

I don't know what the trade-offs are.

[2022-04-26 20:51] chris-martin commented on #56
I'm not sure what you mean, could you link/elaborate on what "left catch-style" and "left distribution" mean? If there is a particular class of Alternatives that this isn't good for, maybe the docs could demonstrate.

Neither do I (do different rewrite rules fire? I certainly see the style you gave appear in `base` more often, but I don't know why) but that certainly looks just as good to me.

[2022-04-26 21:53] treeowl commented on #56
The law situation for `Alternative` is ... not great. All that's required of an instance is that it form a monoid under `<|>` with unit `empty`, and do something at least as defined as the defaults for `some` and `many`. Nothing relates those to `<*>`, `liftA2`, or `pure`.

For `MonadPlus`, the situation is only ever so slightly better. It additionally imposes a left zero law:

[code]

The Haddock

[2022-04-26 23:02] Gabriel439 commented on #56
@treeowl: It seems to me that a reasonable compromise is to add the version that @chris-martin gave to `Control.Applicative` and add the version that you gave to `Data.Functor.Alt`, that way the user can select which behavior they intend to use by importing the module that has the corresponding class

[2022-04-26 23:07] Gabriel439 commented on #56
There's also prior art for each module providing its own version of `foldA`.  For example, there is a `Data.Functor.Alt.optional` which parallels `Control.Applicative.optional`

[2022-04-27 00:53] Ericson2314 commented on #56
We are relating one infamously lawless class to another!

[2022-04-27 07:58] tomjaguarpaw commented on #56
Yeah, for me this already puts the proposal deep in a hole that I suspect it will have difficulty struggling out of, in my opinion.

[2022-04-27 14:35] Gabriel439 commented on #56
Why would that be problematic?  Is the policy of the core libraries committee to not add new `Foldable` or `Alternative` utilities to `base`?

[2022-04-27 14:45] tomjaguarpaw commented on #56
Well, given the problems specifying `Alternative` and (especially) `Foldable` I don't see this as a particularly well-motivated piece of functionality.

I'm just expressing a personal opinion, not a CLC policy.

[2022-04-27 14:50] Gabriel439 commented on #56
What needs to be specified, though?  How is this any different than, say, `asum`, which is already in `base`?

[2022-04-27 14:50] treeowl commented on #56
I don't have anything against offering multiple versions of a function, but I don't really like remembering which one is left biased by process of elimination.

[2022-04-27 14:52] Gabriel439 commented on #56
Just to re-emphasize the point about `asum`, you can define the behavior of `foldA` in terms of `asum` like this:

[code]

… so if you're arguing that the semantics of `foldA` are unclear then why do those objections not apply to `asum`?

[2022-04-27 15:04] tomjaguarpaw commented on #56
It's not quite that, because that picks up a `Functor t` constraint. Anyway, my objections do apply to `asum`, and anything else that uses `Foldable`!

[2022-04-27 15:36] tomjaguarpaw commented on #56
Clickable links and source for the `optional`s that Gabriella mentioned earlier.

[`Control.Applicative`](https://hackage.haskell.org/package/base-4.16.1.0/docs/Control-Applicative.html#v:optional)

[code]

[`Data.Functor.Alt`](https://hackage.haskell.org/package/semigroupoids-5.3.7/docs/src/Data.Functor.Alt.html#optional)

[code]

[2022-04-27 16:48] chris-martin commented on #56
If this proposal is being voted down because the committee doesn't like `Alternative` at all, then instead I propose to deprecate the class and make it clear in the documentation that there is a policy to add no further support for it, so folks like me can avoid wasting our time in the future.

[2022-04-27 16:57] treeowl commented on #56
@tomjaguarpaw, @Gabriel439, it looks like there's been some misunderstanding. I was referring to `Data.Monoid.Alt`.

[2022-04-27 16:58] tomjaguarpaw commented on #56
Rest assured this is not the case.  I am but one CLC member with one opinion.  No other CLC member has yet spoken here.

I'm sorry if you got that impression from what I wrote.  If you can point out what it was that I said that gave you that impression then I will do my best to avoid doing so in the future.

[2022-04-27 16:59] chris-martin commented on #56
It wasn't anything you said, it's that members aren't tagged here, so I never have any idea who represents the committee and who doesn't.

[2022-04-27 17:22] tomjaguarpaw commented on #56
The list of committee members is available at https://github.com/haskell/core-libraries-committee#structure

[2022-04-27 23:05] Bodigrim commented on #55
It's in the purview of CLC as changes to `SrcLoc` may potentially affect performance of a wide class of programs.

Dear CLC members, let's hold a vote on this. @tomjaguarpaw, @chessai, I'll count your comments above as votes in favor, and I'm in favor as well. @cigsender @emilypi @cgibbard could you please vote?

[2022-04-27 23:09] emilypi commented on #55
Absolutely in favor of strictifying these - a `!` should be enough. `Int` is small enough that GHC should unpack those fields for us without the pragma.

[2022-04-27 23:17] cgibbard commented on #55
Why would non-constant expressions ever be placed into those fields in the first place? Aren't source locations something which ought to be completely known statically? Strict vs. lazy should not really make any difference here and I'm curious about why it does if it does. Other than that though, +1.

[2022-04-28 03:16] emilypi commented on #55
@cgibbard knowing what some Haskell galaxy brains get up to, someone is probably using `SrcLoc` for source spans and wrote a monoid instance for it that would benefit from unboxing.

[2022-04-28 17:59] Jashweii commented on #56
What about a direct analogue of foldMap instead, abstracting over pure?
[code]
This doesn't use applicative, it is essentially coerce (foldMap @_ @(Alt _ _)).

On the law topic I think people have mentioned relating alternative to semirings before, in the sense of applicative = (*)/1, and alternative (+)/0. This is probably because of the cardinality of the type parameters (modulo fmap) in the fol

[2022-04-28 20:20] chris-martin commented on #56
[`Agda.Utils.Applicative`](https://hackage.haskell.org/package/Agda-2.6.2.2/docs/Agda-Utils-Applicative.html) has that, and a few others. It might make more sense to adopt the entire suite than to cherry-pick the one of them that I've proposed.

I've explored this a bit. I think the relevant term is *quasi-ring* because a semiring requires a commutative addition operation. A lot of instances I'd c

[2022-04-28 20:28] treeowl commented on #56
@chris-martin, I believe the situation for parsers is rather worse than that. As I understand it, some (including, at least, Parsec) can fail while still consuming input, so `(p *> empty) <|> q` may parse a different language than `empty <|> q = q`.

[2022-04-28 20:30] treeowl commented on #56
Then again, those parsers probably don't obey left distribution or left catch either.

[2022-04-28 20:35] Gabriel439 commented on #56
For the purpose of this discussion, I think we should ignore non-law-abiding `Alternative` instances like `IO`.  Specifically, I mean we should ignore instances that don't even obey the associativity/identity laws that everybody agrees with.  For example, `IO` doesn't obey the right identity law (`io <|> empty /= io`).

I think it's up for debate what additional laws `Alternative` should have, but

[2022-04-28 20:41] konsumlamm commented on #56
Whatever you decide on, I'd suggest not using an `A` suffix for functions operating on `Alternative`, as that is usually used for `Applicative` functions (and at least I would find that confusing).

[2022-04-28 20:43] treeowl commented on #56
@Gabriel439, `IO` obeys that law up to choice of exception, which is a pretty useful property. I think parsers' failing to obey left distribution is a much more serious problem for intuition.

[2022-04-28 20:48] Gabriel439 commented on #56
@treeowl: Just to clarify: I'm not saying that we should remove the `Alternative` instance for `IO` (I personally don't like it, but I think that's irrelevant to this discussion).  I only mean that we should not refer to its behavior when discussing how to reason about utilities that abstract over `Alternative`.

In other words, if you instantiate a generic `Alternative` utility to a non-law-abidi

[2022-04-28 20:53] Gabriel439 commented on #56
I also think whether or not distributivity/zero/commutativity laws for `Alternative` should hold is irrelevant to this discussion, because the proposed utility does not use actually depend on distributivity or commutativity.  The only laws that are relevant to reasoning about the proposed utility are the associativity/identity laws

[2022-04-29 13:19] mcallisterjp commented on #56
The terminology is a mess here, isn't it? [_Near-semiring_](https://en.wikipedia.org/wiki/Near-semiring) appears to be the standard term for the structure where a semigroup [right-]distributes over a monoid.

Perhaps for consistency they might be called _nearsemipseudorings_ unless they have a multiplicative identity?

Or extend the idea of _rig_ and _rng_ and drop another letter. Maybe the eight

[2022-04-29 19:49] chris-martin commented on #56
Some concrete real-world Alternatives and what this function does with them:

- For list-like Alternatives, it is a straightforward type conversion
  - `[a] -> ListT IO a`
- For IO, parsers, and maybe, it is essentially a "head" function.
  - `[a] -> IO a` - produces the first element in the list or a failure.
  - `[a] -> Maybe a` - produces `Just` the head, or `Nothing`

Are there any specific ex

[2022-04-29 19:52] Gabriel439 commented on #56
Also, if you specialize the `Foldable` input to `[]`, this function obeys the following functor laws:

[code]

[2022-04-29 19:56] Gabriel439 commented on #56
@chris-martin: Note that for parsers it is not a "head" function.  I believe that for parsers it would non-deterministically select from the elements in the list.

For example:

[code]

… would be a parser that matches either the character `'A'`, `'B'`, or `'C'`.  This is why I like to call this function `select` because it essentially picks one element (non-deterministically, in the case of lists

[2022-04-29 20:01] tomjaguarpaw commented on #56
[code]

and for a typical parser that will produce the value `"A"`, consuming no input.

[2022-04-29 20:13] Gabriel439 commented on #56
Yeah, I should have clarified that I meant a backtracking-by-default parser

[2022-04-30 11:47] ksqsf commented on #26
I appreciate and in general agree with @hasufell 's proposed principles. However, the problem still needs a solution. If we were to reject proposal, the way forward (as I conceive) is probably:

1. Add to base a new function that undoes the escaping in base. (like `pPrint` and `pShow` from pretty-simple). A user can choose whichever print function they prefer without having to install a third-part

[2022-04-30 12:06] konsumlamm commented on #56
Repeating my earlier comment, I'd recommend not calling this `foldA` (if this proposal gets accepted in some form), as that implies that it has something to do with `Applicative` (at least to me, see `sequenceA`, `replicateA`, etc.). I think a name like `foldAlt` would be better.

[2022-05-01 01:31] cdsmith opened #57 "Explicitly define `length`, `elem`, etc. in `Foldable` instance for `Data.Functor.Compose`"
Currently, the `Foldable` instance for `Data.Functor.Compose` looks like this:

[code]

All other methods besides `foldMap` get default implementations, which delegate to `foldMap`.  I propose that the following should be added:

[code]

The inner container in a `Compose` may have a more efficient implementation for other methods of Foldable.  In case it does, that should be used instead of fallin

[2022-05-01 01:53] treeowl commented on #57
I think it should be `foldMap'`.

[2022-05-01 10:55] cdsmith commented on #57
Yes, you are right.  I edited my proposal to use `foldMap'`

[2022-05-01 21:04] chris-martin commented on #56
Good point. I think `foldAlt` sounds quite nice.

[2022-05-01 21:24] treeowl commented on #56
It would be nice to know how the two implementations compare for different functors and foldables.

[2022-05-01 22:30] cdsmith commented on #57
On further reflection, I realized that essentially the same situation applies to `elem` and other members, so I have updated this issue to also include them.

[2022-05-01 22:45] Bodigrim commented on #55
With 5 votes in favor out of 6 possible, the proposal is approved.

[2022-05-01 22:45] #55 closed

[2022-05-01 22:46] Bodigrim commented on #55
@konsumlamm please notify once GHC MR is ready.

[2022-05-01 22:47] Bodigrim commented on #57
@cdsmith could you please put up a draft MR?

[2022-05-01 22:48] Bodigrim commented on #54
@TeofilC if you'd like to move this forward, please put up a draft MR.

[2022-05-01 22:52] Bodigrim commented on #56
@chris-martin once you are satisfied with bikeshedding, please put up a final proposal.

[2022-05-01 23:03] Bodigrim commented on #51
@gergoerdi just a gentle reminder that this awaits an action from your side.

[2022-05-01 23:13] Bodigrim commented on #40
@michaelpj how do you feel about splitting this into separate proposals? I believe (1) can benefit from being voted separately.

[2022-05-02 00:21] cdsmith commented on #57
@Bodigrim Is `libraries/base` at https://gitlab.haskell.org/ghc/ghc the right place to do so?

[2022-05-02 00:41] Bodigrim commented on #57
Yes

[2022-05-02 03:15] cdsmith commented on #57
I probably cannot put up a draft MR in a timely fashion.  I spent some time this evening trying to figure out how to get that checked out and building.  Among the things that stumped me were how to get HLS working (it complains about missing a file related to hadrian), how to build just base (instead of rebuilding all of GHC and everything), where to put tests (I can barely find any tests in `libr

[2022-05-02 10:18] TeofilC commented on #54
GHC MR: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8124

[2022-05-02 10:49] konsumlamm commented on #55
GHC MR: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8122.

[2022-05-02 11:50] michaelpj commented on #40
Yes, that's a good idea. Adding the laws is cheap and easy, adding classes is much more work. I'll do that.

[2022-05-02 14:34] michaelpj opened #58 "Add/document laws for `toInteger` and `toRational`"
# Motivation

In the process of writing https://github.com/haskell/core-libraries-committee/issues/40, I realised that the pairs of typeclass methods `toInteger`/`fromInteger` and `toRational`/`fromRational` actually do have some reasonable coherence laws that I expect everyone assumes. Nonetheless, it would be good to document these.

# Proposal

Add the following laws to the documentation of the

[2022-05-02 21:15] Bodigrim commented on #54
Dear CLC members, let's vote on https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8124, which moves `class IsList` outside of depths of `GHC.Exts`, where only a daring soul guided by experienced hand could find it, into a new shiny `GHC.IsList`. CC @cigsender @tomjaguarpaw @emilypi @chessai @cgibbard

----

+1 from me.

[2022-05-02 21:34] cigsender commented on #54
+1

[2022-05-03 02:25] emilypi commented on #54
Makes sense +1

[2022-05-03 10:24] tomjaguarpaw commented on #54
+1

Seems a more appropriate place and it is re-exported from `GHC.Exts` for backwards compatibility.

[2022-05-04 18:14] Bodigrim commented on #54
With 4 votes in favor out of 6 possible, the proposal is approved by CLC, thanks.

[2022-05-04 18:14] #54 closed

[2022-05-06 11:06] wismill opened #59 "Pure Haskell implementation of GHC.Unicode"
Following this [discussion](https://gitlab.haskell.org/ghc/ghc/-/issues/21375), the goal of this proposal is to **refactor `GHC.Unicode` from a C implementation to a pure Haskell implementation**.

## Motivation

- [Reportedly up to 4× faster](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8072#note_427599)
- Simplified maintenance (no FFI).
- More portable code.

## Implementation

I opened

[2022-05-06 12:10] tomjaguarpaw commented on #59
This sounds absolutely tremendous!

[2022-05-06 14:42] nomeata commented on #59
Thanks for pushing this forward! Highly appreciated

[2022-05-06 17:24] harendra-kumar commented on #59
Nice to see one significant dependency on C libraries removed. I appreciate the contributions of @wismill to the `unicode-data` package, making it a drop-in replacement for `Data.Char` and now pushing this into GHC, actually replacing Data.Char! And thanks to @nomeata for taking the initiative and helping out on getting this done.

[2022-05-07 15:15] Gabriella439 opened #60 "Add operator for building association lists"
In the course of working on my [HasCal](https://github.com/Gabriella439/HasCal) project I stumbled upon a utility that I thought would be a useful addition to `base`.  Basically, given an input collection and an output collection it generates all possible mappings from inputs to outputs:

[code]

Here are some examples of how it works on lists:

[code]

… but it also works on `Maybe`s, `NonEmpty`

[2022-05-08 12:30] konsumlamm commented on #60
I'm not really sure where this would be useful, can you give an example? Most of the time a `Map` should be preferred over an association list, so I don't know if it's a good idea to add more operations for association lists to `base` (afaik the only such function is `Data.List.lookup` currently).

About the name, I don't think making it an operator is a good idea, since this isn't a very common o

[2022-05-08 15:11] Gabriella439 commented on #60
The reason it's not written to produce a `Map` is because it does not necessarily always produce an association list.  Consider the case where the `domain` is `Identity`, where the type specializes to:

[code]

That means that if you can guarantee that the domain is non empty, then each "association list" is actually a single key-value pair.  If you were to produce a `Map` then you would lose the

[2022-05-09 05:05] Ericson2314 commented on #60
I don't think we should do more "small clever utility functions" in base. The problem right now is `base` plays 3 rolls:
 - How we choose the default prelude
 - How we choose what all libraries depend on
 - How we wrap compiler-specific stuff

I have already written lots about the last two in trying to decouple base and GHC, but the first two should be decoupled too. I think this stuff belongs in

[2022-05-09 07:13] andreasabel commented on #60
I think additions to `base` should in general be harvested from utility libraries or utility modules that are already out there and have thus _proven_ to be useful in many contexts.  There are lots of utility modules out there which could be systematically searched for utility functions that have passed the test of time.  If a pattern is universally useful, it is rediscovered over and over again.

[2022-05-09 09:05] mpickering commented on #22
See the recent reddit thread about breaking changes for why we need to tread extremely carefully here..

https://old.reddit.com/r/haskell/comments/ujpzx3/was_simplified_subsumption_worth_it_for_industry/

[2022-05-09 12:55] Gabriella439 commented on #60
@andreasabel: Okay, then why hasn't https://github.com/haskell/core-libraries-committee/issues/56 been merged, yet?

[2022-05-10 21:29] Bodigrim commented on #60
#56 awaits for https://github.com/haskell/core-libraries-committee/issues/56#issuecomment-1114356299

[2022-05-10 21:33] Bodigrim commented on #57
@cdsmith you do not even need to build GHC yourself, CI will do it for you; and at this stage tests are not obligatory.

[2022-05-10 23:43] hasufell commented on #43
I don't think github.com/haskell can or should be considered any sort of front lobby. Yes, it's true some boot packages are maintained here, some are not.

The most important project doesn't even live here, but at gitlab.haskell.org, which also is a much more appropriate place to be a front lobby: because it's entirely controlled by the community.

The github organization is nice for visibility an

[2022-05-11 01:34] goldfirere commented on #43
I don't have an informed opinion on the benefits / drawbacks of migrating projects to GitLab. But I do want to respond to

Whether *we* think it can or should be considered a front lobby isn't quite the question, because it's other people's impressions that matter here. And, some people (for example, me; others have agreed, too), would consider an organization hosted at github.com/haskell to be an

[2022-05-11 05:34] andreasabel commented on #60
Sorry, I have not participated in the discussion of #56.  But, looking at it, it seems well-motivated, quoting 4 real-world incarnations in the OP.

[2022-05-11 15:27] Gabriella439 opened #61 "Permit Semigroup/Monoid instances with only sconcat/mconcat?"
In other words, permit `sconcat` as a minimal definition for `Semigroup` and `mconcat` as a minimal definition for `Monoid`, where `(<>)` has a default implementation of:

[code]

… and `mempty` has a default implementation of:

[code]

This would also entail updating the `MINIMAL` pragma for each class to match.

The motivation for this is two-fold:

* to permit what mathematicians call an "unbia

[2022-05-11 15:55] Gabriella439 commented on #61
I should also mention what the relevant laws would be for instances that only implement `sconcat` / `mconcat`:

[code]

From those laws you can derive the traditional identity/associativity laws.  Here's the proof of the right identity law:

[code]

… and here's the proof of the associativity law:

[code]

[2022-05-11 15:57] Gabriella439 commented on #61
@chessai: Could you explain how would this interfere with efficiency?

[2022-05-11 16:01] chessai commented on #61
For mempty, you would never want the mconcat [] to not just be some constant.

For append (<>), you would want to stop the nonempty list from materialising.

There are many monoids for which mempty/append are cheap to implement in straightforward ways that don't involve these additional materialisations and indirections.

[2022-05-11 16:10] Gabriella439 commented on #61
The lists are not materialized when you implement `mempty` and `(<>)` in terms of `mconcat` / `sconcat`.  For example, this module:

[code]

… generates this core for `example`:

[code]

… which doesn't materialize the intermediate list.

[2022-05-11 16:18] chessai commented on #61
I suppose this woudn't be too bad if instead of (for eg Semigroup) `MINIMAL sconcat`, it was `MINIMAL (sconcat | (<>))`.

Also, I don't really trust the optimiser at scale. I've had production code performance degrade (which was visible in the core) too many times after refactorings or compiler upgrades. As such, tiny core "benchmarks" aren't really convincing to me.

I think if we do the "one-or-

[2022-05-11 16:22] chessai commented on #61
Oh, I think I misunderstood the proposal - I think you are proposing updating the MINIMAL pragmas in the way I just outlined. I thought you were just suggesting moving to sconcat/mconcat alone. Can you clarify which one you mean? If I misinterpreted you, please let me know.

[2022-05-11 16:28] Gabriella439 commented on #61
Yeah, I meant `MINIMAL (sconcat | (<>))`

[2022-05-11 16:32] Gabriella439 commented on #61
No worries! 🙂

[2022-05-11 17:37] chshersh commented on #61
@Gabriella439 Could you give some examples where it's easier to define `sconcat / mconcat` than `<> / mappend`? I believe it would increase the motivation for this proposal even further 🙂

I also wonder how this affects GHC error messages for learners and experienced users. Currently, if I just write the instance head as single line `instance Semigroup Foo where` I get a warning:

[code]

But if I

[2022-05-11 17:42] Gabriella439 commented on #61
Some examples instances using `mconcat` are:

[code]

For your example `Semigroup'` instance you'd also need a `MINIMAL` pragma to get a useful error message

[2022-05-11 22:52] Bodigrim commented on #43
I cannot find a rationale to support the view that Haskell GitHub organisation is a _lobby_; it's a _garage_ or a _bike shed_. And while we are free to discuss its repainting, it functions pretty well. Please do not disturb people at work. If I had time, I'd be more concerned about our [front door](https://www.haskell.org/) or [reception room](https://haskell.foundation/).

[2022-05-12 09:39] phadej commented on #61
In all these examples (`[a]`, `Any`, `All`, `Sum a`, `Product a`, `Dual a`), you also want to define `mempty` (and `<>`) explicitly.
I'm not convinced there is a case where you don't want to define `mempty` explicitly.

It looks like that `mconcat` isn't explicitly defined for all of these, it should be. The member is there to allow more efficient implementations. But that is orthogonal/separate t

[2022-05-12 22:18] Bodigrim commented on #61
@Gabriella439 could you please extend the proposal with a motivation section? What does this additional flexibility buy us?

[2022-05-12 22:21] Bodigrim commented on #60
@Gabriella439 could you please extend the proposal, listing applications of `-->`? What are drawbacks of implementing `-->` in a standalone package?

[2022-05-13 05:19] Gabriella439 commented on #61
@Bodigrim: I updated the motivation section

[2022-05-13 05:20] Gabriella439 commented on #60
@Bodigrim: The original proposal already lists applications of `-->`

The downside of implementing it in a standalone package is that it's not worth importing an entire package just to obtain one function

[2022-05-13 07:16] tomjaguarpaw commented on #60
Could you elaborate on what exactly are the costs of importing a package?

[2022-05-13 09:19] Gabriella439 commented on #60
@tomjaguarpaw: https://www.fosskers.ca/en/blog/wide-haskell

[2022-05-13 09:33] Gabriella439 opened #62 "Semigroup / Monoid instances for {Accum,EitherT,Identity,MaybeT,Reader,RWS,State,Writer}T?"
I would like to contribute `Semigroup` / `Monoid` instances of the form:

[code]

… where `F` is each monad transformer.  Or equivalently:

[code]

I motivate why these instances are useful and why the existence of `Ap` alone does not suffice in this post:

https://www.haskellforall.com/2022/03/applicatives-should-usually-implement.html

An alternative variation on this proposal that I'd also be f

[2022-05-13 09:34] tomjaguarpaw commented on #60
The relevance of that article to "it's not worth importing an entire package just to obtain one function" is not immediately clear to me.

[2022-05-13 09:35] tomjaguarpaw commented on #62
@Bodigrim can correct me if I am wrong, but I don't believe CLC has authority over `transformers`, so I believe this issue belongs on https://hub.darcs.net/ross/transformers/issues.

[2022-05-13 09:43] Gabriella439 opened #63 "Upstream Only type into base?"
The context for this is the discussion on https://github.com/haskell-hvr/Only/issues/3

Specifically, there is already a `Solo` type in `base` that is essentially the same as `Only`, except that `Solo` uses `data` and `Only` uses `newtype`.  Given that the `Only` package is abandoned and `base` has approved the `Solo` type, it seems like a good time to decide whether or not to upstream `Only` into

[2022-05-13 09:53] tomjaguarpaw commented on #63
If `Only` is unmaintained it seems like the first step should be to initiate a package takeover of `Only`. "A package has become abandoned" doesn't seem like a good rationale to vendor it into `base`.

[2022-05-13 10:11] sjakobi commented on #63
Note that the `Only` package has not reached very wide adoption: https://packdeps.haskellers.com/reverse/Only

I think users of `Only` should consider switching to `Identity` or `Solo`.

[2022-05-13 10:31] konsumlamm commented on #63
It seems you want `Only` as a 1-tuple that is a `newtype`? The reason `Solo` uses `data` is for consistency, since the other tuples also have an extra indirection for the elements.

As the others have mentioned, why should we add `Only` if we already have `Identity`?

[2022-05-13 10:36] konsumlamm commented on #60
I don't see any examples that show why we should want this in `base`. It's some examples that show what the function does, but not why it would be useful (at least to me).

[2022-05-13 11:47] cigsender commented on #63
Row, row, row, your bloat, gently up the stream…

[2022-05-13 20:44] Bodigrim commented on #62
Indeed, `transformers` are out of scope.

[2022-05-13 22:29] Bodigrim commented on #63
@Gabriella439 The `Identity` type is the blessed 1-tuple `newtype` for `base`.

[2022-05-14 01:30] Gabriella439 commented on #62
Whoops, my mistake!  Closing…

[2022-05-14 01:30] #62 closed

[2022-05-14 01:34] Gabriella439 commented on #62
The matching issue on the `transformers` repository is: https://hub.darcs.net/ross/transformers/issue/86

[2022-05-14 01:37] Gabriella439 commented on #63
@Bodigrim: Alright, then it seems like most people agree with using `Identity` in lieu of `Only` so I'll go ahead and close this

[2022-05-14 01:37] #63 closed

[2022-05-16 12:46] gergoerdi commented on #51
https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242

[2022-05-16 13:07] monoidal commented on #51
Earlier discussion which resulted in removal of `Enum (Down a)`: https://mail.haskell.org/pipermail/libraries/2020-September/030825.html

[2022-05-16 14:13] Ericson2314 opened #64 "Friendlier non-GHC module for everything in the prelude"
### Num

I was surprised that `GHC.Num` seems to be the only home for this report-specified class. In https://github.com/obsidiansystems/commutative-semigroups/pull/2 we are thinking we **might** need to create a `CommutativeProduct` subclass of `Num`. I was about to do that and put it in its own module, but I didn't know what to call that module! Surely I don't want to squat on `GHC` with somethi

[2022-05-16 14:25] Ericson2314 commented on #64
(More broadly, I think we should have a principal that anyone using `-XNoImplicitPrelude` should be able to get everything in the `base`'s `Prelude` without getting it from `Prelude` or ` `GHC.*` module. In other words `Prelude` should only reexport things from "nice" modules.)

[2022-05-17 17:18] lykahb opened #65 "Add monadic traversal with accumulator to Data.Traversable"
I suggest adding new utility functions to `Data.Traversable` that allow monadic effects when traversing the data with accumulator:

[code]

Cabal has an implementation of it at [Distribution.Utils.MapAccum](https://hackage.haskell.org/package/Cabal-3.6.3.0/docs/Distribution-Utils-MapAccum.html#v:mapAccumM):
[code]
We can reuse this implementation.

### Motivation
My use case is processing a list o

[2022-05-17 17:57] treeowl commented on #65
If you change the argument order a bit, you'll see that `mapAccumM` is really just `mapM` in the `StateM` monad. I think it should use `mapM` rather than `traverse` because there is an (admittedly not huge) chance that the `Traversable` in question has a specially optimized `mapM` for "strict" monads. I also think the `Functor` and `Applicative` instances for `StateM` should use monadic implementa

[2022-05-17 19:49] Bodigrim commented on #59
I conducted a technical review of https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8072 and it looks good to me.

Dear CLC members, let's vote on the proposal to speed up `Data.Char` 4 times :-P
@tomjaguarpaw @cigsender @cgibbard @emilypi @chessai

+1 from me.

[2022-05-17 21:30] chessai commented on #59
+1

[2022-05-18 08:54] tomjaguarpaw commented on #59
+1

[2022-05-18 09:30] cigsender commented on #59
+1

[2022-05-18 09:32] cgibbard commented on #59
+1

[2022-05-19 15:20] tomjaguarpaw commented on #65
I don't think that matters, does it? Unless I'm missing something, naked `MonadState` operations will be handled by the `StateT` that's providing the "accumulating" functionality, and `lift` of `MonadState` operations will be delegated to the wrapped monad.

[2022-05-19 19:16] Bodigrim commented on #59
With 5 votes in favor out of 6 possible, the proposal is now approved by CLC. Thanks @wismill.

[2022-05-19 19:16] #59 closed

[2022-05-19 22:41] Bodigrim commented on #58
Reddit discussion: https://www.reddit.com/r/haskell/comments/umtbqp/adddocument_laws_for_tointeger_and_torational/
See also https://ro-che.info/articles/2019-05-14-convert-cdouble-to-double

@michaelpj I suggest amending the law to say "if `i == i` then `fromRational (toRational i) == i`". This is motivated to work around NaN, but makes sense on its own: if your data type is so crazy that `i /= i`

[2022-05-19 22:44] Bodigrim commented on #56
@chris-martin just a gentle reminder that this awaits for your action.

[2022-05-19 22:47] Bodigrim commented on #60
@Gabriella439 are you satisfied with the discussion? Shall I trigger a vote?

[2022-05-19 22:51] Bodigrim commented on #51
@gergoerdi I left comments at https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242

[2022-05-19 22:53] Bodigrim commented on #50
@andreasabel any chance you might have time to return to this?

[2022-05-19 22:57] Bodigrim commented on #45
I think it's a reasonable proposal. I'm a bit concerned that `Numeric.Natural` does not export anything except `Natural` itself at the moment, but I cannot think of a better module. And making safe subtraction of `Natural` more accessible and discoverable is a noble goal indeed.

Dear CLC members, let's vote on the proposal. @tomjaguarpaw @cgibbard @cigsender @emilypi @chessai

+1 from me.

[2022-05-19 23:19] cigsender commented on #45
+1

[2022-05-19 23:20] Gabriella439 commented on #60
Yeah, I'm ready for a vote

[2022-05-20 00:59] chessai commented on #45
+1

[2022-05-20 07:43] tomjaguarpaw commented on #45
+1

[2022-05-20 09:32] andreasabel commented on #50
@Bodigrim : Thanks for the nudge.  Unfortunately, I got too much on my plate atm.
If I was a routine GHC builder, I could do it on the side...

I would be happy if someone took over.

[2022-05-20 09:50] googleson78 commented on #50
I'll try to see what breakage happens given your instructions.

[2022-05-20 11:27] andreasabel commented on #65
Indeed, `MonadState` does not lift through `StateT`, but always refers to the outermost `StateT` (https://hackage.haskell.org/package/mtl-2.3/docs/Control-Monad-State-Class.html#t:MonadState):
[code]

[2022-05-20 15:38] cgibbard commented on #45
+1

On Fri., May 20, 2022, 03:43 tomjaguarpaw, ***@***.***> wrote:

[2022-05-20 20:09] Bodigrim commented on #45
With 5 votes in favour out of 6 possible, the proposal is approved by CLC.

@Zemyla could you please create a GHC MR, which I can approve?

[2022-05-20 20:17] Bodigrim commented on #60
Dear CLC members, let's vote on the proposal. @chessai @cigsender @emilypi @cgibbard

----

-1 from me. The proposal covers semantics of the function (beautiful indeed), but I'm still at loss about practical applications. Expanding `base` puts a cost on every Haskell user and I do not feel it justified in this case.

[2022-05-20 20:28] Bodigrim commented on #34
Sorry, I must admit I don't have a working knowledge of `Text.Printf`. I'm still at loss why one might wish for `instance PrintfType Text` - is it any more useful than `instance PrintfType String`?

[2022-05-20 20:43] brandon-leapyear commented on #34
Sure:
[code]
It's certainly _nice to have_; it's completely workaroundable. But this is just an example; it's not inconceivable for someone's personal project to have some special `MyString` type that they'd like to overload `printf` for, to easy ergonomics for their particular use-case.

My point, though, is to increase flexibility; there is absolutely no benefit to not re-export `PrintfType`. Th

[2022-05-20 20:52] Bodigrim commented on #34
Is `instance PrintfType Text` a good motivating example here? Is it possible to implement `printf` for it in efficient way? Anyway, we can trigger a vote, if you are happy with the feedback received.

[2022-05-20 20:58] tomjaguarpaw commented on #34
I'm confused. [Your link](https://gitlab.haskell.org/ghc/ghc/-/blob/master/libraries/base/Text/Printf.hs#L81-88) shows that `PrintfType` _is_ exported (as is `HPrintfType`). Do you rather mean "Export `spr` (and `hspr`)"?

If so, given that their types leak implementation details, if we are going to consider this, I would rather define an abstract type for them. I believe this would be a non-break

[2022-05-20 21:06] brandon-leapyear commented on #34
Yes, you're right. I'm specifically wishing to change this sentence:

Updated the issue title to reflect this.

That would solve my issue, so if that's good with everyone, that's good enough for me.

[2022-05-20 21:11] tomjaguarpaw commented on #34
I think exporting that abstract interface is worth considering, though I'd like some evidence from maintainers of relevant libraries (including `text`) that they would want to take advantage of it.

[2022-05-20 21:20] brandon-leapyear commented on #34
@tomjaguarpaw  I think it's worthwhile to do even if libraries like `text` don't want it, so that users could define `instance PrintfType Text` in their own projects if they so want.

@Bodigrim Sorry, I'm still new to this process; [`PROPOSALS.md`](https://github.com/haskell/core-libraries-committee/blob/main/PROPOSALS.md#the-when) says that once there have been no issues in 7 days, the CLC will h

[2022-05-20 21:47] Zemyla commented on #45
How do I do that?

[2022-05-20 21:53] Bodigrim commented on #45
Fork https://gitlab.haskell.org/ghc/ghc, make a change in your fork and raise a merge request.

[2022-05-20 22:10] Bodigrim commented on #34
@brandon-leapyear I'm terribly sorry, that's my fault, this proposal fall off my radar.

I think the discussion can benefit from engaging more participants, so I've posted a link on [Reddit](https://www.reddit.com/r/haskell/comments/uu8z44/export_printftype_implementation/) and I'm inclined to wait for a week or so. But as a proposer you have a right to trigger CLC vote immediately, if you wish.

[2022-05-20 22:16] brandon-leapyear commented on #34
No worries! Happy to wait for more input

[2022-05-20 22:17] Bodigrim commented on #61
I'd like to have a feedback from educators on the proposed change. CC @GrahamHutton, @argumatronic, @chris-martin, @chshersh.

[2022-05-21 00:08] endgame commented on #34
This really doesn't look that compelling to me - my experience is that the more "implicit conversion"-ish stuff that happens through typeclasses, the less I know what's going on. I also don't think "allowing people to define more orphan instances" is an especially compelling argument.

[2022-05-21 08:14] tomjaguarpaw commented on #34
An even less radical alternative is to not expose the `Functor` instance of `Spr` and `HSpr` but instance to only expose values of types `IsString s => Spr s` and `IsString s => HSpr s`.

[2022-05-21 11:08] chshersh commented on #61
From an educator's perspective, the proposed change doesn't help me to explain `Semigroup` and `Monoid`. I find it easier to explain and understand when you append **two things** instead of **zero or more (potentially infinite number of) things**. Even the example with lists uses `concat` and `concat` is implemented via `++` which appends two lists together.

I haven't seen a single example where

[2022-05-21 14:31] Gabriella439 commented on #61
@chshersh: Can you clarify what hassle you are referring to?

[2022-05-21 14:59] chshersh commented on #61
@Gabriella439 Apologies, _hassle_ was a wrong choice of words. Its meaning is _irritating inconvenience_ (as I just checked and apparently was using the word wrongly my entire life). But I don't see anything irritating or inconvenient in this proposal. I rephrased my last sentence to better clarify what I mean 🙂

[2022-05-21 20:00] schuelermine opened #66 "Port nTimes and applyWhen from ghc GHC.Utils.Misc"
I suggest to include `nTimes` and `applyWhen` from ghc GHC.Utils.Misc in `Data.Function`. They’re simple & versatile utility functions.

Specifically, add the following to `Data.Function`:

[code]

[code]

…and its strict version:
[code]

**This proposal text has been updated. Immediately following discussion refers to the original text**

[2022-05-21 20:52] Bodigrim commented on #34
On one side, I think that exposing these internals (even as is) is not a big deal; `Text.Printf` is an old and stable module. On the other hand, I feel that the proposal lacks a motivating example. E. g., which specific instance for `Text` could be offerred? Is it any better than unpacking format string to `String`?

[2022-05-22 07:37] tomjaguarpaw commented on #66
`nTimes` is rather problematic because it leaks (stack) space when `f` is strict. Consider `nTimes n (+1)`:

[code]

In practice the version of this that is most likely wanted is the strict accumulating version

[code]

The lazy version does have some use when `f` is lazy, e.g.:

[code]

which can be consumed in a streaming fashion. I'd guess these uses occur an order of magnitude less frequently

[2022-05-22 07:44] tomjaguarpaw commented on #66
Regarding `applyWhen`, in a codebase I was working in I would honestly prefer to see

[code]

or even

[code]

which are clear and obvious, than `applyWhen` which would make me think for at least a second, and maybe have to look something up.

[2022-05-22 07:56] schuelermine commented on #66
How about `nTimes'` for the strict version?

[2022-05-22 09:35] schuelermine commented on #66
Also, I disagree with the thing about `applyWhen`. `\cond f -> if cond then f else id` is too verbose. Using `applyWhen` in higher-order functions is more concise and doesn’t clutter with syntax. `applyWhen` communicates the function’s purpose well.

[2022-05-22 12:28] hdgarrood opened #67 "More NonEmpty variants of inits & tails"
At the moment `Data.List.NonEmpty` has the following variants of `inits` and `tails`:
[code]
where the input list may be empty, but the output list is guaranteed to contain at least one element (namely, the input list). Note that `inits` and `tails` will always both include the empty list at the start and end of their return values, respectively:
[code]
While it seems reasonable to consider the em

[2022-05-22 12:55] Bodigrim commented on #26
First of all, I must say that English native speakers gravely underestimate how important is this issue. It is very frustrating when `ghci` refuses to speak your language.

I do not think that the workaround proposed by @tomjaguarpaw is a complete solution. It requires `cabal`, it requires third-party packages, you must think about it __beforehand__, you cannot apply it in the middle of ghci sessi

[2022-05-22 13:25] tomjaguarpaw commented on #26
I am conscious that as a speaker of a language whose character set fits into ASCII I am at risk of underestimating how important this issue is. Yet I don't think I have, actually, fallen into that trap. (I may be mistaken.) Furthermore, others who have commented against this proposal are native speakers of languages whose character sets don't fit in ASCII.

To be clear, I am not against this propo

[2022-05-22 16:11] andreasabel commented on #67
+1. This proposal is consistent with the already existing `group1`: https://hackage.haskell.org/package/base-4.16.1.0/docs/Data-List-NonEmpty.html#v:group1

[2022-05-22 16:17] andreasabel commented on #66
+1 on `applyWhen` (and its dual `applyUnless`).
Pretext for `applyWhen`:
- https://hoogle.haskell.org/?hoogle=applyWhen&scope=set%3Astackage (lists 5 utility libraries)
- https://github.com/ndmitchell/extra/issues/63

Pretext for `applyUnless`:
- https://hoogle.haskell.org/?hoogle=applyUnless&scope=set%3Astackage (lists 3 utility libraries)

[2022-05-23 14:40] alexfmpe commented on #66
I typically use `Data.Bool.bool :: [bool :: a -> a -> Bool -> a]` on these cases

`applyWhen b f = bool id f b`

[2022-05-25 19:15] kindaro opened #68 "Make `Data.List.permutations` return a `NonEmpty`?"
[Currently we have:](https://hackage.haskell.org/package/base-4.16.1.0/docs/Data-List.html#v:permutations)

    permutations :: [a] -> [[a]]

However, you may observe that any list has at least one permutation. For example, the empty list's only permutation is the empty list itself, so:

    λ Data.List.permutations [ ]
    [[]]

This behaviour is also theoretically sound since permutations of a l

[2022-05-26 09:09] googleson78 commented on #50
Just as an update, I've been struggling with this, due to (probably) not building ghc right. As an example, I can't satisfy a dependency on `libffi`. If anyone has some tips, I'm happy to hear them (either here, or via other channels, e.g. email).

[2022-05-26 22:26] Bodigrim commented on #50
@googleson78 could you quote an exact error message? If you are on macOS, [this incantation](https://gitlab.haskell.org/ghc/ghc/-/issues/20592#note_391266) works for me.

[2022-05-28 13:59] andreasabel commented on #68
I suggest to name it `permutations1`.

[2022-05-28 14:11] JakobBruenker commented on #68
Doesn't the `1` suffix usually indicate that the input has to be non-empty, rather than the output?

[2022-05-28 16:22] andreasabel commented on #68
Dunno.  I see no pretext for this in `Data.List`.
What do you suggest?

[2022-05-28 16:32] JakobBruenker commented on #68
If we go with the precedent set by `Data.List.NonEmpty.group` and `Data.List.NonEmpty.repeat` and such, it would just be `Data.List.NonEmpty.permutations`.

[2022-05-29 15:20] Gabriella439 opened #69 "Add `safe` function to convert partial functions on empty lists to total functions?"
The idea is to add this function to `Data.List`:

[code]

… which you can use like this:

[code]

… and so on.  Another possible variation on this proposal is to define `safe` to work on `Foldable`s instead of monomorphic lists:

[code]

… in which case it would probably go in `Data.Foldable` instead of `Data.List`.

[2022-05-29 15:31] Bodigrim commented on #69
I think it's a bit misleading: `safe (tail . tail)` is not safe at all.

[2022-05-29 15:32] Gabriella439 commented on #69
Somebody asked me on Twitter if the generated code for something like `safe head` would optimize away the `error`, and the answer is that it appears to do so, at least when the relevant functions are defined within the same module

[code]

[code]

[2022-05-29 15:36] Gabriella439 commented on #69
@Bodigrim: The reason I call this function `safe` is because basically every non-partial `base` / `Prelude` alternative calls these functions `safeHead`, `safeTail`, etc.  I'm following existing widespread naming conventions in the ecosystem

[2022-05-29 15:36] jneira commented on #69
yep the name should be changed, not sure what could be the alternative

[2022-05-29 15:36] thielema commented on #69
On Sun, 29 May 2022, Gabriella Gonzalez wrote:

It has nothing to do with safety in the sense of unsafePerformIO or
SafeHaskell. It's about total and partial functions.

I think it is enough to have a function that checks and converts to Maybe
(NonEmpty a) and then apply your NonEmpty functions with 'fmap'.

[2022-05-29 15:38] Gabriella439 commented on #69
@Bodigrim @jneira: Another alternative could be to call the function "safer", to indicate that there is still the possibility that the result is partial, but it is less partial than before

[2022-05-29 15:41] Gabriella439 commented on #69
@thielema: The goal is to provide something that is ergonomic.  What you are proposing is significantly less ergonomic

For example, compare this:

[code]

… versus your proposal, which would be:

[code]

[2022-05-29 15:46] JakobBruenker commented on #69
FWIW, that function already exists, `Data.List.NonEmpty.nonEmpty`

[2022-05-29 15:50] thielema commented on #69
On Sun, 29 May 2022, Gabriella Gonzalez wrote:

My proposal is total, yours is not.

NonEmpty.head <$> nonEmpty [1,2]

I think it is better to flag common partial functions with HLint than
pretending that you can make them "safe".

[2022-05-29 16:01] tomjaguarpaw commented on #69
This doesn't make sense to me. I can't imagine a situation where it would be better to use `safe` than just to use  a full solution, for example `Data.List.NonEmpty`, instead.

[2022-05-29 16:03] Gabriella439 commented on #69
@thielema @tomjaguarpaw: The problem I'm trying to solve is that right now the path of least resistance is to use the partial functions on lists because:

* These partial functions on lists are included in the Prelude by default (unlike their `NonEmpty` alternatives)
* The corresponding total `NonEmpty` functions collide with the partial functions from the Prelude, so they have to be imported qual

[2022-05-29 16:08] tomjaguarpaw commented on #69
I think that exporting safe versions of all crashing functions in `Prelude` is better than "`safe`", which seems to be far too clever for its own good.

[2022-05-29 16:12] Gabriella439 commented on #69
@tomjaguarpaw: That was my original idea, but a prior proposal of mine was rejected due to the [Fairbairn threshold](https://wiki.haskell.org/Fairbairn_threshold) so this was an attempt to create a proposal that was "Fairbairn threshold"-clean.

Specifically, if you have a `safe` function then there's no head to define a `safeHead` function because of the Fairbairn threshold:

[code]

… because (q

[2022-05-29 16:16] JakobBruenker commented on #69
I would argue that the Fairbairn threshold isn't the only thing that matters here - it seems like a good idea to have a solution that doesn't rely on partial functions, such that you can eliminate them from your code base.

[2022-05-29 16:19] Gabriella439 commented on #69
@JakobBruenker: See my comment here: https://github.com/haskell/core-libraries-committee/issues/69#issuecomment-1140478131

The goal here is not to propose that `safe` is the blessed way to compute a safe head.

Rather the goal here is to provide an ergonomic total alternative to partial functions to stem the bleeding where people use the partial versions out of convenience.

[2022-05-29 16:20] wygulmage commented on #69
[bikeshedding] A name like `nonNull`, `onNotNil`, `nonNilWith`, though a few letters longer than `safe`, might be more clear -- especially for a Foldable-generalized version. Is there something like this in the `monofoldable` or `RIO` hierarchy of libraries? I recall them using a nonempty newtype for foldables.

[2022-05-29 16:23] Gabriella439 commented on #69
Yeah, I'm not too attached to the name.  I'd be fine with alternatives that don't use the word `safe` if that's what it takes to get this approved

[2022-05-29 16:29] jneira commented on #69
+1 to `onNotNil`, `onNotNull` or `onNotEmpty`

[2022-05-29 16:36] tomjaguarpaw commented on #69
I don't really follow the logic. Firstly, `safe` is a small enough function that *it* doesn't pass the Fairbairn threshold. Secondly, the Fairbairn threshold shouldn't really come into play here, because it's a question of providing _safer_ functionality, not _more_ functionality. My problem with `safe` is it's not much safer:

1. `safe (tail . tail)` is not safe (per @Bodigrim)
2. you have to kno

[2022-05-29 16:44] Ericson2314 commented on #69
I think we just need to rip off the bandaid and remove from the Prelude after a deprecation cycle.

The problem isn't that people need help writing total code, but that writing partial code is too often the path of least resistance. Having a `safe` function that one must remember to use doesn't help change the path of list resistance.

[2022-05-29 16:50] Ericson2314 commented on #69
I see above @Gabriella439 also mentioned th path of least resistance too. I just don't believe adding more things to Prelude can help. `head` is easier than `safe head`. `head` is in fact one of the easiest things period — a plain function exported from Prelude is at the front of the Huffman priority queue. I think it's doomed to try to make something else *more* easy, all we can do is make these

[2022-05-29 16:57] wygulmage commented on #69
I have often wondered why we don't have
[code]
(names a la `foldMap` `Monoid.First` and `Monoid.Last`)

and why `listToMaybe` has such a name.

Is it because we can't get a`tail` from `Foldable`?

[2022-05-29 16:59] Gabriella439 commented on #69
@tomjaguarpaw: I genuinely do not understand the pushback against this function with respect to safety:

* The `safe` function is a total function, not a partial function
* The `safe` function only makes its argument less partial.  It's a strict improvement with respect to safety
* Even for the counter-examples given (e.g. `safe (tail . tail)`) the result is still safer than the original version w

[2022-05-29 17:00] Bodigrim commented on #34
My conclusion is that the change is unlikely to harm, but also unlikely to help, because I struggle to imagine instances for `Text` or others. @brandon-leapyear would you like us to vote on the proposal as is or would you prefer to expand it with motivational examples?

[2022-05-29 17:07] Profpatsch commented on #69
I find myself sighing a lot when I realize that there is no `safeHead` or `headMay` in base, and that I have to either add it to my prelude (and a corresponding hlint rule for `head`), add the `safe` library, or match manually (not as easy for `tail`, though that one is questionable from a performance standpoint anyway).

[2022-05-29 17:22] andreasabel commented on #69
@Profpatch wrote:

It is called `listToMaybe` (maybe not the best name, but its the inverse of `maybeToList`).
You can discover it via its type: https://hoogle.haskell.org/?hoogle=%5Ba%5D%20-%3E%20Maybe%20a

[2022-05-29 17:27] andreasabel commented on #69
I downvoted the proposal: `safe` is too generic a name for the specific task.
FWIW, lots of safe projections from lists are defined in https://hackage.haskell.org/package/Agda-2.6.2.2/docs/Agda-Utils-List.html.
I also like a  `Null` class with `ifNull :: Null a => a -> b -> (a -> b) -> b` (see https://hackage.haskell.org/package/Agda-2.6.2.2/docs/Agda-Utils-Null.html#v:ifNull) so that `safe f xs =

[2022-05-29 17:31] Gabriella439 commented on #69
@andreasabel: Would you approve a different name?

[2022-05-29 17:46] treeowl commented on #69
Here's one approach:

[code]

I'd much rather use `Language.Haskell.TH.Name` than `Symbol`, to properly and ergonomically explain *which* `tail` I mean, but for some reason GHC inexplicably gives an error if I put something like `'tail` in a type.

[2022-05-29 17:53] tomjaguarpaw commented on #69
I don't believe that it will actually make an observable nudge towards making people write less crashing (more "safe") code in Haskell. I've suggested some alternatives that I think would:

1. Adding the non-crashing versions to `Prelude`
2. Adding stark warnings to the Haddocks of crashing functions
3. Removing crashing functions from `Prelude`

I hope that helps explain my point of view.

[2022-05-29 18:23] Gabriella439 commented on #69
I would like to provide some critical feedback here because one aspect of this process is frustrating for me.

Could people please stop proposing wildly different solutions on this thread (such as https://github.com/haskell/core-libraries-committee/issues/69#issuecomment-1140494832)?  Sorry to single you out @treeowl but you're not the only one.

I'm okay with suggesting and discussing related alt

[2022-05-29 18:29] treeowl commented on #69
Fine. I don't like this proposal because:

1. Its name doesn't adequately explain its purpose. Is there a way to make a concise name that does so? Maybe, but I don't have one to suggest.
2. I'm not convinced it's sufficiently general to add to `Data.List`. As has been mentioned, it only makes very *particular* sorts of functions safe. Thus I'd prefer the `safeSoAndSo` or `soAndSoMay` approaches.

[2022-05-29 18:31] thielema commented on #69
On Sun, 29 May 2022, Gabriella Gonzalez wrote:

Maybe we should not discuss proposals, but goals - at least first.

[2022-05-29 18:43] tomjaguarpaw commented on #69
I'm inclined to agree. It's very hard to judge a proposal out of a broader context which includes a clear problem statement, a description of the status quo, and an analysis of the pros and cons of a wide range of solutions.

[2022-05-29 19:14] NorfairKing commented on #69
The `safe` function would probably go on the [dangerous function list](https://github.com/NorfairKing/haskell-dangerous-functions) under "doesn't do what you think it does", because it doesn't make a function safe (nor total, which is what you meant, I think).
See the `safe (tail . tail)` example.
I'd be happy with something with a better name, but at that point it's going to be more difficult to

[2022-05-29 19:51] Gabriella439 commented on #69
I'm okay with the proposal to add `safeHead` and friends directly, but I don't think the proposal to get rid of the partial functions in `base` is realistic, given that nobody has volunteered to actually do it or even to just lead the effort (and take care of all the migration/communication/documentation involved)

[2022-05-29 20:00] Gabriella439 commented on #69
Also, going back to my comment here: https://github.com/haskell/core-libraries-committee/issues/69#issuecomment-1140500649

… please do not propose removing partial functions from `base` in this thread unless someone has formally submitted a proposal to do so.  The reason why is that it's not even clear what that even entails because it is a vague proposal without additional details and there are

[2022-05-29 20:06] treeowl commented on #69
As an aside, removing the partial functions might annoy users of Liquid Haskell, who use them quite safely.

[2022-05-29 20:13] Bodigrim commented on #69
A point of order. Discussing alternative solutions is an important step, especially if a proposal does not cover them. However, a proposer is not obliged to analyze them in full or write detailed rebuttal indeed. A proposer can ask CLC to vote as is.

[2022-05-29 22:57] Fresheyeball commented on #69
Call it `nothingIfNull` and I would support it. `safe` just doesn't capture what this function does, and much of the debate here is about if `safe` is appropriate. It doesn't make things safe generally, but it does supply a lambda where that assumes the list is non-empty, that's a cool thing. I would love to see this in `Data.Foldable`.

[2022-05-30 02:13] tonyday567 commented on #69
The proposal has a lot going for it.

The naming and ergonomics are a real sweet spot. Let's recall that right now, we have to tell new users that the current name for `safe head` is `listToMaybe`.

The alternative namings so far are `nothingIfNull`, `onNotEmpty`, `safeSoAndSo`,  `soAndSoMay`, `onNotNil`, `onNotNull`, `onNotEmpty`, `may` & `NonEmpty.head <$> nonEmpty`. Please no.

Yes, usage of sa

[2022-05-30 02:28] tbidne commented on #69
Well, it's not quite that nice. You'd need `safe tail >=> safe tail`.

[2022-05-30 02:32] tonyday567 commented on #69
How about a modification of the proposal to:

[code]

`partial` could be useful to signal intent to be unsafe, with a hlint default suggestion to prelace `head` with `partial head`.

[2022-05-30 14:32] Gabriella439 commented on #69
Alright, so it seems like the two leading counter-proposals are:

* (A) Export safe versions of all the partial functions from the Prelude with some consistent naming convention (e.g. `safeHead` or `headMay`)

* (B) Use another name that is more accurate

If it's alright with the core libraries committee, I can open up a new issue for (A) and if that issue is approved then I can close this one.  I

[2022-05-30 20:57] Bodigrim commented on #45
@Zemyla just a reminder to open a merge request for this change.

[2022-05-30 20:58] Bodigrim commented on #53
I’ve left a question at GitLab.

[2022-05-30 21:00] Bodigrim commented on #60
@chessai @cgibbard @emilypi @mixphix ping, this awaits your vote.

[2022-05-30 21:05] Bodigrim commented on #65
@lykahb could you please prepare a GHC merge request, so that we have a specific design to vote on? Does it fit into `Data.Traversable` better than into `Control.Monad`?

[2022-05-30 21:05] cgibbard commented on #60
-1, just slightly too rare a meaning to want to steal such a good operator symbol.

[2022-05-30 21:07] Bodigrim commented on #66
@schuelermine would you like to make any changes to the text of your proposal? E. g., strict variants.

[2022-05-30 21:08] schuelermine commented on #66
Oh, yeah, thanks for reminding me, will do tomorrow.

[2022-05-30 21:17] sgraf812 commented on #66
FWIW, I ripped `applyWhen` from Agda a while ago

[2022-05-30 21:24] chessai commented on #60
-1 for reasons stated by others

[2022-05-30 21:33] Zemyla commented on #45
I don't currently have a machine capable of doing that. Can someone else do it?

[2022-05-30 21:59] stephen-smith commented on #66
Shouldn't nTimes be implemented via stimes + Endo to minimize duplication? https://hackage.haskell.org/package/base/docs/Data-Semigroup.html#v:stimes

... and then applyWhen is just nTimes . fromEnum ?

[2022-05-30 22:40] lykahb commented on #65
@Bodigrim Do you think it is better to split the voting into two parts? At first, vote whether we need `mapAccumM`/`forAccumM`, and then vote for implementation or discuss it at the merge request?

In my opinion, `Data.Traversable` is the most fitting module. Putting the functions there would follow the pattern for the functions `mapM` and `forM`, which also have both the `Traversable` and `Monad`

[2022-05-30 22:43] Bodigrim commented on #65
Yes, we can have separate votes, but please put up a draft MR first, so that we know that there exists at least one working implementation of the proposal.

[2022-05-30 22:47] schuelermine commented on #66
@stephen-smith Can an Endo implementation also be used for the strict version?

[2022-05-30 22:47] Lysxia commented on #66
There's a subtlety here because `stimes` uses fast exponentiation, which doesn't seem to benefit `Endo`, so maybe that should be changed instead, defining `stimes` using `nTimes` which is then the "obvious" definition.

[2022-05-30 22:52] schuelermine commented on #66
That sounds like a more reasonable way of doing that

[2022-05-31 00:49] Gabriella439 commented on #60
Alright, closing since that's enough votes against

[2022-05-31 00:49] #60 closed

[2022-05-31 01:46] mixphix commented on #69
Pinging @mstksg of `nonempty-containers`. This library has the approach I prefer most: specifically [`nonEmpty`](https://hackage.haskell.org/package/nonempty-containers-0.3.4.4/docs/Data-Containers-NonEmpty.html#v:nonEmpty) (which exists in `base` for `NonEmpty`) and [`withNonEmpty`](https://hackage.haskell.org/package/nonempty-containers-0.3.4.4/docs/Data-Containers-NonEmpty.html#v:withNonEmpty).

[2022-05-31 02:20] Gabriella439 commented on #69
@mixphix: Can you clarify what you are proposing?  Specifically, how would you implement the safe head function under your proposal?

[2022-05-31 07:13] Ericson2314 opened #70 "Deprecate partial functions from the Prelude, giving them new quarantined homes"
# Problem

Partial functions like `head` are too easy to use. The purpose of the `Prelude` is to guide the user, to make certain things very easy in order to encourage Haskell to be written in a certain way. The problem is that the partial functions are bad, as is widely agreed. It is unclear if there are *any* circumstances in which as they ought to be used, and yet `Prelude` makes them extremely

[2022-05-31 07:24] tomjaguarpaw commented on #70
Strongly in favour of attempting to build community consensus around this.

[2022-05-31 07:38] tomjaguarpaw commented on #66
I think this proposal should be split into two.  The two proposed functions have nothing to do with each other and there's no reason to vote on them together. In particular `nTimes` and its variations require considerable care in their design, but `applyWhen` requires no care at all.

[2022-05-31 07:42] nomeata commented on #66
They seem to be related:
[code]

[2022-05-31 07:53] andreasabel commented on #66
Two observations:
- `nTimes (0 - 1) f x` from the OP gives an infinite application of `f` to `x`, which is usually not what one wants.
- I sometimes wanted `nTimes`, and the workaround for its absence was `nTimes n f x = iterate f x !! n`, which isn't terrible either (but goes via lists and uses an a priori partial function `!!`).

[2022-05-31 08:19] andreasabel commented on #70
Concerning partial functions  like`head`, `tail`, `!!`, `length` etc. on lists, they stem from the conflation of three type-theoretically different concepts:
1. finite lists (`List a`)
2. possibly infinite lists (`CoList a`)
3. streams (`Stream a`) which are infinite sequences

These three are lumped together in a single type `[a]`.
- Laziness of `(:)` leads to the conflation of lists and co-lists

[2022-05-31 08:31] konsumlamm commented on #70
While I like the idea, I'm not sure it makes sense to create a `Data.Maybe.Partial` module just for a single function, `Data,Maybe` already is very small.

[2022-05-31 08:34] Bodigrim commented on #66
@tomjaguarpaw whatever works for the proposer better. We can continue discussion for both additions here, I’ll ask for a split vote anyway.

[2022-05-31 09:35] michaelpj commented on #58
@Bodigrim I think I prefer @sjakobi 's suggestion of just adding a note about the instances for `Double`. Adding a precondition "if `i==i`" seems like false generality to me: that is pretty much *just* a check that "this is not NaN", and I don't see any reason to think that it's an appropriate precondition in other cases. Better to just add to the big list of caveats on `Double` IMO.

[2022-05-31 09:56] googleson78 commented on #70
I strongly agree with what @andreasabel said - we should have, long-term, separate types for at least a finite list and streams. I think that that effort is however much larger and that this proposal might even be a step in that direction and/or part of the process (once we've cleaved the functions that are valid on `Stream`s into a separate place it will be much easier to push people to use the t

[2022-05-31 10:14] schuelermine commented on #66
If I want to split the proposal, should I edit this one and create 1 new one, or create 2 new ones?

[2022-05-31 11:49] hsenag commented on #69
Could you provide the proposed haddock for your new function, along with fixing on a name at least for now? ITBH 'm instinctively against this proposal even without any alternative, because I feel the new function will still be confusing to use and not really that useful. However the haddock could convince me otherwise.

[2022-05-31 13:39] tomjaguarpaw commented on #66
Perhaps `StrictEndo` could be made to work:

[code]

[2022-05-31 14:50] Gabriella439 commented on #70
I don't believe that adding other list-like types to Prelude should be a precondition for removing the partial versions from `base`

My reasoning is that if the Prelude did not already have these partial functions, I'm fairly confident the committee would accept adding such partial functions if they were proposed today

[2022-05-31 15:30] schuelermine commented on #66
Speaking of `stimes`, I just looked at Data.Semigroup—why was `mtimes` removed from `Monoid` in favour of the *partial* function `stimes`? Why doesn’t `stimes` take an initial value?

[2022-05-31 15:30] schuelermine opened #71 "Add `applyWhen`"
**This is a proposal split from #66**

### Suggestion

I suggest to add the following function to `Data.Function`:

[code]

This function is taken from `ghc`’s `GHC.Utils.Misc`.

### Variations

Additionally, an inverse could be added:

[code]

[2022-05-31 15:30] schuelermine opened #72 "Add `nTimes`"
**This is a proposal split from #66**

### Suggestion

I suggest to add the following function to `Data.Function`:
[code]
and a strict version:
[code]

`nTimes` is taken from `GHC.Utils.Misc`.
The error message is copied from `stimesDefault` from `Data.Semigroup.Internal.stimesDefault`.

### Alternatives

⇒ Instead of throwing an error, all values less than zero could be clamped to zero.

⇒ This s

[2022-05-31 15:34] #66 closed

[2022-05-31 16:32] Ericson2314 commented on #70
@andreasabel Yes I have wanted `Stream` at least since using https://hackage.haskell.org/package/clash-prelude-1.6.3/docs/Clash-Signal.html, but I agree with @Gabriella439 that this shouldn't be blocked on having `Stream` exist. Besides the reason she said, here are a few more:

1. Even if we had `Stream` we would still need `Data.List.Partial` to have the smooth migration. I don't think an auto-m

[2022-05-31 16:55] treeowl commented on #72
I'd go with smashing all negatives to 0 as well, since many other functions do that.

Your strict version is only strict in the initial value if `n = 0` or `f` is strict. Is that what you want? If not, you might consider

[code]

None of these implementations allow any inlining, due to recursion. Consider, for example,

[code]

Why do you use a polymorphic `Integral` count? That doesn't seem to ma

[2022-05-31 17:13] treeowl commented on #72
It's theoretically possible on a 64-bit architecture too, but in practice I believe it'll take years.

[2022-05-31 18:56] andreasabel commented on #72
+1 for `Int -> (a -> a) -> a -> a`.

[2022-05-31 18:59] andreasabel commented on #70
Indeed so!

[2022-05-31 19:37] Bodigrim commented on #58
@michaelpj fair enough.

Dear CLC members, let’s vote on the proposal adding laws to `fromInteger` / `toInteger` and `fromRational` / `toRational` as described in the top post. @tomjaguarpaw @cgibbard @mixphix @emilypi @chessai

+1 from me.

[2022-05-31 19:40] cgibbard commented on #58
+1, including the comment about the instance for Float/Double.

[2022-05-31 19:52] Bodigrim commented on #50
@googleson78 `oeis2` fails to build because of `aeson-2.0`, and `hfsevents` probably lacks a system dependency; that’s fine. However I’m surprised with you results, because all packages defining their own `liftA2` (https://hackage-search.serokell.io/?q=%5EliftA2%5Cb) should have failed because of clashing identifiers.

[2022-05-31 20:52] chessai commented on #58
+1 to this as well

[2022-05-31 20:53] lykahb commented on #65
Submitted a merge request https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8384.

[2022-05-31 20:55] treeowl commented on #65
Your decision to use a *lazy* state transformer needs explanation/justification.

[2022-05-31 20:57] mixphix commented on #58
+1

[2022-05-31 21:12] tek commented on #50
all of these search results are definitions, none of them are being used in expressions (except one, which is qualified). GHC doesn't complain about clashes for those

[2022-05-31 21:14] treeowl commented on #65
To be more explicit, I think this should probably use a *strict* state transformer, like `Control.Monad.Trans.State.Strict`. The lazy one is only good for rather special purposes, and I think is quite likely to lead to memory leaks in this context.

[2022-05-31 21:15] lykahb commented on #65
I believe that the lazy versions of the functions are the default. And there is a convention that the lazy functions have a plain name, and the strict ones have a `'` suffix. The related module `Data.Foldable` has `foldMap`/`foldMap'`, `foldr`/`foldr'`.

Do you suggest adding the strict versions or making the transformer strict by default?

As for the details of the implementation I think that it

[2022-05-31 22:13] lykahb commented on #65
This is a convincing argument. The lazy variant seems to be more general, and it is the default in the transformers library. But for the use cases I've seen the laziness wouldn't be useful. Updated the MR to use the strict state transformer.

[2022-06-01 00:12] mitchellwrosen commented on #72
Protolude defies this under the name `applyN`, fwiw: https://hackage.haskell.org/package/protolude-0.3.0/docs/Protolude.html#v:applyN

[2022-06-01 07:16] tomjaguarpaw commented on #58
+1

[2022-06-01 07:19] tomjaguarpaw commented on #65
I believe that it's the other way round: the strict variant is more general, in the sense that you can use the strict variant to implement a variant with the behaviour and space asymptotics of the lazy version, but not vice versa.

[2022-06-01 07:35] nomeata commented on #72
The name `nTimes` doesn't allude to function application at all (and we shouldn't necessarily take GHC code as a source for good naming, lots of idiosyncrasies there).

`iterateN` maybe? As Andreas Abel pointed out it _is_ just indexing into `iterate f`.

[2022-06-01 08:23] googleson78 commented on #50
Of the packages listed in the serokell search only these are in the stackage snapshot

### `linear-base`
Its `liftA2`s are always used qualified
### `netwire`
Doesn't actually define `liftA2`, it's only at the start of the line in some examples.
### `shake`
It actually defines `liftA2'`, not `liftA2`
### `special-functors`
I can't find it on Hackage even (what's going on here?), not on stackage ei

[2022-06-01 08:36] konsumlamm commented on #72
`iterateN` alludes even less to function application imo. It is already used in `Data.Sequence` and `Data.Vector` to mean "`iterate`, but only n elements".

[2022-06-01 09:34] tomjaguarpaw commented on #72
I don't think `nTimes` is derived from "function multiplication". Saying "do this thing five times" is perfectly normal in non-technical English and no one would assume it means anything to do with "multiplication".

[2022-06-01 09:41] nomeata commented on #72
Maybe I should defer this discussion to native speakers, but to me it seems that “five times” still needs a verb (“iterate 5 times”, “apply 5 times”, “multiply five times”, “compose five times”, “concatenate 5 times”, “do 5 times), and without that verb, `nTimes` does not necessarily indicate that this is iterated function composition.

[2022-06-01 09:43] JakobBruenker commented on #72
Not a native speaker, but the function is the verb. e.g. `nTimes 5 (subtract 4)` means "subtract 4, 5 times"

[2022-06-01 09:46] nomeata commented on #72
Ah, interesting point of view, I didn’t consider that! I was expecting the new combinator to be the verb, and the function its object (as in `iterate (subtract 4)`). But ``subtract 4 `nTimes` 5`` has its appeal as well. I’ve made my point, and will leave the stage to others now  :-)

[2022-06-01 13:10] ulysses4ever commented on #50
It seems to me that we should go ahead and open an MR.

[2022-06-01 16:41] goldfirere commented on #70
A subtlety in @andreasabel's point is that what counts as partial depends on your viewpoint. If you primarily think of `[a]` as a stream, then `head` is total and `find` is partial (even though it returns a `Maybe`). So I think we're really saying here: label functions as partial if they can fail on finite data. Or (perhaps equivalently?), label functions as partial if they can throw an exception,

[2022-06-01 20:55] Bodigrim commented on #50
(I’m AFK, sorry for stupid questions)
@googleson78 could you please check https://hackage-search.serokell.io/viewfile/pandoc-2.18/src/Text/Pandoc/Readers/Odt/Arrows/Utils.hs#line-55 as well? I assume `pandoc` is on Stackage.

[2022-06-01 21:42] schuelermine commented on #72
I wanna bring up `Int` again. How big of a problem is `Integral i => i -> …` really? It’s 100% compatible with `Int` and they work just the same (I think). Also, it’s easier to plug in things if you’re working with `Integer`s already—having to call `fromIntegral` could be annoying.

[2022-06-01 21:50] JakobBruenker commented on #72
On the other hand, if you write `nTimes 5 f` and have `-Wall` enabled, GHC will complain about defaulting to Integer if the type uses `Integral`. Though I suspect using non-`Int` expressions will be more common than using concrete literals.

[2022-06-02 03:25] Ericson2314 commented on #70
Well to be really pendantic, it's fail in finite steps.
[code]
here `foos` has no finite data to fail on, but it is failing in finite steps.

I bring this up basically to say that Haskell never tries to save you from non-termination, but should try to say you from what we were calling "incompleteness" in new incomplete (missing patterns in case, missing fields in constructor, etc.)

The good thing

[2022-06-02 03:45] Ericson2314 commented on #70
My preferred stretch goal would instead be shim: if the user includes a `build-depends base < 4.19`, and we can make a base `4.19.x` that depends on the newer `base`, the longevity story is even better! No errata is needed: `cabal` just downloads the shim and everything works.

Still this reminded me it's good to think in terms of what is blocking each step. I split step 1 into 1 and 2 to better l

[2022-06-02 06:18] googleson78 commented on #50
It's not in nightly (and I assume it also wasn't when that snapshot was made), so that's why I missed it. But yeah, that should break, they hide `liftA2` from `Control.Applicative` and use their own in 3 places:

https://github.com/jgm/pandoc/blob/60974538b25657c9aa37e72cc66ca3957912ddec/src/Text/Pandoc/Readers/Odt/StyleReader.hs#L42

https://github.com/jgm/pandoc/blob/32297d56772e97ce39f54f6879ae

[2022-06-02 07:50] Bodigrim commented on #50
That’s surprising that `pandoc` is not on Stackage, but not a blocker. Thanks for the thorough investigation, @googleson78.

@ulysses4ever agreed, an MR is due.

[2022-06-02 08:31] googleson78 commented on #50
I can send a MR.

[2022-06-02 08:38] Bodigrim commented on #50
@googleson78 please go ahead.

[2022-06-02 10:56] hsenag commented on #69
Thanks - I think the name and the haddocks are quite clear. I've thought about my general objection a bit more and I think it's really that I don't see much point in `safeHead` etc either. You can convert to a `Maybe` but then you still have to do something about that at which point you probably should have just pattern-matched on the list anyway. But since there seems to be a general feeling that

[2022-06-02 11:56] MonAaraj opened #73 "Add blackbird"
Blackbird is a very simple operator which is the composition of composition with itself. It's simple, and easy to define in anyone's project; but it improves code readability, because it is essentially composing functions that have 2 arguments. It is also easy to implement in a central place (like haskell).

[code]

[2022-06-02 12:14] andreasabel commented on #69
The CPSed version of this is
[code]
My tendency would be to go with the CPSed `ifNull`.

But also, `Foldable f` isn't the only thing giving you a null element/test, and for lists you could also use the generalization towards `Monoid`:
[code]
Both `Foldable` and `Monoid` ask for too much. You simply want to check for the null element of the structure. This is why we have a `Null a` class in our uti

[2022-06-02 12:49] googleson78 commented on #73
I'm not sure that this is encountered with that meaning *that* often. It's used by a bunch of libs for a bunch of different stuff:
https://hoogle.haskell.org/?hoogle=(.%3A).

[2022-06-02 15:09] thielema commented on #69
On Thu, 2 Jun 2022, Gabriella Gonzalez wrote:

I use a function viewR that allows me to pattern match on the end of a
list:
   https://hackage.haskell.org/package/utility-ht-0.0.16/docs/Data-List-HT.html#v:viewR

It analogous to the one in Data.Sequence
   https://hackage.haskell.org/package/containers-0.6.5.1/docs/Data-Sequence.html#v:viewr

[2022-06-02 15:15] Gabriella439 commented on #69
What about `maximum`, though?

[2022-06-02 15:17] Ericson2314 commented on #70
@goldfirere I revised and retitled this; do let me know if it addresses those concerns or more is needed.

[2022-06-02 15:30] Ericson2314 commented on #70
I don't think they are in scope or out of scope *a priori*, but just like with `Stream`, I would rather propose as few things as I can get away with.

(FWIW, I think the primary replacement for these functions is arguable just good ole' pattern matching, and the situation we most want to avoid is people using partial functions because they never pattern matching. For more advanced users I agree `f

[2022-06-03 11:09] Bodigrim commented on #58
Approved unanimously. @michaelpj coukd you please create an MR?

[2022-06-03 11:11] #45 closed

[2022-06-03 13:24] googleson78 commented on #50
Since this will introduce a bunch of warnings into the ghc codebase, which seems like it's kept warning-free, I'm not sure how to proceed:

* just removing the redundant imports from everywhere doesn't work, because then we can't build stage1, since we're using an older compiler for that
* I can add `MIN_VERSION_base`/min ghc version macros, but I'm not sure what version I should put in there

Any

[2022-06-03 13:35] mixphix commented on #73
-1. Use a separate package for this.

[2022-06-03 13:45] mixphix commented on #72
I would be more strongly in favour of `_ :: Int -> (a -> a) -> a -> a` to avoid running into `-Wtype-defaults` where possible. As a rule, unsafe conversions should be explicit at the call site: I see no reason we ought to guide the user into avoiding potential pitfalls like this.

Another option is to expose `genericNTimes :: (Integral n) => n -> (a -> a) -> a -> a` in the same vein as `genericTak

[2022-06-03 13:45] Bodigrim commented on #50
How about
[code]
?

[2022-06-03 13:57] david-christiansen commented on #70
The "...TODO fill out more" is doing an awful lot of work in this text. How many actual names are you proposing to remove? There's a big difference between 3 and 30, after all, and that can have an impact on where they are moved to.

Now, with my stodgy conservative hat on: do we have a sense of the practical impact of these functions for actual developers? Have any of us heard of serious problems

[2022-06-03 13:59] Gabriella439 commented on #69
If it's alright with the committee, I'd like to pause this until https://github.com/haskell/core-libraries-committee/issues/70 is reviewed since if that were accepted I would prefer that over my own proposal

[2022-06-03 14:02] schuelermine commented on #72
…but also, that brings this up to four functions that do basically the same thing. Is that really necessary?

[2022-06-03 14:17] Ericson2314 commented on #70
Yes, in the days before they were given `HasCallStack`, `fromJust` used to have exceptionally bad error-tracking for bootstrapping reasons. We once had a `fromJust` in dependency code ruining a mobile app (already harder to debug) that took 1 or 2 *days* to track down. Even with `HasCallStack` these are still lurking foot-guns that could ruin the experience of users of your software --- it isn't l

[2022-06-03 14:44] david-christiansen commented on #70
I find your argument for the value of giving warnings to more people convincing - thanks! Esp. without the actual deletion.

[2022-06-03 14:59] Ericson2314 commented on #70
Thanks, I will in turn add the downsides you mention to step 3 as thing migration tooling indeed cannot fix.

[2022-06-03 15:50] Lysxia commented on #72
`genericNTimes` doesn't look much better than `nTimes . fromIntegral`. However, the situation is more subtle than it seems because these functions are technically different: `nTimes . fromIntegral` will overflow in the conversion `Integer -> Int`, but `genericNTimes` can work correctly on all non-negative `Integer`.

I am also on the camp that the "default" function `nTimes` should be specialized

[2022-06-03 17:11] lykahb commented on #65
It seems to me that the functions `mapAccumM`/`forAccumM` are similar to `mapM`/`forM`/`sequence`/`sequenceA` and other traversals that have an `Applicative` or `Monad` constraint. They go from left to right. The right-to-left functions like `foldr` can be powerful tools when there is laziness. For the monadic traversals where the evaluation is done for every element, the right variant wouldn't ha

[2022-06-03 19:53] Bodigrim commented on #73
No need to waste three dots, where two are enough: `join .: fmap == (join .) . fmap`.

[2022-06-03 20:00] ketzacoatl commented on #70
I am strongly in favor of this effort and am really excited to see a lot of really great discussion to refine the proposal towards something we can take action on!

[2022-06-03 20:03] Bodigrim commented on #71
My concern is that `applyWhen` is just `Data.Bool.bool id`, however admittedly the order of arguments of `bool` is always so confusing.

[2022-06-03 20:20] JakobBruenker commented on #71
It's not just the argument order, the naming also makes it much more obvious what `applyWhen` means compared to `bool id`, I think.

When I can't use `applyWhen` I much prefer using an `if`-expression over `bool id` for that reason, so in my opinion `bool id` isn't actually a realistic alternative to `applyWhen`.

[2022-06-03 20:47] wygulmage commented on #70
Sorry if this is out of scope, but I would prefer avoiding a breaking change for Data.List and instead deprecating head and tail in place and providing Data.List.Total with `head :: [a] → Maybe a` and `tail :: [a] → Maybe [a]` or, a la Lisp, `tail [] = []; tail (_ : xs) = xs`.

Again, sorry if this is derailing.

[2022-06-03 21:16] soupi commented on #70
Yes, this is a real problem. I'm tired of having to mentor juniors around these issues, writing style guides / best practice guides with dedicated sections to partial functions, and having to be defensive when reviewing code. While they are fine for hobby projects and one of scripts, production code *should not use partial functions* because they make the code *crash*.

[2022-06-04 07:09] runeksvendsen commented on #70
(my emphasis)

I think the proposal needs to clarify what constitutes a "migration". If we remove, say, `fromJust` from `base`, then one valid migration — ie. a change that fixes compilation of a library that uses `fromJust` — would be to simply inline the old definition in the user's code, ie.:

[code]

which, of course, would achieve nothing at all.
Therefore I think the proposal should specify

[2022-06-04 08:08] andreasabel commented on #73
Hoogle shows many definitions of this operator: https://hoogle.haskell.org/?hoogle=%28a+-%3E+b%29+-%3E+%28c+-%3E+d+-%3E+a%29+-%3E+c+-%3E+d+-%3E+b&scope=set%3Astackage

<img width="489" alt="Screenshot 2022-06-04 at 09 59 54" src="https://user-images.githubusercontent.com/1155218/171990545-0b42653d-8c56-4927-8b04-7474b38d85b5.png">

This is initial evidence that such an operator is lacking from `ba

[2022-06-04 08:22] Bodigrim commented on #73
A name clash with `aeson` is pretty much a deal breaker from my perspective.

[2022-06-04 08:26] alt-romes commented on #73
It could be useful, but maybe under another name (e.g. `(...)`), the clash is indeed quite bad

[2022-06-04 08:29] MorrowM commented on #73
I think an operator like this would be right at home in `Data.Function`. Perhaps that would reduce concerns about name clashes?

[2022-06-05 04:26] Ericson2314 commented on #70
@runeksvendsen

Step 3 is non-normative so I wouldn't spend too much time thinking about it (and maybe I should just remove it) but the migration guide I was thinking of was merely importing the needed function from `Data.List.Partial` or `Data.Maybe.Partial`. That is even more minimal and perhaps "achieving nothing" than what you had in mind.

That's OK to me however: the migration isn't supposed

[2022-06-05 08:38] runeksvendsen commented on #70
Thank you for clarifying, @Ericson2314. I had understood Step 3 to mean "removing head/fromJust etc." entirely from base. After re-reading, though, I can see that this was a misunderstanding on my part.

I agree completely regarding using `fromMaybe (error "BUG: <function name>: expected non-empty list") . listToMaybe` instead of `head` in order to communicate which assumption is broken in case of

[2022-06-05 15:40] Ericson2314 commented on #70
Sounds good and glad to hear it, @runeksvendsen. Without step 3 there is no breaking change, just warnings, so I hope we're successfully punting on that one lingering issue.

[2022-06-07 06:07] Ericson2314 commented on #73
I am not pleased about this deluge of issues where folks are trying to get their favorite combinator in `Prelude`. I suppose just as ghc-proposals invite endless new sugar, so CLC proposals will invite this. :(

[2022-06-07 16:37] andreasabel commented on #73
I agree.
I imagine a more evidence-based process, where a committee would regularly (maybe once a year or once every two years) mine the Haskell eco-system for functions involving the `base` data types.  Functions that enjoy a significant usage and are not in `base` yet could then be added, after a bikeshedding process for the naming; but the naming decision should also be dominated by evidence: w

[2022-06-07 22:07] schuelermine commented on #72
I have updated the proposal to list the version that errors on negative numbers first. I believe it is a more reasonable version.

[2022-06-07 23:24] schuelermine commented on #72
I don’t know about clamping to zero. This seems like unexpected behaviour to me. It doesn’t gel with the theoretical interpretation and I can’t see a situation where this would be desirable. Explicit error/bounds checking seems the way to go for me.

[2022-06-08 00:00] Ericson2314 commented on #72
Why don't we make a new natural number class that will actually do what we want? (implemented by `Word`, `Word<N>`, and `Natural`.)

I am not really interested in seeing _de novo_ code that will live with us forever hack around Haskell's lousy number hierarchy.

[2022-06-08 00:03] Ericson2314 commented on #72
For example:
[code]

[2022-06-08 00:08] schuelermine commented on #72
I really like that idea, but that sounds like it’d need to be a separate proposal

[2022-06-08 00:23] Ericson2314 commented on #72
Fair enough. If someone else could make that that would be much appreciated --- I have a number of things going on already, and don't want to take on another.

[2022-06-08 08:26] JakobBruenker commented on #72
Zero = zero

Note that those particular pattern synonyms produce ``parse error on input `->'``, with just `{-# LANGUAGE PatternSynonyms #-}`

[2022-06-10 17:34] chris-martin commented on #61
I very much appreciate having multiple minimal-complete choices when writing educational materal.

My favorite example of this is `(<*>)` and `liftA2` -- it is very handy to switch between them and use whichever definition most naturally fits the perspective on Applicative we're talking about at the time. I would look forward to this `Semigroup` change as a new opportunity to introduce unbiased de

[2022-06-10 19:03] chris-martin commented on #56
Sorry for the delay, getting back to this. Summary of the feedback so far:

### Naming

https://github.com/haskell/core-libraries-committee/issues/56#issuecomment-1112635386 The `A` suffix conventionally means "applicative", so it shouldn't also be used to stand for "alternative". `foldAlt` was suggested.

https://github.com/haskell/core-libraries-committee/issues/56#issuecomment-1113977378 Anothe

[2022-06-10 19:25] chris-martin commented on #56
I am coming around to @Gabriella439's naming, but I think it requires some work in the documentation to explain the metaphor. Since nobody has yet made any comment on the `select` name, I'd like to ask -- what do y'all think, does this seem like something you can wrap your head around?

[code]

[2022-06-10 22:54] Ericson2314 commented on #61
I agree with @chris-martin. Even if no one ever uses this, the more "always true" default methods (as opposed to the "sometimes true" ones arguably better served by deriving via) serve to better document the laws. I always enjoy reading such default methods even if I am not going to use them. This would be a beautiful addition to both classes. Thank you, @Gabriella439!

[2022-06-11 09:17] AntC2 commented on #70
For example LYAH intro level talks about `head, tail, last`. It does warn these are partial.

These functions have been part of Haskell since ... aww 1990. And part of LISP since 1960's. I haven't noticed the sky falling yet.

If that's the objective, isn't divide by zero or `Int` over/underflow too easy to use? (Oh, I suppose overflow doesn't cause a crash, it just delivers a nonsense result.) No

[2022-06-11 11:00] Bodigrim commented on #61
@Gabriella439 could you please prepare a draft MR, so that we can vote on it?

[2022-06-11 11:01] Bodigrim commented on #50
@googleson78 how does it look now?

[2022-06-11 11:11] konsumlamm commented on #70
To be fair, LYAH specifically is outdated anyway (e.g. it talks about how `Applicative` is no superclass of `Monad`) and there is https://github.com/learnyouahaskell/learnyouahaskell.github.io which attempts to modernize it, so the part about the partial `Prelude` functions could be easily changed. Of course this doesn't apply to every tutorial, just the specific example you chose.

LISP also does