[2022-09-27 20:20] Bodigrim commented on #91
Proposers are welcome to do impact assessment themselves, ask a friend, pray for a miracle or HF. Anything goes. I don't buy the claim that it is disproportionately difficult; plenty of people figured out how to do it before.

Impact assessment is not a binary characteristic. If a package fails to build, a proposer is supposed to clone it with `cabal unpack`, patch locally, link into `cabal.projec

[2022-09-28 01:54] goldfirere commented on #87
This thread unfolded while I was at ICFP (and very distracted) and then sick with covid (and rather ill). I am now at home, mostly well, and catching up.

I will attempt to summarize what I see:

* Of the posters on this thread, it seems more people dislike partial functions in `base` than like having them there -- but a significant minority still like them.
* The nature of the proposed warnings d

[2022-09-28 07:27] tomjaguarpaw commented on #87
Thanks @goldfirere. Hope you recover fully soon. A few questions.

I'm sorry if it comes across that way. As a proponent of this proposal I wish they would have the flavour "*We* don't like these functions, so *we* shouldn't have to have them imported in every Haskell module we ever write[^1]". Do you have a suggestion for how proponents can explain things going forwards so the "flavour" is the (m

[2022-09-28 07:47] nomeata commented on #87
Rough personal estimate, but given that it has come up a few times, also as a solution for other things, and the design is hopefully not too tricky, I expect a proposal to pass. So maybe 6 month until it hits master, give or take? Certainly a small amount of time compared to how long we had `head` in `Prelude`.

[2022-09-28 07:53] tomjaguarpaw commented on #87
Sounds great! In which case I suggest the following small change to this proposal:

Merge the warnings to `head`/`tail` as proposed here, but as soon as the functionality for fine-grained warnings hits GHC HEAD change the warnings on `head`/`tail` to a fine-grained warnings that can be selectively disabled. If Joachim's prediction is correct then no one will ever see the coarse-grained warnings.

[2022-09-28 11:00] michaelpj commented on #87
I actually do have this position. It's slightly more nuanced: do whatever you want in your own _application_, but if you're putting a library on Hackage then I would really rather you didn't use partial functions. Or that there was some way for me to avoid libraries that do. Usage of partial functions affects everyone who uses a module, transitively. So I do genuinely want the _ecosystem_ to chang

[2022-09-28 16:49] simonmar commented on #87
Do we really want to do that given that those of us who use `-Werror` and have existing code that will break will have to use `-Wno-warnings-deprecations`? There are other options but they're all bad, I strongly suspect this is what we would probably end up doing.

(why are the other options all bad? Well, not using `-Werror` is much worse, using `-Wwarn=warnings-deprecations` is just an annoyance

[2022-09-28 16:55] simonmar commented on #87
But you don't presumably want to rule out packages that use recursion? What about vector indexing or `div`, or `error` itself? This is what I'm still perplexed about, we seem to be drawing a line somewhere to say that `head` is bad but some of the other kinds of partiality are not so bad. Can we be clear about where this line is drawn and the rationale for it?

[2022-09-28 16:57] tomjaguarpaw commented on #87
The point of my message is that, if there is a volunteer who can implement fine-grained warnings in GHC quickly enough, you *won't* have to use `-Wno-warnings-deprecations`. Fine-grained warning support will land in the same release of GHC as the warnings for `head`/`tail`, so they can be fine-grained.

But perhaps @simonmar you have a different estimate than @nomeata on how quickly implementing f

[2022-09-28 17:10] simonmar commented on #87
Ok sure. I did read that comment and I was still perplexed. There are a bunch of easy ones (`head`, `maximum` etc.) but I deliberately pointed out the tricky ones. How do you do division safely without `div`? Well you have to introduce a non-zero numeric type or something. How do you do safe vector indexing? You need to use a length-parameterised vector type, and if you've read some ICFP papers ov

[2022-09-28 17:16] ocharles commented on #87
If I were to guess it's because the real problem here is the uselessness of the error message that comes from `head`. `error` itself doesn't have that problem, because it entirely depends on what you do with it. But I may be putting words into other's mouths, so best see what they have to say!

[2022-09-28 17:19] josephcsible commented on #87
I don't view this as drawing a line. I view it as starting with the worst and most easily replaceable partial functions. We'd only be drawing a line if we said these were the only partial functions that we ever wanted to deprecate.

Not the person you're replying to, but my opinion is that it's because you're explicitly asking for partiality rather than it being from a case that you might not have

[2022-09-28 17:33] googleson78 commented on #87
I also have a perspective to offer on "why the easy ones only" which I believe may be shared with some of the other participants.

The reason for "the easy ones first" for me is the exact same reason as to why we use types in the first place even though we (currently) can't rule out all errors using types alone - because they reduce errors none the less. If we can't even tackle the "easy" problems

[2022-09-28 18:32] tomjaguarpaw commented on #87
Could you elaborate on what you're perplexed by? It seems to me that the questions you ask in your recent comment were already answered in [my original attempt](https://github.com/haskell/core-libraries-committee/issues/87#issuecomment-1250319578) but perhaps I'm misunderstanding.

Right, and in that comment I said I am against the easy ones (i.e. ones where partiality is (relatively) easy to avoi

[2022-09-28 19:46] Bodigrim commented on #87
I think @googleson78 really nailed it, thanks!

@simonmar You can enable `-Wwarn=warnings-deprecations` when upgrading GHC, then gradually fix warnings.

Could you elaborate with some data why other opportunities are terrible? We are yet to see a compelling example, where `head` is an indication of good coding style.

[2022-09-28 20:16] simonmar commented on #87
OK great, my apologies. This mini-thread was in response to @michaelpj above https://github.com/haskell/core-libraries-committee/issues/87#issuecomment-1260739206 who said "I would really rather you didn't use partial functions", and I was trying to understand exactly *which* partial functions fall into that category.

I mean, I do understand the motivation here: we went through the whole avoid-pa

[2022-09-28 20:19] tomjaguarpaw commented on #87
It may or may not surprise you that I prefer to avoid using lazy lists, especially infinite ones.

[2022-09-28 20:25] simonmar commented on #87
You can grep the codebase I currently work on if you like: https://github.com/facebookincubator/Glean

When I looked there were ~25 occurrences of `head`. I don't claim any of them represent "good programming style". In fact I [fixed one](https://github.com/facebookincubator/Glean/commit/17c7d25afb870c102b3a2e995922faa8fd215758) the other day!

Some of them are just obviously correct and clear, th

[2022-09-28 22:33] michaelpj commented on #87
I apologise, I came on too strongly. I realise that in my mind I had started to say "partial functions" when I meant something more like "_egregiously_ partial functions". `head`, `fromJust` and friends annoy me because a) they're common and b) it's usually not that hard to avoid the partiality. Something like `div` is the opposite: it's not as common, and it's harder to avoid (but maybe if I wrot

[2022-09-29 03:01] ParetoOptimalDev commented on #87
To be honest, it took me longer than I'm comfortable admitting to understand why that was safe :sweat_smile:

Hm, it looks like `Data.List.NonEmpty` makes this difficult sadly because `Data.List.NonEmpty.filter` turns things back into a list.

Assuming we define `NE.filter :: (a -> Bool) -> NE.NonEmpty a -> NE.NonEmpty a` we could have:

[code]

I'm guessing you may not see an advantage to writing

[2022-09-29 03:13] Boarders commented on #87
@ParetoOptimalDev That type signature of `NE.filter` looks awfully optimistic regarding the predicate passed.

[2022-09-29 04:48] alexfmpe commented on #87
There's ```0 :| [1::Int ..]``` but the real problem is `filter (const False)` can't return `NonEmpty`, as stated above.

Assuming `showt :: Show a => a -> Text`, that looks odd complexity-wise. Seems like If the resulting number is `n`, then up to `O(n * #hashes)` comparisons are done.
Why not store `hashes` as `Set Int` instead, then iterate on `toList hashes` until a free number is found, and fi

[2022-09-29 06:36] josephcsible commented on #87
The problem there isn't with either function. It's with the type system itself, which doesn't have a way of distinguishing between inductive and coinductive data. And that's obviously *way* harder to fix than working towards getting rid of `head`.

[2022-09-29 08:22] simonmar commented on #87
Yes absolutely - the code can certainly be a lot more efficient. In the author's defense, this code isn't performance-sensitive, it comes from an interactive tool and `length hashes` is small. The real question is, could it be written in a way that is just as concise and clear but doesn't use `head`? Maybe it should use an explicit lazy infinite stream type, which could have a safe `head` defined

[2022-09-29 09:37] tomjaguarpaw commented on #87
Thanks! That's very helpful for a case study. To put my code where my mouth is, I produced [some example changes](https://github.com/facebookincubator/Glean/compare/main...tomjaguarpaw:Glean:no-head?expand=1) that could be applied to make the code "`head` free"[^1]. They fall under the following classes:

* `Data.List.NonEmpty.group/groupBy` could be used to guarantee non-emptiness
* `splitOnNE ::

[2022-09-29 10:55] simonmar commented on #87
Great. So I did a rough count and there were about 8 cases that were fixed (no partiality remains) vs. 18 instances that were replaced with `error`.

I mean, sure it's easy to get rid of `head` if you just inline it. But I don't want to do that! The code is more verbose, and with `head` we already get an error message that points to the call site. All of these errors are of the form "some internal

[2022-09-29 12:42] ocharles commented on #87
I guess the recurring question is why don't you want to truly encode these invariants? For example, I see Tom's fixes suggests changing a call to `head occNameStr` to instead match on `occNameStr` and have an explicit error case. The invariant here is that `occNameStr` is never empty - so why not state that? Why is `occNameStr` a `[Char]` in the first place? My personal take is whenever there is a

[2022-09-29 14:30] simonmar commented on #87
Don't get me wrong, I've no objection at all to encoding these invariants. It's just not at the top of my todo list. (I'm not sure why adding to this thread happens to be at the top of my todo list, but I don't claim to prioritise rigorously!).

All I'm asking here is that there's a way to disable the warnings without collateral damage. `-Wno-warnings-deprecations` means I lose other warnings that

[2022-09-29 14:44] tomjaguarpaw commented on #87
I'd like that too! In relation to that, could you please answer these two questions, which I have asked a few times. Sorry if I have missed the answer in the stream of comments but if so would you mind reanswering?

[2022-09-29 14:48] tomjaguarpaw commented on #87
.. and to perhaps be slightly more direct about it: if someone wants this proposal to be improved by the addition of fined-grained warnings to GHC can they please start the process of [proposing that to GHC](https://github.com/ghc-proposals/ghc-proposals/) right now? Otherwise it sounds like saying "I'll accept this PR ... but only in an imaginary world".

[2022-09-29 14:52] adamgundry commented on #87
Perhaps it's been lost in all the noise, but there is already a proposal in this direction (https://github.com/ghc-proposals/ghc-proposals/pull/454) although it currently includes more type-level features than strictly needed here, and it might make sense to do something less ambitious (https://github.com/ghc-proposals/ghc-proposals/pull/454#issuecomment-1245044707). I'd appreciate feedback from i

[2022-09-29 15:07] ParetoOptimalDev commented on #87
Do you mean where I left in `(const True)`, an artifact of where I was testing the code compiled in ghci to ensure I didn't recommend something that couldn't work?

That was a simple mistake from a comment left with a headache right before bed.

It feels pretty bad faith to focus on that part specifically.

[2022-09-29 15:12] Boarders commented on #87
No, I mean there can be no such filter function for `NonEmpty` list since the predicate could be false for all inputs. A point I made earlier in the thread is that in order to use `NonEmpty` as a type-safe alternative to `head` one sometimes needs to convert from a predicate passed to filter or a predicate on a list to a constructive proof. As noted by @mixphix this typically leads to better code

[2022-09-29 15:17] Boarders commented on #87
This is no better than the use of `head`. `NE.fromList` is a partial function.

[2022-09-29 15:21] ParetoOptimalDev commented on #87
That's why I wrote the comment above of:

[2022-09-29 15:23] Boarders commented on #87
If you want to add new partial functions to `Data.List.NonEmpty` you should make a separate proposal, I would be against it.

[2022-09-29 15:24] tomjaguarpaw commented on #87
There have been a few accusations of bad faith, or similar, in this thread. Can I suggest that we all default to assuming the best of each other, that we are all collaborating to try to improve our language, that the debate is held with good intentions, and that perceived offence is more likely due to mismatched communication expectations than actual ill-will?

[2022-09-29 16:17] ocharles commented on #87
It looks to me like you're both talking past each other a bit. @ParetoOptimalDev I think what @Boarders is trying to tell you is that there is no way to write a `filter :: (a -> Bool) -> NonEmpty a -> NonEmpty a` that is not partial. `filter (const False)` for any list has to return an empty list, it can't return a `NonEmpty a`. Unless I'm misunderstanding you, you seem to be saying that such a fu

[2022-09-29 16:23] simonmar commented on #87
I don't think that question was directed at me (or was it? Maybe I missed something). The comment you were replying to was https://github.com/haskell/core-libraries-committee/issues/87#issuecomment-1245607961 by @Boarders

Just in case you were asking me - no I'm not volunteering to write more docs! I'm here to explain why I don't think this proposal is a good idea to accept in its current form, a

[2022-09-29 16:24] ParetoOptimalDev commented on #87
Yes, I think you are right. It does seem that we can't safely create `NonEmpty.filter :: (a -> Bool) -> NE.NonEmpty a -> NE.NonEmpty a`.

Maybe we could have something like filter that always returns at least the initial NonEmpty list.

Or, this approach might not be best and there's a better way to rewrite the example given without using `head` that isn't too inconvenient:

[code]

[2022-09-29 16:33] ocharles commented on #87
The "correct" type here is an infinite non-empty stream:

[code]

@simonmar objected to this earlier because it gives up list syntax.

[2022-09-29 16:34] tomjaguarpaw commented on #87
Super, thanks!

No need to worry, it's only happened a small number of times, and none of them were from you! Thanks to everyone for continuing to debate in a constructive manner :)

[2022-09-29 17:04] ParetoOptimalDev commented on #87
I was trying to avoid accusation of bad faith by saying:

Rather than:

My goal included:

But it felt important to communicate it felt that wasn't being good faith assumption wasn't being reciprocated without an explicit accusation of bad faith.

[2022-09-29 17:10] ParetoOptimalDev commented on #87
We could get the sugar back with a source plugin I think and have the best of both worlds.

This makes me think back to a previous comment and wonder how much better things would be with if Stream were the default instead of list in most Haskell code.

[2022-09-29 17:11] tomjaguarpaw commented on #87
Fair enough, in which case I hope you will forgive me my error, which was, after all, made in good faith!

[2022-09-29 17:25] Daniel-Diaz commented on #87
@ParetoOptimalDev There's the [`OverloadedLists`](https://downloads.haskell.org/ghc/latest/docs/users_guide/exts/overloaded_lists.html?highlight=overloadedlists#overloaded-lists) extension. With this you could write (assuming a suitable [`IsList`](https://hackage.haskell.org/package/base-4.17.0.0/docs/GHC-IsList.html) instance has been provided):

[code]

It's worth noting that this is still a par

[2022-09-29 17:33] ParetoOptimalDev commented on #87
To my surprise this pushes me towards the "use lists and head" camp because an error from a partial function is less surprising than non-termination that's harder to spot.

I hope someone has a counter- argument to pull me away from this position!

[2022-09-29 17:37] Daniel-Diaz commented on #87
The potential non-termination wasn't introduced by using streams. Lists can also be infinite.

[2022-09-29 18:02] ParetoOptimalDev commented on #87
Right... `filter (const False) [0..]` has the same issue.  I'll have to think in this for a bit, i'm not sure what to prefer now.

[2022-09-29 19:28] josephcsible commented on #87
Don't Agda and/or Idris make you use the type system to prove you haven't written such a thing? Although I imagine that'd also be a huge effort to ever add to Haskell.

[2022-09-29 22:16] Bodigrim commented on #87
@simonmar could you please clarify whether you volunteer just to shepherd or to make a proposal and implement it upon approval?

[2022-09-29 22:31] adamgundry commented on #87
In the light of this thread, I have opened a new ghc-proposal: https://github.com/ghc-proposals/ghc-proposals/pull/541

[2022-09-30 01:09] treeowl opened #94 "Add workaround for Template Haskell name quoting limitation"
In general, the Template Haskell names of bindings and data constructors can be quoted by prefixing them with a single quote: `'f` is the `Name` of the `f` binding, and `'Just` is the `Name` of the `Just` constructor. However, this mechanism does not work if the second character of the name is a single quote. Things like `f'`, `f'3`, and `F'` cannot be quoted this way, as prefixing them with singl

[2022-09-30 09:01] simonmar commented on #87
Just to shepherd.

[2022-09-30 15:51] treeowl commented on #94
It turns out this is [solely an error in the users' guide](https://gitlab.haskell.org/ghc/ghc/-/issues/22236#note_455450). There is an escape mechanism.

[2022-09-30 15:51] #94 closed

[2022-09-30 20:14] cgibbard commented on #51
+1

On Fri, 30 Sept 2022 at 16:13, ˌbodʲɪˈɡrʲim ***@***.***>
wrote:

[2022-10-01 01:46] mixphix commented on #51
-1. Considering that this implementation causes errors for unsigned types (see [the MR](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242#note_455528)), I'm voting against this proposal.

[2022-10-01 06:16] gergoerdi commented on #51
[See this comment](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242#note_455542), unsigned types work just fine, within the spelled-out constraints of `Enum`.

[2022-10-01 13:28] mixphix commented on #51
This is a great point that clears it up for me. Thank you, I'm now comfortable to vote in favour.

+1

[2022-10-01 15:46] sjakobi commented on #91
On the topic of building `clc-stackage`, note that you don't have to build all of it in one sitting. You can always Ctrl-C and continue at another time. Nor does the build process need to use all your cores, you can limit it to e.g. 2 processes with `-j2`.

It would be good to document how much disk space it requires though.

[2022-10-01 23:20] Bodigrim commented on #81
@davidsd I was mostly refering to https://gitlab.haskell.org/ghc/ghc/-/issues/21646. The specific way to address this is up to a prospective proposer, I should not overstep any further. I should not really push more ambitious path onto you, feel free to proceed with your original proposal only.

[2022-10-01 23:25] Bodigrim commented on #90
@wismill would you mind to update examples in your proposal with proper Unicode to make it easier to follow? E. g.,

[code]

[2022-10-01 23:30] Bodigrim commented on #83
I mean, I think this is a very reasonable proposal, but in the event it's accepted I really do not want to push and prod for months before it is implemented and merged. Do we have an enthusiatic volunteer with spare time to add `zip{3,4,5,6,7}`, `zipWith{3,4,5,6,7}` and `unzip{3,4,5,6,7}` for `NonEmpty`?

[2022-10-02 00:37] Bodigrim commented on #91
Thanks @sjakobi, excellent points. I've updated https://github.com/Bodigrim/clc-stackage#how-to.

@Icelandjack what do you think?

[2022-10-02 11:42] LSLeary commented on #51
Rather than `negate`, we want a function `f :: Int -> Int` that is an order-reversing map—one with the property that for all `x, y :: Int`, `x < y` ==> `f y < f x`. Since `Int` is finite, it's straightforward to see that this function exists and is unique. Possible implementations include `subtract 1 . negate` and `negate . (+1)`.

Order-reversing maps are to order-preserving maps as reflections a

[2022-10-02 11:54] LSLeary commented on #51
@tomjaguarpaw "Wrong" in the loose sense that it may destroy a property we wish to keep, and yes.

[2022-10-02 12:06] Bodigrim commented on #51
FWIW `subtract 1 . negate` is `Data.Bits.complement`.

When `x = minBound` and `y /= minBound`, we have `x < y` but at the same time somewhat counterintuitively `negate x < negate y`, because `negate minBound = minBound`. Subtracting 1 makes this peculiarity to disappear.

Back into `Enum` realm, @LSLeary's desired property is that if `fromEnum x < fromEnum y` then `fromEnum (Down x) > fromEnum (D

[2022-10-02 12:07] tomjaguarpaw commented on #51
That's pretty convincing to me. If we are going to do this then it should be with `subtract 1 . negate` as @LSLeary says. I don't see the point of making a broken type class even worse.

-1

[2022-10-02 16:36] Bodigrim commented on #51
More specifically, the argument goes like this. For `instance Enum Int` we enjoy `fromEnum = toEnum = id`, and `fromEnum` automatically preserves ordering. However if `fromEnum = negate` in `instance Enum (Down Int)`, the mapping is not order-reversing because of paradoxical behaviour of `negate minBound`.

(@LSLeary I hope I'm not misrepresenting your point?)

@gergoerdi how do you feel about ame

[2022-10-03 09:26] gergoerdi commented on #51
I think at this point the best would be for me to just change the MR to use `complement`, and then remove any specifics from the proposal, since the proposal's intention was never to propose any specific implementation strategy...

[2022-10-03 09:27] tomjaguarpaw commented on #51
Yes, my "-1" was for the specific MR, not the proposal. My understanding is that the CLC votes on specific MRs, not general proposals (although I suppose the wording of [@Bodigrim's message](https://github.com/haskell/core-libraries-committee/issues/51#issuecomment-1263979711) could be interpreted either way).

[2022-10-03 19:24] Bodigrim commented on #51
The MR has been updated to use `complement`: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/8242/diffs

@mixphix @cgibbard could you please confirm that this does not affect your approval?
@tomjaguarpaw is this change satisfactory?
@chessai @emilypi just a gentle reminder to vote.

[2022-10-03 23:47] brandonchinn178 commented on #40
Related: https://github.com/ghc-proposals/ghc-proposals/issues/438#issuecomment-1199789374

[2022-10-04 02:42] mixphix commented on #51
LGTM

[2022-10-04 14:08] phadej opened #95 "Change `stimes @Void n x` to be `x`"
Currently

[code]

however

[code]

The motivation is to allow refactoring `base` so `Void` can be defined earlier. That's probably a reason why `stimes` for `()` is defined as it is. An alternative is to change `stimes @()` to also fail for non-positive integral values.

### Diff

[code]

I don't expect this change to affect anyone.

The class says

So it's not required to fail if `n <= 0`, so it

[2022-10-04 14:43] Ericson2314 commented on #53
`Rep` has these properties:

1. It's a singleton: One inhabitant only for valid indices.
2. Morally representational role: `Coercible a b => Coercible (f a) (f b)`, though GHC will struggle with this.

The `TestEquality` singleton extra law was written:
[code]
but this is kinda fishy (my bad!) because `x = y` isn't really a valid proposition if we don't know whether `x` and `y` are the same type.

[2022-10-04 14:47] Ericson2314 commented on #53
The problem with the above suggestion is that GHC will need the things in https://github.com/ghc-proposals/ghc-proposals/pull/233 to realize the type is representational.

[2022-10-05 15:07] tomjaguarpaw commented on #51
+1

----

Yes, that's satisfactory. I think the `toEnum`/`fromEnum` is a big strange, but I don't think it actually violates any known laws.

[2022-10-05 15:24] phadej commented on #95
MR https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9112

[2022-10-05 20:14] emilypi commented on #51
+1 from me

[2022-10-07 06:25] Bodigrim commented on #51
Altogether this gives us at least 4 votes in favor, which is sufficient to approve. Thanks all!

[2022-10-07 06:25] #51 closed

[2022-10-07 06:40] Bodigrim commented on #57
I tend to agree with @cdsmith here: since @ramirez7 has already spent a considerable effort on implementing partial members of `Foldable` and they are strictly better than default implementations, let's go. Implementing `instance Foldable1 Compose` would be a topic for another proposal.

Dear CLC members, before we vote on this, please take a moment to look at the MR: https://gitlab.haskell.org/gh

[2022-10-07 08:24] phadej commented on #57
Sunken-cost fallacy.

[2022-10-07 08:39] phadej commented on #57
These couldn't have efficient implementations for any container. `minimum` and `maximum` can e.g. for `Set`. I think that's the reasoning while `minimum` and `maximum` are `Foldable` methods but `*By` aren't.

[2022-10-07 10:36] sjoerdvisscher commented on #57
@phadej, @ramirez7 said `*May` not `*By`.

[2022-10-09 21:30] Bodigrim commented on #56
Closing as abandoned, feel free to reopen when the proposal is ready.

[2022-10-09 21:30] #56 closed

[2022-10-11 07:20] chessai commented on #57
Could you please make a proposal on
https://github.com/haskell/core-libraries-committee ?

On Sat, Apr 30, 2022, 20:31 Chris Smith ***@***.***> wrote:

[2022-10-11 08:51] brandon-leapyear commented on #34
I think my biggest point is what you said: is it really that big of a deal
to expose internals? Even moving this into an Internal.hs module and not
exporting from Text.Printf is fine.

To your second point, remember, this is PrintfType, not PrintfArg, so we're
talking about the return type of printf, not what to interpolate into the
string. It's already possible to define PrintfArg for Text such t

[2022-10-11 09:20] brandon-leapyear commented on #34
Feel free to vote as-is. I'm happy with either resolution with the given
conversation

On Sun, May 29, 2022, 10:01 AM ˌbodʲɪˈɡrʲim ***@***.***>
wrote:

[2022-10-11 13:38] nomeata opened #96 "Add Data.Array.genArray"
I’d like to add

[code]

as proposed in <https://gitlab.haskell.org/ghc/packages/array/-/merge_requests/13>. I think I noticed it's lack a few times already, last while writing [a recent blog post](https://www.joachim-breitner.de/blog/796-rec-def__Minesweeper_case_study).

[2022-10-11 13:49] treeowl commented on #96
What about these as well?

[code]

[2022-10-11 13:55] nomeata commented on #96
In analogy to `newListArray`, I would call that `newGenArray`.

[2022-10-11 13:59] treeowl commented on #96
Not really. It produces a *mutable* array which may then be frozen manually. The first two produce *immutable* arrays, internally using unsafe freezes.

[2022-10-11 14:10] treeowl commented on #96
I'm not suggesting a refactor.

[2022-10-11 14:11] treeowl commented on #96
I'm just suggesting three functions to add to yours (plus similar for unboxed and storable for the array type specific ones).

[2022-10-11 17:43] Bodigrim commented on #96
@nomeata API for core packages, which are not `base` itself, is normally up to relevant maintainers. The problem with `array` is that the set in question is precisely empty. Would you like to be a maintainer of `array`? As you can see, this is generally a fairly low-traffic duty

[2022-10-11 17:49] Bodigrim commented on #90
Dear CLC members, let's vote on the proposal to provide more precise upper/lower case predicates from `Data.Char`: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9043. Existing `isUpper` / `isLower` are insufficient, as they wrongly rely on `GeneralCategory` property to determine case. @tomjaguarpaw @mixphix @emilypi @chessai @cgibbard

----

+1 from me. The proposed change is non-breaking, i

[2022-10-11 18:04] cgibbard commented on #90
+1 I'm generally in favour of this. One detail is that given that "uppercase" is typically a single word, I'm not sure the camel-casing on isUpperCase is optimal, though I'm not sure I'd want to hold anything up over that. ;)

Also, I would generally be in favour of having a wider array of unicode predicates on characters exported from Data.Char, if there's motivation to push it in that direction.

[2022-10-11 18:09] nomeata commented on #96
No, I don't think I'd be the right person to do that. I only have a passing interested right now… sorry

[2022-10-11 19:19] emilypi commented on #90
+1

[2022-10-11 19:21] wismill commented on #90
@cgibbard Both are correct (uppercase and upper-case), but it is true that the Unicode standard uses `isLowercase` and `isUppercase`. I find `isLowerCase` more readable than `isLowercase`, but I have no strong opinion on it.

What predicates have you in mind? Since the implementation in `Data.Char` is based on [`unicode-data`](https://hackage.haskell.org/package/unicode-data-0.3.1/docs/Unicode-Cha

[2022-10-11 19:49] Bodigrim commented on #90
FWIW I prefer `isUpperCase`, but let's not digress from the voting.

[2022-10-12 09:13] tomjaguarpaw commented on #90
+1

----

This seems like a property that is useful to test.

(Tangential note: It seems a bit sad that `toLower` doesn't return a `Maybe`, given that many characters, even alphabetical ones, have no notion of "upper" and "lower" case. Maybe in the future we could have `toLowerMaybe` that satisfies `fmap isLower (toLowerMaybe c) /= Just False`.)

[2022-10-12 15:49] mixphix commented on #90
+1

[2022-10-12 16:49] chessai commented on #57
Checking back on this thread and I'm not sure why this comment is here and says 1d ago. I made this message as a reply to the libraries mailing list a very long time ago... I have no memory of making this comment yesterday. Unless this is a GitHub UI bug.

[2022-10-12 16:51] chessai commented on #90
+1

[2022-10-12 19:37] Bodigrim commented on #90
Approved unanimously, thanks all.

[2022-10-12 19:37] #90 closed

[2022-10-12 19:41] Bodigrim commented on #96
Any volunteers to maintain `array`?

[2022-10-12 19:42] Bodigrim commented on #91
@Icelandjack just a gentle reminder about your proposal here.

[2022-10-14 00:02] Topsii commented on #91
### Issues Building clc-stackage
I tried to build `clc-stackage`, but I hit an error that I don't understand.
[code]
Though I think I have built most/all packages. [Here's the `-v3` output.](https://github.com/haskell/core-libraries-committee/files/9781021/out14.txt)

I have removed 70 packages from `build-depends`. Most are only supposed to work on Unix. A few have `build-type: configure` scripts

[2022-10-14 20:40] Bodigrim commented on #91
Thanks @Topsii. Could you plesase share the patches you made for affected packages? For example, fork them, patch and provide `cabal.project` pointing to patched repos. This way someone with a UNIX machine would be able to continue your work and check the rest of the packages. It is also important for CLC to see the patches in full to understand how much effort are required on average to implement

[2022-10-15 16:33] friedbrice opened #97 "Make `stimes` a method of `Semigroup`"
Make `stimes` a method of `Semigroup` so that it can be given a custom implementation for each semigroup, but keep the default implementation for convenience.

# Why

While many specific semigroups admit an implementation of `stimes` that converges for input `0`, we currently lack the ability to provide that implementation. For example, any semigroup that also is a monoid could use `stimes = mtime

[2022-10-15 16:56] konsumlamm commented on #97
What do you mean, `stimes` already is a method of `Semigroup` (and it always was): https://hackage.haskell.org/package/base-4.17.0.0/docs/Data-Semigroup.html#v:stimes. The [`Semigroup (Map k a)` instance](https://hackage.haskell.org/package/containers-0.6.6/docs/src/Data.Map.Internal.html#line-480) even defines it! Also, `mtimes` isn't a thing (anymore?).

[2022-10-15 18:11] friedbrice commented on #97
Oh, I'm a dumbass. I just saw `stimes` is not a visible method of `Semigroup` in my GHCi and got flustered. All I needed to do was import it from `Data.Semigroup`, though. Sorry for wasting your time.

[2022-10-15 18:11] #97 closed

[2022-10-16 16:28] phadej opened #98 "Add decideSymbol, decideNat, decideChar, decTypeRep and decT"
[code]

[code]

The `sameSymbol`, `sameNat`, `sameChar` and `eqTypeRep` could be safely&dagger; re-implemented using these new combinators:

[code]

but it's probably better to not change their implementations, as they are quite simple anyway.

&dagger; by safely I mean *without relying on any internal implementation details*. Thus if we had decide variants from the beginning, libraries could have

[2022-10-16 19:38] treeowl commented on #98
I think those should be `decideKnownSymbol`, etc., with a similar `decideTypeable`. Do we have/will we get the actual singleton types in `base`? If so, the functions called `decideSymbol` etc. should take those.

[2022-10-16 19:41] RyanGlScott commented on #98
You should be able to implement `decTypeRep` without `unsafeCoerce`:

[code]

I don't have a strong opinion on the naming.

Yes, those exist now that #85 has been implemented.

[2022-10-16 20:03] treeowl commented on #98
In that case, I think we should definitely have comparison functions that take them, and optionally have the class-based versions.

[2022-10-17 00:09] monoidal commented on #95
Could you explain the motivation more? In the MR the module `GHC.Base` already imports `stimesIdempotentMonoid` and adding an additional import of the simpler function `stimesIdempotent` shouldn't change much. Or am I missing something?

Looks like the default was changed in https://github.com/ekmett/semigroups/commit/bb03b9365a5708ec382f7d8ec3f37000e201fa67. I guess it was for consistency with ot

[2022-10-17 06:07] phadej commented on #98
Yes, but I still need `error` "which shouldn't ever be reached".

So one might rather implement `eqTypeRep` using `decTypeRep`, not the other way around.

[2022-10-17 12:41] treeowl commented on #98
I suggest adding the full set you're considering to the proposal.

[2022-10-17 13:26] phadej commented on #98
What do you mean by "the full set"? I'm considering just the four mentioned in the title.

[2022-10-17 13:27] phadej commented on #98
I'm also not sure what the GHC.TypeLits interface will look like in GHC-9.6 and happy to postpone moving this proposal forward until it's out.

[2022-10-17 13:55] treeowl commented on #98
There are four different kinds: `Type`, `Nat`, `Symbol`, and `Char`. For each of them, I would definitely want a version that accepts explicit singleton/`TypeRep` arguments. It may also be useful to have, for each, a version that takes those implicitly as class constraints. I'm suggesting that you specify whether you want explicit ones, implicit ones, or both, and that you propose names for all fo

[2022-10-17 13:59] phadej commented on #98
I propose only implicit ones for `Nat`, `Symbol` and `Char`, and both for `Typeable/TypeRep`.

The reason for having explicit one for `TypeRep` is because it's hetero-kinded: `:~~: - double tilde.

The reason for not having implicit ones for `Nat`, `Symbol` and `Char` is because I'd rather add a `decideEquality` to `TestEquality` type-class, but that is breaking change and I don't want to dilute t

[2022-10-17 14:06] treeowl commented on #98
I see now.

[2022-10-17 14:24] phadej opened #99 "Hetero-kinded eqT"
Currently we have

[code]

But we could have hetoro-kinded version:

[code]

That can be implemented safely using `eqTypeRep` today, but that is indirect.

Should the new combinator be added, what should it be named? `heqT` is suggested.

EDIT 2022-10-28: Also export `eqT` and `heqT` from `Type.Reflection`. Currently `eqT` is exported only from `Data.Typeable`.

cc @RyanGlScott

[2022-10-17 14:39] treeowl commented on #99
We have it: [`eqTypeRep`](https://hackage.haskell.org/package/base-4.17.0.0/docs/Type-Reflection.html#v:eqTypeRep).

[2022-10-17 14:41] treeowl commented on #99
Sorry for my last comment. Read you wrong.

[2022-10-17 17:57] Bodigrim commented on #95
I'm mildly in favor: trading one bottom for another makes the change non-breaking (anything which was not broken before) and `stimes = const id` should generate slightly less code than `stimesIdempotent` with two branches.

[2022-10-17 20:24] ekmett commented on #95
no objection here

[2022-10-17 22:08] AlexandreTunstall opened #100 "Add Semigroup and Monoid instances for ZipList"
## Motivation

I currently find myself in need of a `Semigroup (ZipList a)` such that:

[code]

`Semigroup (Ap ZipList a)` does not fulfil this need:

[code]

Surprisingly though, there does not seem to be any such instance in base yet.

## Proposal

I propose adding `Semigroup ZipList` and `Monoid ZipList` instances that behave as described above.

Here's one way of implementing them:

[code]

Th

[2022-10-17 22:10] phadej commented on #64
Sorry for being late at the party.

Sad we cannot have `Control.Seq` just because `parallel` defines it. That module is barely used: https://hackage-search.serokell.io/?q=import.*Control.Seq%28%24%7C%5B%5Eu%5D%29. Essentially `lens` and `ghcide`...

Also there is `Control.Exception` which exports `throw`. (`GHC.Err` imports `GHC.Exception` to define `error` and `undefined`)

Also, instead of creat

[2022-10-18 08:48] phadej commented on #100
Using [`semialign`](https://hackage.haskell.org/package/semialign)

[code]

I thought `semialign` had a newtype for that, but it doesn't. I'll fix that there.

That is a hint that there is no `Applicative` such that `Ap ? a` would give `salign`.

I will find it somewhat confusing that `ZipList`s `Monoid` instance would *align* instead of *zipping*.

[2022-10-18 22:00] andreasabel commented on #64
I totally agree with @phadej.

[2022-10-19 12:12] AlexandreTunstall commented on #100
Is *align* the common term for what I'm trying to do?

If so, then that invalidates my last reason for adding it to `ZipList`.

[2022-10-20 09:13] chshersh opened #101 "Add atomicModifyIORef_ and atomicModifyIORef'_ to 'Data.IORef'"
I propose to add the following functions to the `Data.IORef` module in `base`:

[code]

This functions are rather common and I personally use them much more often than the original `atomicModifyIORef` versions. Currenty, I need to write `atomicModifyIORef' ref $ \a -> (myFunction a, ())` which is:

1. Contains more syntactic noise.
2. Requires me to check the type of `atomicModifyIORef` **every si

[2022-10-20 09:44] nomeata commented on #101
I’m in support, I ran into this odd omission in the API just last month.

[2022-10-21 20:13] alexfmpe opened #102 "More intuitive Applicative laws"
# Motivation
https://wiki.haskell.org/Typeclassopedia#Alternative_formulation portrays `Applicative` as a pseudo-associative binary operation with a pseudo-identity, similar to `<>`/`mempty`, and requires 3 rather than 4 laws, which makes it much easier to reason about intuitively, prove lawfulness of instances, and explain to newcomers.

# Proposal
To replace the laws specified in `Control.Applic

[2022-10-21 21:27] Bodigrim commented on #95
Dear CLC members, let's vote on the proposal to change `stimes @Void n x` to be simply `x` instead of calling [`stimesIdempotent`](https://hackage.haskell.org/package/base-4.17.0.0/docs/src/Data.Semigroup.Internal.html#stimesIdempotent) (which throws an error when `n <= 0`). @tomjaguarpaw @cgibbard @chessai @emilypi @mixphix

----

+1 from me.

[2022-10-21 21:28] emilypi commented on #95
+1 easy

[2022-10-21 21:38] chessai commented on #95
+1

[2022-10-22 08:59] tomjaguarpaw commented on #95
+1

[2022-10-22 09:26] tomjaguarpaw commented on #102
I think neither the existing formulation nor the one proposed here are particularly simple.  The simplest formulation is one [discovered by
@duplode](https://duplode.github.io/posts/applicative-archery.html) in 2015, called "Compositional" below.

The benefit of the existing formulation is that it is presented in terms of `<*>`, which is actually used in practice.  Neither `⊗` nor `<.>` are used i

[2022-10-22 09:36] tomjaguarpaw opened #103 "Subject API evolution of array to CLC vote"
[`array` is maintainerless](https://discourse.haskell.org/t/any-volunteers-to-maintain-array/5188) yet there are [outstanding requests to change its API](https://gitlab.haskell.org/ghc/packages/array/-/merge_requests/13). Since `array` is a critical and fundamental ecosystem package I suggest that decisions about changing its API are brought to CLC vote in the same way as similar decisions about `

[2022-10-22 10:00] nomeata commented on #102
How natural would a formulation using `liftA2` be (which I tend to think of a very suitable basic definition for Applicative)?

[2022-10-22 10:10] tomjaguarpaw commented on #102
The "compositional" formulation is a formulation using `liftA2`. `(<.>) = liftA2 (.)`. (I omitted that from my comment, originally, oops!).

[2022-10-22 10:52] nomeata commented on #102
But it's not really important that it is `pure id` ans `liftA2 (.)`, right? It could be equivalently be started that for any monoid instead of `id` and `(.)`? (Or do I have to say Category to allow different types?) Maybe the more concrete formulation is easier … but presumably if I want to use these equations in proofs the more general form is more convenient?

[2022-10-22 10:58] tomjaguarpaw commented on #102
I think stating it in terms of a monoid, i.e. `pure mempty` and `liftA2 (<>)` is not strong enough because, as you say, it gives no way to allow different types. Stating it in a category is strong enough. Given the polymorphism of `(.)` and `id` in their `Category` instance definitions, what I wrote translates directly! But there's no need to go all the way to `Category`. Just use the `(->)` insta

[2022-10-23 21:25] mixphix commented on #95
+1

[2022-10-23 21:26] alexfmpe commented on #102
Maybe a better way to put it would be with the associative law

[code]

from which we can derive the earlier one
[code]

I do think the current, errr... "Applicative"... formulation set of current ones can be reduced. After all, the other two formulations have 1 associativity constraint and 2 identity ones, so 4 sounds like one degree-of-freedom restriction too many and thus redundant.

Very nice.

[2022-10-24 19:32] adamgundry commented on #87
There hasn't yet been a huge amount of feedback on the [GHC feature proposal for categorised WARNING pragmas](https://github.com/adamgundry/ghc-proposals/blob/warning-pragmas/proposals/0000-warning-pragmas-with-categories.rst) motivated by this discussion, so please [chime in on the PR](https://github.com/ghc-proposals/ghc-proposals/pull/541) whether or not you think this is a good idea!

[2022-10-26 21:20] Bodigrim commented on #102
I think it's a good idea to put several formulations of laws in Haddocks, accompanied by proofs of their equivalence.

[2022-10-26 21:21] Bodigrim commented on #95
With 5 votes in favour, the proposal is approved. Thanks all.

[2022-10-26 21:21] #95 closed

[2022-10-26 21:42] Bodigrim commented on #101
I must admit that I don't really understand the idea behind existing API.
[code]
What's the expected use case when `b` is not `()`?

[2022-10-26 21:47] gbaz commented on #101
That's one of the most useful ones in my opinion! Imagine one has a map behind an IO ref. As one example, that function can be used to both insert into the map, and also return a bool indicating if there was a prior value in the map.

That said, I think the versions already in base are slightly more useful and general, although they might sometimes require discarding the result to avoid warnings.

[2022-10-26 21:53] Bodigrim commented on #101
Thanks @gbaz, it's a pity that haddocks do not provide such example.

Would it be too bad to define `atomicModifyIORef_' :: IO a -> (a -> a) -> IO ()` to avoid name clash with `GHC.IORef.atomicModifyIORef'_`?

[2022-10-26 21:55] treeowl commented on #101
It's been a while since I wrote it, but the condom used to implement `atomicModifyIORef'` has some extra power that I believe is still not exposed. I'd like to see that happen.

[2022-10-26 21:58] Bodigrim commented on #99
I never touched [`eqT`](https://hackage.haskell.org/package/base-4.17.0.0/docs/Data-Typeable.html#v:eqT) and don't really know how useful is the proposed generalization. Could someone more experienced in this area please chime in?

[2022-10-26 22:05] treeowl commented on #99
I have no idea how useful it would be, but I think `heqT` wouldn't be a bad name.

[2022-10-26 22:11] Bodigrim commented on #100
It seems there are at least three potential `instance Semigroup ZipList`: one is just mirroring `instance Semigroup [a]`, another is `zipWith (<>)`, and the third is `salign`, as proposed above. Such situation suggests that to avoid confusion it's safest not to define `instance Semigroup ZipList` at all.

@AlexandreTunstall how do you feel about just using `salign`?

[2022-10-26 22:27] Bodigrim commented on #98
I'd probably wait until GHC 9.6 is out and we gain some experience with changes approved in #85 before proceeding with this proposal, but it's proposal's right to trigger a vote if they wish so.

[2022-10-26 22:47] Bodigrim commented on #91
Thanks @Topsii, excellent work!

Are you referring to #93? Let's leave it for another day and stick to the `Bifunctor` proposal at hand for time being.

I don't think so, and the proposal does not mention it. We have not removed `mappend` from `Monoid` or `return` from `Monad`, so I do not see `second` removed from `Bifunctor` in foreseeable future.

----

With regards to `instance Bifunctor (,)`

[2022-10-26 23:20] treeowl commented on #91
As long as we actually do something about the strictness issue.

[2022-10-26 23:28] Bodigrim commented on #91
(The issue with `first id` for tuples is the same as with `fmap id` for `NonEmpty` - both are lazy beyond measure. It would be nice to fix it somehow, but that's really a separate issue common for entities from kmettoverse)

[2022-10-26 23:53] Jashweii commented on #101
https://github.com/haskell/core-libraries-committee/issues/101#issuecomment-1292685203

If you did a prior read instead, the combined block is not atomic (there could have been a write in between the two).
I *assume* this avoids that.

[2022-10-27 01:04] AlexandreTunstall commented on #100
Yes, using `salign` seems to be the clearest solution to avoid confusion.

Since I'm after a `Semigroup` instance, I've opened an issue for adding an appropriate instance to the semialign package: haskellari/these#178.

Thanks for introducing me to semialign.

[2022-10-27 01:04] #100 closed

[2022-10-27 01:20] ramirez7 commented on #99
`eqTK`?

[2022-10-27 06:08] phadej commented on #98
This and #85 are orthogonal, so I'd wish to trigger the vote.

[2022-10-27 10:55] Lysxia commented on #99
I don't know of a real use case off hand but it seems quite plausibly useful.

[2022-10-27 11:58] chshersh commented on #101
I'm using the existing interface behind `atomicModifyIORef` in [`dr-cabal`](https://github.com/chshersh/dr-cabal) like this [here](https://github.com/chshersh/dr-cabal/blob/e8d6324e0848bbdd527a65223042af94e0dc1f85/src/DrCabal/Watch.hs#L121):

[code]

But that's about the only time I used this default interface. More often I need the one that's being proposed here.

[2022-10-27 12:06] tomjaguarpaw commented on #99
Can we please see a real use case before we vote on this?

[2022-10-27 12:29] phadej commented on #99
I don't know any "real" use case. I just noticed that the API is not complete.

[2022-10-27 12:37] tomjaguarpaw commented on #101
I'm confused then why one would use `atomicModifyIORef_/'` rather than `modifyIORef/'`. If you're not both writing and reading then what about these operations is "atomic"?

[2022-10-27 12:44] tomjaguarpaw commented on #101
Oh, it's the modification itself that's not atomic. [`modifyIORef` is](https://hackage.haskell.org/package/base-4.17.0.0/docs/src/Data.IORef.html#modifyIORef)

[code]

🤯

[2022-10-27 14:56] ekmett commented on #99
@tomjaguarpaw: Usecases mostly revolve around EDSLs for generics / scrap-your-boilerplate that don't get stuck only dealing with `Type` or `k -> Type`.

We're paying the price for Axiom K, we might as well make it more usable.

+1 for heqT.

[2022-10-27 15:41] tomjaguarpaw commented on #99
Sure, I understand the use case of the general functionality, but we already have [`eqTypeRep`](https://hackage.haskell.org/package/base-4.17.0.0/docs/Type-Reflection.html#v:eqTypeRep). The difference is just about whether we provide the `TypeRep` arguments explicitly or whether we conjure them up using a `Typeable` constraint. I'm not sure why one would prefer one rather than the other.

[2022-10-27 16:01] treeowl commented on #101
That would have rather bad performance effects for code using an `IORef` for things other than inter-thread communication. Extra allocation for sure; maybe also more synchronization cost.

[2022-10-27 21:00] Bodigrim commented on #99
I must admit that I never used `eqTypeRep` as well, so don't really have an informed opinion to vote for or against. I'm happy to be persuaded (either way) by users of `Type.Reflection`.

[2022-10-27 21:28] RyanGlScott commented on #99
As an occasional `Type.Reflection` user, the biggest draw of `heqT` for me (aside from API consistency) is the chance to cut out a fair bit of boilerplate code. Currently, you have to write something like `eqTypeRep (typeRep @a) (typeRep @b)` if you want to compare two types for equality heterogeneously. This is doable, but rather verbose. With `heqT`, this would simply become `heqT @a @b`.

[2022-10-27 21:48] phadej commented on #99
FWIW. I'd amend the proposal with (hopefully trivial) addition to export `eqT` and `heqT` from `Type.Reflection` as well.

As a potential `Type.Reflection` user I'd find it strange to import `Data.Typeable` (`Type.Reflection` exports `Typeable` class already for example).

[2022-10-28 04:33] ekmett commented on #99
@tomjaguarpaw

Yes, you can assemble it. One might even argue that this simple combinator falls below the Fairbairn threshold,

[code]

is a trivial application of things that already exist. All of that is true.

But we're already well off to the side in `Type.Reflection`, or well, somewhat less so in `Data.Typeable`. I'm not too worried about taking up a rarified name like this, and it seems best

[2022-10-28 04:37] treeowl commented on #99
@ekmett, I haven't used `Typeable` *all* that much, but when I have, I've almost always thought about `TypeRep`s. I expect that will be more common for people coming to it after `Type.Reflection`.

[2022-10-28 04:58] ekmett commented on #99
My guiding star is that `Typeable` mostly (originally) existed to support `Data`, and `Data`, despite offering a combinator irrelevantly named `dataTypeRep`, literally never mentions a word about `TypeRep`, an implementation detail of `Typeable`, and one we fundamentally changed by creating `Type.Reflection` and making now two incompatible notions of `TypeRep` that you have to messily work with qu

[2022-10-28 21:35] Lysxia commented on #99
**We could have an API for `Typeable` without any explicit `TypeRep`,** at no loss of expressiveness for users. `TypeRep` would remain as an implementation detail, and as an escape hatch for temporarily missing features from the `Typeable` API. At the moment, such an API is missing `heqT`.

The state of mind for one using `heqT` is "I want to compare two types." And arguably the two types are all

[2022-10-29 12:34] tomjaguarpaw commented on #99
Very nice! So the moral of the story is that we prefer to pass types-with-constraints around, not singletons. I don't understand your point about `App` and existentials though. If `App` also obeyed the moral of the story, and bound types not singletons, then your example would look much nicer. Does it still need existentials? If so, could you explain? I don't get it.

[code]

On the other hand I d

[2022-10-29 19:06] tomjaguarpaw commented on #99
Though I suppose we can obtain that from [`typeRepKind`](https://www.stackage.org/haddock/lts-19.30/base-4.15.1.0/Type-Reflection.html#v:typeRepKind).

[2022-10-30 10:12] Lysxia commented on #99
You did answer the issue I was thinking of. I didn't realize we could already bind variables like this, `App @f @_`.

[2022-10-30 10:13] tomjaguarpaw commented on #99
Yes, it's amazingly cool, and only available from 9.4 I believe.

[2022-11-03 16:00] simonpj opened #104 "Design for dataToTag#"
Matthew and I would like to consult you about the API exposed to users of `base` for the `dataToTag#` operator.

Currently we have a primop
[code]
and a strangely named alias in GHC.Base
[code]
Of course this is all wrong:

* `dataToTag#` is way too polymorphic: it can't possibly work for every type
* It is levity-monomorphic, so you can't use it on unlifted data types
* Plus, its implementation i

[2022-11-03 16:26] simonpj commented on #104
Ah, you are right.  Of course: `myDataToTag` can't be that polymorphic: indeed that's the point!

So, fair cop: it's not backward compatible if you write over-polymorphic functions involving `dataToTag`.

[2022-11-03 17:24] treeowl commented on #104
What about newtype wrappers of various sorts? Will `dataToTag#` still be able to peer through those?

[2022-11-03 17:55] simonpj commented on #104
Can you give concrete examples of what you mean?   DItto for your earlier suggestions, not all of which I could parse. Thanks!

[2022-11-03 18:05] treeowl commented on #104
@simonpj `dataToTag#` and `tagToEnum#` are both lightweight "generic" functions, but they're missing some metadata. If we have a `TagToEnum` class, my round trip thing is irrelevant, so ignore that. But someone who has something `TagToEnum` and `DataToTag` is relatively likely to want to know how many constructors the type has. That will let them know things like how many bits are required to seri

[2022-11-03 18:44] Bodigrim commented on #104
`dataToTag#` is usually used in low-level, performance-critical manipulations, so I would not say that there is users' demand for "civilised boxed `Int`", if it simplifies.

[2022-11-03 21:13] treeowl commented on #104
The newtype question: today we can apply `dataToTag#` to `All` to determine whether it's true or false. Will that remain the case? I don't think it necessarily needs to, but it would be good to make an intentional decision.

A symmetry question: I don't see a `TagToEnum` constraint counterpart proposed above. That seems very sad; I would surely want both. Perhaps the answer is performance? `tagToE

[2022-11-03 21:24] treeowl commented on #104
I just discovered that `tagToEnum#` doesn't work for GADTs. That makes it much less useful than I imagined it to be. Oh well.

[2022-11-03 23:23] simonpj commented on #104
Can I ask: does the CLC see `dataToTag#` as part of the API for base that users can rely on (and hence which the CLC creates) or as part of GHC internals, purely an internal implementation matter?

If the former, we are totally open for the CLC's guidance.  Eg. no `dataToTag` and `dataToTag'` is fine with me.

[2022-11-03 23:29] simonpj commented on #104
I see.  To spell it out, given
[code]
is `dataToTag# (x :: All)` well typed?  And if so what answer does it give?

Today I think the answer is "yes it is well typed", and would return the tag on the enclosed Bool.   I don't know if that's what you want, and would welcome the CLC's guidance.  It's a good question.

We can implement either behaviour I think; but rejecting the above is certainly easi

[2022-11-03 23:30] simonpj commented on #104
There will certainly be a `TagToEnum` follow up.  But I thought it'd be simpler to do a trial run on a more focused topic.

[2022-11-03 23:31] simonpj commented on #104
Hmm.  I'm not convinced.  Can you show some compelling examples?  I suspect you'll quickly need the Data class anyway if you want to do anything polymorphic.  Currently `dataToTag#` is essentially always used monomorphically.

[2022-11-03 23:42] Bodigrim commented on #104
It's kinda borderline, but I'm inclined to say that it's in scope for CLC because of a new type class.

[2022-11-04 00:30] Bodigrim commented on #104
@simonpj could you please elaborate why do you need a type class? Could we just have `dataToTag# :: forall {lev :: Levity}. TYPE (BoxedRep lev) . a -> Int#` as a primop?

[2022-11-04 00:49] treeowl commented on #104
`tagToEnum#` bans GADTs, which makes it unsuitable for what I wanted, so here's a more simplistic example. Suppose I want to serialize and deserialize arrays ("words") consisting of some enumeration type ("letters"). Efficient serialization using `dataToTag#` takes little code; there's no need to specialize to different types. Deserialization must invert serialization, so it must use `tagToEnum#`.

[2022-11-04 00:54] treeowl commented on #104
I don't think `dataToTag#` is supposed to make sense for function types. And somewhere (above? In the GHC ticket?) there's mention of the fact that it breaks parametricity; that's generally unfortunate, but it's not the only primop to do so.

[2022-11-04 08:42] simonpj commented on #104
Well, `dataToTag#` is, as its name suggests, a way of finding the tag of a *data constructor*.  So you need to be sure that you are applying it to a data constructor and not, as David says, to a function.  Or even perhaps a newtype.  This is a way to make sure.

Does breaking parametricity matter?  Well, foldr/build fusion becomes unsound.

`tagToEnum# :: Int# -> a` is a more compelling example, w

[2022-11-04 09:19] ocharles commented on #104
I have no idea if this is true, but are there perhaps other functions in the future that might also be interested in this? If so, that suggests maybe the type class you want (or perhaps even just a built in `IsData :: Type -> Constraint` constraint) would do the job, rather than bundling this into `DataToTag`? Or maybe `DataToTag` is exactly this class, but a more general name (`IsData` or somethi

[2022-11-04 17:55] Ericson2314 commented on #104
`GHC.Base` sounds to me like something that users are not supposed to think is stable?

[2022-11-05 13:20] Bodigrim commented on #87
Thanks all for the detailed discussion and scrutiny. Given that the thread was mostly silent for a month now, I hope that everyone had a chance to voice their opinion. I revised the proposal to reflect most recent developments, and in my proposer's hat I'd like to trigger a vote.

[2022-11-06 11:55] Bodigrim commented on #87
(...changing hats...)

Dear CLC members, let's vote on the proposal to add `{-# WARNING #-}` to `Data.List.{head,tail}` as per [MR !9290](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9290). @tomjaguarpaw @chessai @cgibbard @mixphix @emilypi

----

Unsurprisingly, +1 from me.

[2022-11-07 05:35] emilypi commented on #87
+1, unsurprisingly. One small step on the way to purging footguns.

[2022-11-08 23:36] Bodigrim commented on #91
Your example demonstrates that changing the implementation of `second` from `bimap id` to `fmap` is dangerous, because it can cause recursive loops in instances, which were sane previously. Makes sense, thanks.

@Icelandjack we can't really proceed any further without an active proposer. Are you still interested to pursue this? @Topsii would you like to take over?

[2022-11-08 23:42] Bodigrim commented on #104
@Ericson2314 the situation is as follows:
* Changing primops, exported from `ghc-prim`, does not currently mandate a CLC vote. That is fine.
* However, `GHC.Base` is an ultimate source of many core type classes, e. g., `class Monad`, changes to which do require CLC vote.
* The proposal suggests to add a new type class to `GHC.Base`. Strictly speaking, such changes require the same level of scrutin

[2022-11-08 23:44] Bodigrim commented on #99
@phadej could you please raise a draft MR?

[2022-11-09 11:56] simonpj commented on #104
Once again I ask: what is the criterion you are using here.  I am super keen to have a clear criterion for
* What is the API of base, which we try to keep stable, and about which we consult the CLC
* What is the internals of base, which we make no attempt to keep stable, and about which we do not consult the CLC.

I am really keen to know!  You clearly have a criterion @Bodigrim: can you say what

[2022-11-09 12:19] Icelandjack commented on #91
Yes @Topsii can take over

[2022-11-09 13:20] phadej commented on #103
CLC current "charter" says

Also

Maintainers of Core Libraries may at their own accord seek CLC approval for controversial changes, but are not required to do so. CLC does not interfere with daily development of Core Libraries as long as appointed maintainers keep them in an appropriate shape and support healthy communication with contributors.

---

So I'm very strongly against

Especially as

Y

[2022-11-09 14:42] tomjaguarpaw commented on #103
I think it's up to each individual to decide whether it's a good deal for them, isn't it? I would guess there are plenty of people who would like to be responsible for maintainership duties without bearing the heavy burden of responsibility for API evolution.

Are you saying that volunteers are only looking for "power"? If so, I disagree with that claim.

[2022-11-09 14:49] tomjaguarpaw commented on #104
Here is an example of a criterion that might work:

* The stable API of base is is defined to consist of the exports of all modules other than
    1. those with `Unstable` as a component of the module name
    2. those, grandfathered in for stability, which are very clearly indicated at the top of their Haddocks to be unstable. No more such modules should be added in future.

This "unstable module

[2022-11-09 15:32] simonpj commented on #104
For `base` could we not use `GHC.*` as the prefix?   I think we are close to that already, so it'd be a much less disruptive change than renaming all `GHC.*` to `Unstable.*`

(Separately, I though the widely-used convention was `Internal` not `Unstable`.  At least that's what I've been told by others.  But regardless, I'd love to make progress on `base` first, since a system-wide convention seems

[2022-11-09 16:07] tomjaguarpaw commented on #104
Oh, I beg your pardon, yes. I'll amend my post.

[2022-11-09 16:08] phadej commented on #103
maintainer(s).

[2022-11-09 16:10] tomjaguarpaw commented on #103
Does "maintainer(s)" mean people who will perform 1, or 2, or both? They are different roles.

[2022-11-09 16:12] tomjaguarpaw commented on #104
That might be rather misleading, since there are plenty of modules exported from the `ghc` package whose names start `GHC.` and which _are_ supposed to be public and reasonably stable, aren't there? I think a different stability naming convention between `base` and `ghc` would be rather confusing.

I agree that renaming `GHC.*` modules in `base` is very disruptive. I suggest it doesn't happen. Ins

[2022-11-09 16:18] phadej commented on #103
I'd say at least 1, yet...

IIRC at some point of time GHC developers (cc @bgamari) have offered to do *part of* 1. i.e. the work needed to unblock GHC development, but ruled out doing anything else like triaging issues or discussing minor or major features. That is probably enough short term.

*In fact* Ben does make `array` revisions for GHC release needs: e.g. https://hackage.haskell.org/packag

[2022-11-09 17:20] simonpj commented on #104
Are there?  Most stuff comes through Prelude, or Data.List, or Control.Monad etc.  What things do you have in mind?  And if there are, would it not be better to export them through some more "blessed" module name?

That is one possibility.  It has the disadvantage that one has to know the list ot stable modules -- you can't tell from their names.  But that's just my opinion.  I am entirely content

[2022-11-09 18:47] clyring commented on #104
Sorry for my late arrival here. I have several remarks:

I included some discussion about this in (the current draft of) the overview note for the MR, which I have reproduced here for convenience.
<details>

[code]

</details>

Similar reasoning to point 2b also means that uses of `dataToTag#` at a newtype are currently sometimes optimized less well than uses of `dataToTag#` at its underlying data

[2022-11-09 22:03] simonpj commented on #104
Aha.  I was talking exclusively about the `base` package; the `GHC` package is another matter, since every single module starts with `GHC.`!    A global consensus (across all packages) seems elusive which is why I'm trying to narrow the question to a single package, a package that is the CLC's primary focus, in the hope of a definite view emerging.

[2022-11-09 22:08] tomjaguarpaw commented on #104
Yes, I understand that. I'm pointing out that using `GHC.` to mean "internal, unstable" in one package but not in another seems liable to cause much confusion.

[2022-11-09 22:29] Bodigrim commented on #104
No, your hypothesis has nothing to do with the judgement quoted (and is wrong in general). I explicitly mentioned the premise: `dataToTag#` is a primop, its definition is [a part of compiler](https://gitlab.haskell.org/ghc/ghc/-/blob/90c5abd4581b404f715e72ad55303e18d0c31d68/compiler/GHC/Builtin/primops.txt.pp#L3568). The historical precedent is that GHC developers just change them as it seems fit

[2022-11-09 22:46] simonpj opened #105 "Specification of the stable API of `base`"
I am keen to have a clear criterion for

* What is the **stable API** of the `base` package, which we (the GHC implementers) try to keep stable, and about which we consult the CLC?
* What is the **internals** of `base`, which we make no attempt to keep stable, and about which we do not consult the CLC?

Can the CLC give a clear specification?  Two possiblities that have been suggested are:

* The

[2022-11-10 09:07] adamgundry commented on #105
Perhaps I'm missing something, but would it make sense to make this distinction formal using a new package?

Suppose we had a package `ghc-base` for the internals, and a package `base` that re-exported modules/definitions from it. The CLC would be responsible for `base`, while the GHC devs would then be responsible for `ghc-base` (and it would have minimal or no stability guarantees between versio

[2022-11-10 10:11] simonpj commented on #105
That could be a way forward, but it is one that has repeatedly stalled (mainly due to lack of anyone to push it forward, rather than to any technical problem).  I'm seeking an interim solution.  Because, like it or not, we have an interim solution right now: some things (e.g. the function `GHC.Base.mapFB`) are definitely internal, while others (e.g. the class `Monad` are definitely external.  Yet

[2022-11-10 10:29] tomjaguarpaw commented on #105
Could that perhaps be the Haddocks? Specifically, could everything that is currently considered internal-only be clearly documented as such in the Haddocks? That would stretch your requirement of "one place" a bit but I think it would be a very helpful first step. If we take further, more formal steps later, the Haddocks could serve as the definitive source of information about what exactly should

[2022-11-10 11:25] AndreasPK commented on #87
It would be nice to see a data driven impact analysis before this get's accepted. Maybe I missed it (I skimmed the comments but there are a lot of them). But currently the impact analysis as far as I can tell can be paraphrased as: *"Users of head and tail will receive a warning and have to act on that, or not"*, which seems a bit weak to me for a change to Prelude itself.

Things I would like to

[2022-11-10 14:10] simonpj commented on #105
Sorry I wan't clear enough.  By "in one place" I meant:

* Can we agree the specification of what is stable and want is internal for `base`?

The agreed specification might be:

1. Look in the Haddocks for each module in `base`, or
2, If the name starts `GHC.*`, it's internal, otherwise stable
3. or something else

It is this agreement that I am seeking.

If the answer is (1), the next step is for

[2022-11-10 15:41] parsonsmatt commented on #87
I don't think Hackage allows `-Werror` in published packages, so introducing a new warning should not break any Hackage package.

Every major version of GHC causes big breaking changes that ripple throughout the ecosystem. Lately I've been doing a lot of that work. A `WARNING` pragma on `head` or `tail` would be *so trivially easy to fix* compared to the `Word64` constructor, or changes to GHC lib

[2022-11-10 21:58] Bodigrim commented on #105
@simonpj

Some parts of `base` might be less stable than other, but this does not mandate exclusion from CLC process _per se_.

I'm extremely confused. In #38 we discussed the current charter, which says "Changes which affect performance or laziness and similar are deemed visible". What makes you think that changes to the implementation of list fusion in `base` (which presumably affect performance

[2022-11-10 22:11] Bodigrim commented on #104
Back to the proposal, I'm generally sympathetic to the idea, and the breakage seems minimal if any. I'd personally suggest to limit the proposal to `class DataToTag` with `dataToTag#` only and leave boxed wrappers for another day, as I imagine a lot of fight over the naming, and it would be pity to put this work on hold for a long time.

Once you have a final design and MR for user-facing changes,

[2022-11-10 23:42] Ericson2314 commented on #105
@simonpj We're actually so close! I have https://gitlab.haskell.org/ghc/ghc/-/issues/20647 which starts very conservatively by just having `ghc-base` contain eveyrything, and `base` rexport everything. There are just a few test failures left!

If we at least get everything to work via reexporting, we can *incrementally* clean things up over time, moving stuff from `ghc-base` to `base` where approp

[2022-11-11 00:06] simonpj commented on #105
I'm fine with that.  But `mapFB` is part of the *implementation* of fusion.  I would not expect a user to import it or use it directly.  It is not part of the stable API of base.   For example, I could change its name to `wombat`, and no user should notice. Except of course that we have no current way to say what is part of the stable API and what isn't. So someone might be importing and using `ma

[2022-11-11 00:16] Bodigrim commented on #105
Ah, I see. But it underlines my point that "is a stable part of `base`" /= "falls under purview of CLC". It's fine if the purpose of this discussion is to define the former and, say, annotate haddocks with a proper `Stability:` field, but this would not mean that unstable parts are automatically out of CLC control (which I assumed you were interested to deliniate from the practical viewpoint).

[2022-11-11 00:31] simonpj commented on #105
I see the purview of the CLC as defined in the readme

My difficulty is that I don't know what the API of `base` is.  That is what I am seeking precision on.  That precision could be done in a number of ways, one of which is a Haddock on each module.  Others are sketched above.   It's up to the CLC to decide.

I would love to hear from other members of the CLC too.

Our of curiousity, what unstabl

[2022-11-11 00:59] Bodigrim commented on #105
The usual (e. g., used by PVP) definition is that an API of a library consists of all its public functions and their behaviour. While `GHC.Base` is less stable than say `Prelude`, both are publicly exposed and constitute a part of API. The current charter does not exclude less stable or unstable parts of API from CLC purview.

I think it might be a good idea to mark some bits of `base` as outside

[2022-11-11 03:05] Bodigrim commented on #87
Hackage warns against `-Werror` enabled by default and prohibits `-Wall -Werror` since 2008. I grepped through Stackage Nightly 2022-11-08 and there are only two packages, which set `-Werror` unconditionally:

* https://hackage.haskell.org/package/errorcall-eq-instance is a deprecated empty shell over `base-orphans`,
* https://hackage.haskell.org/package/urbit-hob (there seems to be a bug in `caba

[2022-11-11 08:32] simonpj commented on #105
Thanks @Bodigrim.

Indeed.   My question is: *what are the public functions of `base`*?  That is the question on which I seek the guidance of the CLC.    It cannot possibly be every function of every module.

I'm entirely happy to change terminology from "stable" to "public".   I agree that some stuff that is absolutely intended to be public (you mention type level programming) are not yet very st

[2022-11-11 10:49] tomjaguarpaw commented on #87
@parsonsmatt, as a quick aside, this is very interesting. Would you mind writing up a short paragraph, on [the HF Stability Working Group issue tracker](https://github.com/haskellfoundation/stability/issues/new), explaining what happened? As a member of that group I would welcome learning from your experience on this matter.

[2022-11-11 11:42] Ericson2314 commented on #105
This *has* to be with a split library. `base`, by the PVP has too much public stuff, and therefore has too many version bumps as breaking changes (per that overlay lax notion of what is stable deriving from what is public).

We all agree that some things are more stable than others. We should therefore expose narrower interfaces accordingly so that they are subject to less breakage. Do https://git

[2022-11-12 00:17] clyring commented on #104
Although I wouldn't say the user-facing design is finalized, I think the variants that have been discussed will have little or no effect on the extent of breakage. So I prepared a "quick-and-dirty" backport of the patch to ghc-9.2 and pushed it [here](https://gitlab.haskell.org/clyring/ghc/-/tree/dataToTag-class-9.2), in case anyone wants to find out what `clc-stackage` can show us. (Even this "qu

[2022-11-14 10:37] tomjaguarpaw commented on #87
+1

----

This is the smallest possible step in this direction, and long overdue in my personal opinion. It's regrettable that there is no backwards-compatible option available to us, but there are plenty of straightforward mitigations.

[2022-11-14 18:09] ffaf1 commented on #87
@Bodigrim

This will be fixed when [#8427](https://github.com/haskell/cabal/pull/8427) gets merged.

[2022-11-14 18:30] chessai commented on #87
+1

[2022-11-15 00:11] Bodigrim commented on #26
I'm very bullish on this proposal, but I don't have time to champion it myself. So unless someone is willing to takeover after @ksqsf, I'll close as abandoned in two weeks.

[2022-11-15 00:22] Bodigrim commented on #83
@treeowl could you please clarify the status of this? Unless there is someone with enough bandwidth to champion the proposal and write an MR implementing it, I'll close this as abandoned in two weeks.

[2022-11-15 00:24] Bodigrim commented on #91
@Topsii are you interested to take over this proposal?

[2022-11-15 00:38] Bodigrim commented on #81
@davidsd are you still interested in the proposal? Let's make some progress one way or another.

[2022-11-15 03:04] treeowl commented on #83
I would be happy to attempt an MR.

[2022-11-15 05:49] ulysses4ever commented on #26
@Bodigrim what's left for it in your view? "Simply" an implementation (that can be voted on) or more litigation, impact assessment, etc.?

[2022-11-15 21:52] Bodigrim commented on #26
@ulysses4ever hard to tell. We've had unsatisfactory experience with proposals, which were abandoned by original authors and someone was kind enough to write an implementation, but then more details and questions emerged, and no one was enthusiastic enough to answer them.

The expectation is that a proposer is keen to see their proposal through, which includes but is not limited to preparing an MR

[2022-11-15 22:11] Bodigrim commented on #87
Thanks all, 5 votes in favor out of possible 6 are enough to approve. I'll raise a PR for a migration guide soon.

[2022-11-15 23:04] Bodigrim commented on #91
Thanks for detailed impact analysis, that's very thorough.

The proper path to remove `second` is:
1. CLC proposal to make `Functor` a super class for `Bifunctor` (we are here).
2. **GHC** proposal to introduce `-Wnoncanonical-bifunctor-instances`, because introduction of new warnings is outside of CLC remit.
3. CLC proposal to remove `second` from `Bifunctor`.

I'd suggest to stick to Step 1 only

[2022-11-16 11:43] chshersh commented on #105
In my vision, I would consider all of the `GHC.*` modules unstable and GHC specific and all other modules are **stable**.

I prefer to use functions and types not from `GHC.*` modules unless I have no choice. E.g. only `GHC.Stack` module exports the `HasCallStack` constraint so I'd prefer to not have any breaking changes in this module (and all relevant types and functions). However, IIUC, this mo

[2022-11-16 13:47] alexfmpe commented on #102
Seems to be the case

[code]

[2022-11-16 14:01] konsumlamm commented on #102
I honestly don't think that introducing a new operator just for the laws, that isn't actually used in practice, is very helpful for beginners. Neither are proofs that laws are equivalent very helpful for beginners (rather the opposite, I'd expect it to scare people off).

[2022-11-16 15:01] Ericson2314 commented on #102
Haddock expandables for the proofs *and* the alternative laws themselves I think makes this pretty low-risk: no user should be put off, just a bit more work for `base` maintainers.

[2022-11-16 15:16] nomeata commented on #102
Can we use `<details>` and `<summary>` in haddocks? Adding pages of equational reasoning, or many alternative laws, might not increase the approachability of our docs to people new to all this :-)

[2022-11-16 16:04] Ericson2314 commented on #102
@nomeata I think that is basically the same as the "haddock expandables" @alexfmpe brought up?

[2022-11-16 17:30] gbaz commented on #105
I think that bringing in the PVP definition here is drastically confusing things. The question is not "how should base be versioned" or anything at all pvp related. It is just "what changes to base require signoff from the CLC and which don't"

I like the longterm vision of a split base that's being presented. But in the meantime, I think its totally plausible to say "stuff in the GHC.* hierarchy

[2022-11-16 20:32] Bodigrim commented on #101
I made a documentation MR for the current state of `Data.IORef` as it's full of pitfalls, especially on ARM: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9349/diffs Anyone up to review?

[2022-11-16 20:35] Bodigrim commented on #83
@treeowl then please go ahead with a draft MR, which we can vote on.

[2022-11-16 20:40] Bodigrim commented on #86
@mixphix are you still interested in this? Could we make some progress towards impact assessment?

[2022-11-16 21:05] tomjaguarpaw commented on #101
Reviewed with suggestions. Thanks for doing that.

[2022-11-16 21:34] Ericson2314 commented on #105
If the problem GHC <-> CLC communication being hard, sure.

is a fine starting point.

But if I am reading Simon correctly "stable" comes up more than "CLC". https://github.com/haskell/core-libraries-committee/issues/105#issuecomment-1316867732 is a list of things that are widely used in `GHC.*`. Even if the CLC washes its hand of that, the GHC devs still need to "self-police" and make sure they d

[2022-11-16 22:10] simonpj commented on #105
Thanks John.  Yes, I think you are.  My goal as an implementor is to know:
* What types and functions are part of GHC's internal implementation, which I can freely change.
* What types and functions are part of the API of base on which users rely, which I should be cautious about changing.  And here "cautious" = "consult the CLC about" since a primary mission of the CLC is to take well-judged deci

[2022-11-17 01:59] hasufell commented on #105
I want to throw in that I believe there's a subtle but important difference between unstable modules and internal modules.

Unstable modules to me are those that simply change API frequently. There may be various reasons for that, e.g. because of lack of design and the authors want to signal that they can't make PVP guarantees just yet.

Then there are internal modules. These, expose internals, wh

[2022-11-17 02:56] hasufell commented on #105
To add to this: it would also allow us to make a distinction in terms of expectations. We don't expect internals to give any guarantees and will not bother GHC team about it.

However, we will bother GHC team about unstable API and say "hi, have you figured out a good design yet?" and occasionally nag them.

[2022-11-17 08:39] simonpj commented on #105
Thanks Julian.  Yes, In your vocabulary I think I'm talking about "internal" vs "external", rather than "stable" vs "unstable".  Sorry for the confusion.

(Mind you, being 30 yrs old, I hope `base` doesn't have many unstable-but-external functions.  There may be some.  For example, in #104 we propose adding a `DataToTag` class, as part of the external API.  The CLC might well designate it "unstabl

[2022-11-17 09:22] Kleidukos commented on #105
I'm really glad that this discussion is being re-kindled.

This is actually a part of the tragedy that plays out each time tools of the Haskell language should interact with each-other but do not, because there is no centralised leadership on ergonomics and features. We have metadata on Haddock that are perfectly able to represent such things at the module level.

Unfortunately the historical tend

[2022-11-17 14:05] Ericson2314 commented on #105
@simonpj Quite so! That's great to here I did not misread this one.

I very much agree. I think we need basically a 3 way agreement, where GHC devs know what they can freely change, CLC knows what they must keep track of, and users know what is stable and what isn't (and they better not complain if they use it anyways and then it changes!).

But also, I worry that users won't worry about any "mere

[2022-11-19 06:57] chreekat commented on #105
I'm on board with a split library. I just think there should be an initial design for that library other than "everything is reexported by base". That's a good intermediate step, but it doesn't do anything on its own other than create a maintenance burden. We need an actual vision that will inspire future work.

My suggestion is that the vision should be: a declaration is internal if and only if i

[2022-11-19 22:22] simonpj commented on #105
I'd be fine with that.

Is there a CLC proposal that describes, specifically, what the plan is.  Ineed, is there an agreed plan?  I'd love an opportunity to review it.

[2022-11-20 16:27] Ericson2314 commented on #105
I updated with https://gitlab.haskell.org/ghc/ghc/-/issues/20647 with more information on the *process* I envision.

It spells out that that the CLC must approve `base` no longer reexporting a module in `ghc-base`. If the CLC approves. then that modules is **officially and enforceably** an internal implementation detail of GHC that the CLC relinquishes any jurisdiction over, and GHC devs are free

[2022-11-20 22:57] Bodigrim commented on #98
@phadej could you please raise a draft MR which we can vote on?

[2022-11-20 23:09] treeowl commented on #83
@Bodigrim Now that I'm looking at it, I think it may actually be better to postpone implementation of these until the strictness issues have been settled. I don't really want to write a bunch of excessively lazy code or introduce a bunch of inconsistencies.

[2022-11-20 23:33] Bodigrim commented on #105
AFAIU @simonpj asks a very practical question: which changes to `base` require CLC scrutiny, and which doesn't. This however has little direct relation to stable/unstable axis or base/ghc-base split. Please raise a separate issue if you want mark some modules of `base` as stable or unstable. The question of base/ghc-base split emerges in every other discussion, but it is not something we can act u

[2022-11-20 23:36] Bodigrim commented on #83
Understood. Extreme laziness of `Data.List.NonEmpty` is quite a footgun. Would you like to make a proposal to change it?

[2022-11-20 23:44] Bodigrim commented on #88
@ocharles if you made you mind, please raise a draft MR, so that we know what exactly we are voting on.

[2022-11-20 23:48] Bodigrim commented on #69
@Gabriella439 how would you like to proceed with this, given that #70 is blocked on a GHC proposal and #87 has been approved?

[2022-11-21 01:49] Gabriella439 commented on #69
I'm fine with closing this

[2022-11-21 01:49] #69 closed

[2022-11-21 06:35] phadej commented on #98
The MR for this proposal is  blocked on merging https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9112

[2022-11-21 07:03] treeowl opened #107 "Make NonEmpty functions less gratuitously lazy"
This is going to be ... hard. Some decisions, I think, will not be very controversial. Others will likely be quite controversial. Let's go through them one by one and try to figure things out. But first, I'd like to mention that along with the definition we have,

[code]

there's another, equally valid, expression of the concept of a nonempty list:

[code]

Each of these expressions is better at c

[2022-11-21 07:30] chreekat commented on #105
@Bodigrim I think the nomination was that "all GHC modules get moved to Tier 3". You have mentioned a few modules that you don't approve of, which is great input. So if I'm following correctly, the current nomination is, "All GHC modules *except* GHC.Generics and GHC.TypeNats get moved to Tier 3".  But I assume there may be more GHC modules that should stay under CLC review? And is Tier 3 itself t

[2022-11-21 08:02] hasufell commented on #105
The reason I raised the stable vs unstable vs internal modules discussion is exactly this.

My concern is that unstable modules are moved to Tier 3, simply because they're unstable and then may never move back, because the development practice has already crystallized.

But that doesn't seem the right way to me. Instead there should be work to gather requirements, come up with a design and then st

[2022-11-21 09:55] ocharles commented on #88
@Bodigrim Will do, thanks for the nudge.

[2022-11-21 13:48] Ericson2314 commented on #70
@Bodigrim I do not think this is blocked on a GHC proposal, I think this is blocked on me making a step 1 merge request for the CLC to vote on.

[2022-11-21 20:26] Bodigrim commented on #105
@chreekat In my opinion the vast majority of `base` should remain Tier 1, selected modules might be downgraded to Tier 2 and Tier 3 is to remain empty. If someone wants to champion downgrading of certain modules, they are very welcome to motivate such change: why specifically is it tedious/difficult/impractical to adhere to the higher standard of scrutiny?

[2022-11-21 23:43] gbaz commented on #105
Bodigrim -- it is not just scrutiny, it is also stability, 3 release policies, etc.

So suppose the GHC team realizes that a field in RTSStats (https://hackage.haskell.org/package/base-4.17.0.0/docs/GHC-Stats.html#t:RTSStats) is meaningless and can be deleted. Are they required to adhere to the three release policy, or can they just go ahead and delete it, bound only by the PVP?

Or suppose it bec

[2022-11-21 23:57] Bodigrim commented on #105
This would be a huge breaking change, affecting lots of core tooling, starting from `criterion`. I think a CLC proposal with an impact analysis would be due.

Again, `GHC.IO.FD` is widely used: `unix`, `ansi-terminal`, `process`, `network`, `haskeline`, etc., so breaking changes to it deserve a CLC proposal.

Agreed.

[2022-11-22 00:16] Bodigrim commented on #91
Dear CLC members, let's vote on the proposal to add a `Functor` superclass to `Bifunctor`:
[code]

The merge request is available at https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9313/diffs. It does not change the default definition of `second` and does not shrink `{-# MINIMAL #-}` set of definitions.

The impact analysis can be found at https://github.com/haskell/core-libraries-committee/is

[2022-11-22 00:35] sjakobi commented on #97
FWIW, improvements to this error message are discussed in https://github.com/haskell/error-messages/issues/526.

[2022-11-22 07:47] tomjaguarpaw commented on #91
-1

----

This proposal is technically a good one. My -1 is not a response to this proposal in particular, but to `Bifunctor` in general, which I don't think we should perpetuate by trying to improve it.

My objection to `Bifunctor` in general is that behaviour that is based on the accident of type parameter ordering seems far too fragile. Besides, where are we going to stop? `Trifunctor`, `Quadra

[2022-11-22 13:53] Ericson2314 commented on #91
@tomjaguarpaw I am also confused why `Bifunctor` was added to `base`, but so long as it is there this design seems strictly better? I would advocate both for this change and removing it from `base`, do you see a contradiction between those?

[2022-11-22 15:19] emilypi commented on #91
+1

While I do think there are better abstractions, like the `FunctorOf` work that @Icelandjack has been working on, I'd rather not let better be the enemy of good; we should improve the existing bifunctor so that we can unblock the addition of `Profunctor` in `base`, which will *significantly deduplicate many repeated parts of the optics ecosystem*. Later, if there are better paradigms, we can ma

[2022-11-22 16:19] Ericson2314 commented on #105
OK great. Let's start small with categorizing just 1 module, `GHC.Base`.

This, more than other other module perhaps, should be a private implementations detail. Though it does export individual items which are eventually (via reexports) *very* public, the `GHC.Base` interfaces themselves should never need to be used publicly, as they contain far too much stuff messily thrown together.

Worse, it

[2022-11-22 22:50] Ericson2314 commented on #105
@Bodigrim I think we actually agree here? I am very much against unwritten lores! That is why I keep on wanting to split `base`!

Heh, I forgot the `\` in the Hackage search.

Perhaps everything in `base` today is in use. Fine. Then we keep exporting those same modules, and add new private ones for the new layer of indirection. Bwe don't make the implementation of `GHC.Base` something like `module

[2022-11-22 23:00] Ericson2314 commented on #105
Basically, if `base` is a "lost case", instead of making a new `ghc-base` *below* it, we can make a new `standard-library-take-2--no-leaky-guts-this-time-fingers-crossed` *above* it. It is very similar except the name of the packages.

[2022-11-23 01:26] Bodigrim commented on #105
To be clear: I'm not against changes in `base` and I agree that a threshold to break something in `GHC.Base` could be pretty low, but I'm against sneaky breakage "oh, we thought no one used it". Rest assured that someone did and you owe them a warning and an explanation, which is basically what CLC proposal is for.

So I'm not even completely convinces that `base` is a lost case (but it's close ;)

[2022-11-23 01:59] clyring commented on #104
I do not think I am well-positioned to personally perform further impact assessment at this time. If more impact assessment is desired, I politely request that someone else try building clc-stackage with [the branch I mentioned in my last comment. (link)](https://gitlab.haskell.org/clyring/ghc/-/tree/dataToTag-class-9.2)

[2022-11-23 04:03] clyring commented on #107
This has been bothering me for a long time. Thanks for making this proposal, @treeowl. I would suggest the following principle:

* For every `NonEmpty` function that is differs from a corresponding `List` function _only_ in the presence of `NonEmpty` in its type, both the `List` and `NonEmpty` functions should have the same strictness properties.

Mostly this is so I don't have to keep two differe

[2022-11-23 06:38] nomeata commented on #107
@treeowl, can you explain why `NonEmpty'` is more natural to you?

(It's not to me - I don't see why I should have to worry about whether there are more elements after the first just to get the first element. But then my personal natural model for a non-empty list type is a refinement type (or, in first approximation, an invariant-protecting newtype) of the list type.)

[2022-11-23 06:59] treeowl commented on #107
@nomeata, I probably said that too strongly. One thing, for me, is that consing and unconsing seem like really basic operations for something I'm calling a list, and for `NonEmpty` those require shuffling elements through different positions, with both potential run-time costs and also the unpleasant question of how strict `cons` should be.

[2022-11-23 09:20] nomeata commented on #107
Oh, absolutely! I share that sentiment, and was one reason I was briefly considering experimenting with a `newtype` based approach for NonEmpty (but abandoned it for deficienies of the module system of Haskell, which means I couldn't protect the invariant as much as I hoped for): https://gitlab.haskell.org/ghc/ghc/-/issues/22270

[2022-11-23 09:32] simonpj commented on #105
Aha!  In my OP for this issue I asked "what is the external API of base"?  And you have now replied.

* The external API of base consists of all the exports of all exposed modules.

Fine. That is a clear answer.    But you say it is "quite unambiguous" and I disagree about taht.  It is clearly obvious to you, but  not to me, nor to other people replying on this thread.  Can I ask that you add to t

[2022-11-23 12:17] Icelandjack commented on #91
@emilypi Adding the superclass also gives a path to evolve `Bifunctor` to a `FunctorOf` representation. The goal of `FunctorOf` is to provide a shared functorial interface and eliminating the need for defining a separate class for each point in the hierarchy. Nobody wants a standalone `Trifunctor` class.

[2022-11-23 16:23] Icelandjack commented on #91
This is not official, only my personal roadmap. It depends on the ability to be able to define proper type class synonyms, which I think of in terms of class frontends and backends. (I will propose this as it's own feature)

The categorical functor provides an amazingly general interface. The problem is writing instances, we want to continue to use `Bifunctor` for backwards compatibility.

[code]

[2022-11-23 16:35] Ericson2314 commented on #105
Yes we'll need documentation, and we'll also need things users cannot forget to read, like various sorts of deprecations.

[2022-11-23 19:55] tomjaguarpaw commented on #104
Is it possible to make this change by introducing a new type class, with a new member, and either `DEPRECATED`ing, or informally deprecating (with some explanation in the Haddocks) the old one? That would avoid the need for an impact assessment.

[2022-11-23 20:21] Bodigrim commented on #104
I don't really think there is anyone affected, the breakage surface is extremely small. I might be able to run impact assessment myself somewhere next week, but no promises.

It's likely to be less churn for the ecosystem to replace `dataToTag#` silently with a more restricted version than deprecate and remove it, which will necessarily require patches. I also doubt it is possible to provide both

[2022-11-23 22:46] Bodigrim commented on #105
You asked to clarify the status quo - and that's what I did. I'm not wedded to it, I'm most keen to hear specific examples, where you suspect this to be more than we can chew.

The key word is "breaking". If you want to add `wombat` to Tier 2 module, or change laziness, or use a different algorithm, or attach a warning, you do not need CLC approval, because all of this are non-breaking changes. Re

[2022-11-24 11:09] simonpj commented on #105
OK. For what it's worth, I am not seeking a distinction between Tier 1 and Tier 2.  Maybe someone else, but I am not.  I'm not sure it gains much.

But I think I didn't articulate my real question clearly enough.  It is this:

* Why aren't all un-exposed modules in Tier 3?  (You say "currently:none").

Indeed in your tier list, none of the "currently" notes coveres un-exposed modules; perhaps an i

[2022-11-25 22:41] Bodigrim commented on #105
Ah, right, an inadverent omission indeed. Modules, marked as `other-modules` according to `base.cabal`, are out of CLC scrutiny.

[2022-11-26 19:37] Bodigrim commented on #91
FWIW the proposal makes `Bifunctor` more restrictive than currently, which is a good thing even (and especially) if you do not like the class itself.

@cgibbard @chreekat @mixphix this is a gentle reminder to vote.

[2022-11-26 19:49] chessai commented on #91
+1

I also think it should be removed, but we should improve the quality of what is already present

[2022-11-27 10:07] tomjaguarpaw commented on #91
+1

----

OK, I am persuaded to change my vote, if that is permitted. The notion of "bifunctor" is a perfectly coherent one, I just don't particularly like the current implementation (and better implementations seem somewhat elusive in the current type system of Haskell). This proposal actually improves the current implementation (although only a small amount) so perhaps best not to oppose it.

N.

[2022-11-27 18:51] Bodigrim commented on #102
I don't see a strong case to replace the existing laws for `Applicative`. They are enshrined in papers, educational materials and QuickCheck libraries (e. g., https://hackage.haskell.org/package/quickcheck-classes-0.6.5.0/docs/Test-QuickCheck-Classes.html#v:applicativeLaws).

One can include a discussion of alternative laws into `Control.Applicative`, somewhere below. I believe such documentation

[2022-11-27 22:55] Bodigrim commented on #26
If someone picks up the proposal, this point requires a more detailed impact assessment.

For instance, is it harmless on Windows? I remember that terminals on Windows 7 used to be in non-Unicode mode by default. Did it get any better in Windows 10?

I've also seen plenty of Docker images, configured by default with en_US locale. Admittedly, you are not expected to run interactive sessions there,

[2022-11-28 11:57] mixphix commented on #91
+1, and thank you for the detailed explanation of `FunctorOf` @Icelandjack !

[2022-11-28 20:55] Bodigrim commented on #91
This gives us 5 votes in favor out of possible 6, so the proposal is approved. Thanks all!

[2022-11-28 20:55] #91 closed

[2022-11-29 00:17] Bodigrim commented on #26
Closing as abandoned. Happy to reopen if someone is serious to take over.

[2022-11-29 00:17] #26 closed

[2022-11-29 00:19] Bodigrim commented on #81
@davidsd if there is no progress on this proposal, I'll close it as abandoned in two weeks.

[2022-11-29 00:31] Bodigrim commented on #91
@Topsii one last thing, could you please prepare a migration guide for this breaking change? You can probably use https://github.com/haskell/core-libraries-committee/blob/main/guides/functor-combinator-instances-and-class1s.md as a template.

[2022-11-29 09:05] ocharles commented on #88
@Bodigrim Done: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9434

[2022-11-29 17:35] phadej commented on #99
MR: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/9441

[2022-11-30 20:25] phadej commented on #98
Also this should wait until `heqT` #99 is decided upon, as it would make sense to have `hdecT`.